<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="google-site-verification" content="8X_8QzD4bZxyaCY1dA-h_IbHT_1aIVhsuTgc_8KGDzo" />
<script src="{{asset 'infoBoxWording.js'}}"></script>
<script src="{{asset 'dynamicWording.js'}}"></script>
<div id="customDGStyle"></div>
<div id="webWidget"></div>


<script>
  $( ".widgetDigitec" ).remove();
  waitForChat();
  
    var WidgetURL;
    if(window.location.hostname !="helpcenter.digitec.ch"){
              $("#customDGStyle").html('<link href="{{asset 'galaxus-styles.css'}}" rel="stylesheet" type="text/css"/>')
              $('[rel="shortcut icon"]').attr("href", "{{asset 'fav_galaxus.png'}}");
              //$("#webWidget").html('<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=18dfacef-9aec-49ae-bbe4-0bcd883ef859"/><//script>')
                
    }
    else{
              $("#customDGStyle").html('<link href="{{asset 'digitec-styles.css'}}" rel="stylesheet" type="text/css"/>')
              $('[rel="shortcut icon"]').attr("href", "{{asset 'fav_digitec.png'}}");
                    //$("#webWidget").html('<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=c3b964cb-d956-44fd-a01e-05987c5d9fe4"/><//script>')
    }   
  
</script>