<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="google-site-verification" content="8X_8QzD4bZxyaCY1dA-h_IbHT_1aIVhsuTgc_8KGDzo" />
<script src="{{asset 'infoBoxWording.js'}}"></script>
<script src="{{asset 'dynamicWording.js'}}"></script>
<div id="customDGStyle"></div>

<script>
    if(window.location.hostname !="digitec1547742938.zendesk.com/"){
  			$("#customDGStyle").html('<link href="{{asset 'galaxus-styles.css'}}" rel="stylesheet" type="text/css"/>')
  			$('[rel="shortcut icon"]').attr("href", "{{asset 'fav_galaxus.png'}}");
    }
    else{
  			$("#customDGStyle").html('<link href="{{asset 'digitec-styles.css'}}" rel="stylesheet" type="text/css"/>')
  			$('[rel="shortcut icon"]').attr("href", "{{asset 'fav_digitec.png'}}");
    }   
</script>