<meta name="description" />
<meta name="robots" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="google-site-verification" content="8X_8QzD4bZxyaCY1dA-h_IbHT_1aIVhsuTgc_8KGDzo" />
<div id="customDGStyle"></div>
<div id="webWidget" class="webWidgetDiv"></div>
<!--<link rel="icon" type="image/x-icon" href="{{asset 'fav_galaxus.png'}}">-->

<script src="{{asset 'holidaysAndSwitches.js'}}"></script>
<script src="{{asset 'infoBoxWording.js'}}"></script>
<script src="{{asset 'dynamicWording.js'}}"></script>
<script src="{{asset 'chat.js'}}"></script>
<script src="{{asset 'contactChannelOrdering.js'}}"></script>
<script src="{{asset 'callbackFunctions.js'}}"></script>
<script src="{{asset 'timeChecks.js'}}"></script>

<script>
//const webWidgetDiv = $(".webWidgetDiv")
var link = document.createElement('link');
link.setAttribute("rel", "stylesheet");
link.setAttribute("type", "text/css");
link.onload = showBody();
	  
  var WidgetURL;
  if(window.location.hostname !="helpcenter.digitec.ch" && window.location.hostname !="helpcenter.connect.digitec.ch" && window.location.hostname !="digitec.zendesk.com"){
  	link.setAttribute("href", "{{asset 'galaxus-styles.css'}}");
    $('[rel="icon"]').attr("href", "{{asset 'fav_galaxus.png'}}");
    $("#webWidget").html('<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=c3b964cb-d956-44fd-a01e-05987c5d9fe4"/><//script>')
    }else{
			link.setAttribute("href","{{asset 'digitec-styles.css'}}");
      $('[rel="icon"]').attr("href", "{{asset 'fav_digitec.png'}}");
      $("#webWidget").html('<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=18dfacef-9aec-49ae-bbe4-0bcd883ef859"/><//script>')
    }   
//webWidgetDiv.hide()
///////////////////////////////////////////////////////////////////////Zopim Integration/////////////////////////////////////////////////////////////////
//Zopim integration Ausgelagert in Chat.js
let gaSend = false;
try {
  waitForChat();
}
catch (e) {
  console.log(e);
  if(gaSend){
    ga('send', 'event', 'Errors', 'ChatInitialLoad', String(e));
  }
}

$("#customDGStyle").html(link)

function showBody(){
	$(document.body).css("visibility", "visible");
}
  
</script>



