</div>
<header class="header">
  <div class="logo">
    <a id="logoAnchor" href="https://helpcenter.mobile.galaxus.ch/hc">
    <!--hideUnder650-->
    <img class="hideUnder650" src="{{asset 'galaxus_mobile.svg'}}" width="228px">
    <img class="hideOver651" src="{{asset 'galaxus_mobile_small.svg'}}" width="96px">
    </a>  

  </div>
  <div class="backtoshop" style="margin-left:auto;padding-right:25px;font-weight:300" data-wording-key="toShop"></div>
     <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>

    
  <!--<div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>-->

</header>

    <div class="bannerInfo" id="bannerSchalter">
    <div class="bannerInfo__content">
    <img src="{{asset 'infoiconBannerWhite.png'}}">
      &nbsp;&nbsp;
      <div id="bannerInfo__text" class="bannerInfo__Classtext" contenteditable="false">
      </div>
      <!--<button class="bannerInfo__close" id="bannerInfo__closeID" type="button">
        <span class="material-icons">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          x
        </span>
      </button>-->
      <!--<button id="editBanner" class="bannerInfo__edit" type="button">
        <span class="material-icons" id="bannerButtonText">
          edit
        </span>
      </button>
            <button id="saveBanner" class="bannerInfo__save" type="button">
        <span class="material-icons" id="bannerButtonText">
          save
        </span>
      </button>-->
    </div>
  </div>

<script type="text/javascript" >

//href -> Link dynamisch nach Hostname ersetzen;
// innerHTML -> gibt das Logo in svg an
let portal = window.location.hostname;
let gaSend = false;

let tempLink = window.location.href;
let upperCaseChecker = false;
console.log(tempLink)

//for (const c of tempLink){
//  console.log('enter')
//  if (c == c.toUpperCase() && c.match(/[a-z]/i)) {
//    console.log('enteeeeeeeeeeerrr')
//    upperCaseChecker = true;
//  }
//}d

//if (upperCaseChecker){
//  window.location.href = tempLink.toLowerCase();
//}

if (tempLink.includes('de-CH')){
  window.location.href = tempLink.substring(0, tempLink.length - 3);
}

gaSend = true;           



var currentLanguage = $('html').attr('lang');
var topBannerWording = fillTopBannerWording();

setMetaDescription();

/*console.log(currentLanguage);*/

var headingBanner=topBannerWording['outputHeadingBanner'][currentLanguage];
var textBanner=topBannerWording['outputTextBanner'][currentLanguage];

/*console.log(topBannerWording);
console.log(window.location.hostname);*/


/****************banner****************/

/////////////////////Banner Einschalten/Auschalten///////////////////
var bannerSwitch; //true=an, false=aus, FÜR ALLE DOMAINS

switch (currentLanguage){
  case 'de':
    bannerSwitch = bannerSwitchDE
    break;
  case 'fr':
    bannerSwitch = bannerSwitchFR
    break;
  case 'it':
    bannerSwitch = bannerSwitchIT
    break;
  case 'en-US':
    bannerSwitch = bannerSwitchEN
    break;
}

////////////////////////////////////////////////////////////////////

document.getElementById('bannerInfo__text').innerHTML="<strong>" + headingBanner + ":</strong><br> " + textBanner;


if(bannerSwitch){
  $('#bannerSchalter').show();
}else{
  $('#bannerSchalter').hide();
}

function setMetaDescription(){
  switch(currentLanguage){
    case 'de':
      document.querySelector('meta[name="description"]').setAttribute("content", 'Du brauchst Hilfe? Auf unserem Helpcenter beantworten wir deine Fragen rund um Bestellungen, Gutscheine, Gutschriften, Versand und Rückgabe.');
      break;
    case 'fr':
      document.querySelector('meta[name="description"]').setAttribute("content", "Tu as besoin d'aide ? Sur notre Helpcenter, nous répondons à tes questions concernant les commandes, les bons d'achat, les crédits, l'expédition et les retours.");
      break;
    case 'it':
      document.querySelector('meta[name="description"]').setAttribute("content", "Hai bisogno di aiuto? Nel nostro centro di assistenza rispondiamo alle tue domande su ordini, buoni, crediti, spedizioni e resi.");
      break;
    default:
      document.querySelector('meta[name="description"]').setAttribute("content", "Need help? On our help center we answer your questions about orders, vouchers, credits, shipping and returns.");
      break;
  }
  if (window.location.href.includes('requests')){
    document.querySelector('meta[name="robots"]').setAttribute("content", 'noindex');
  }
}
</script>

