<head>
  <meta charset="utf-8">
  <title id="seitenTitel">Helpcenter</title>
  <meta name="description" content="Du brauchst Hilfe? Auf unserem Helpcenter beantworten wir deine Fragen rund um Bestellungen, Gutscheine, Gutschriften, Versand und Rückgabe.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>





<section class="section hero" style="margin-bottom:0px">
  <div class="hero-inner">
    <h2 style="margin-bottom:20px;"><font class='searchBoxText' data-wording-key='searchBoxText' style="color:black; margin-botton:20px;"></font></h2>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section> 
    
<div class="container">
    <!-- <div class='infoNoteBox' style='background-color: #f2d13a; bottom:0; position: center; margin-bottom:60px'>
      <table width='100%'><tr><th align='center' width='100%'><font class='infoNoteText' data-wording-key='infoNoteText' style='text-alignment:center;' color='black'></font></th></tr></table> 
	</div>	-->
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <div align="center"><table><tr><td class="blocks-item-inner-table-cell"></td><td class="blocks-item-inner-table-cell-2"><h4 class="blocks-item-title">{{name}}</h4></td></tr></table></div>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <!--{{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}-->

  <!--<section class="section activity">
    {{recent_activity}}
  </section>-->
</div>

<div class="container ticketsubmitconfirmation">
<div class="form">
<h2 style="margin-top:50px" data-wording-key="ticketSubmitConfirmationTitle"></h2>
<font style="color:#218521" data-wording-key="ticketSubmintConfirmationTextPt1"></font><font data-wording-key="ticketSubmintConfirmationTextPt2"></font><b id="dgCustomerEmail"></b><font data-wording-key="ticketSubmintConfirmationTextPt3"></font>
<font id="backToHelpcenter"></font>
</div></div>

<div class="container callbacksubmitconfirmation">
<div class="form">
<h2 style="margin-top:50px" data-wording-key="callbackSubmitConfirmationTitle"></h2>
<font style="color:#218521" data-wording-key="callbackSubmintConfirmationTextPt1"></font><font data-wording-key="callbackSubmintConfirmationTextPt2"></font></font><b id="dgCustomerPhone"></b><font data-wording-key="callbackSubmintConfirmationTextPt3"></font>
<font id="backToHelpcenter2"></font>
</div></div>


  <script>
  var fullLink = window.location.href;
  console.log
  $('.ticketsubmitconfirmation').hide();
  $('.callbacksubmitconfirmation').hide();
  
  //?return_to=%2Fhc%2Frequests
  if (fullLink.includes('requests') && sessionStorage.getItem('dgCustomerEmail') !== null){
  //if(true){
      $('#dgCustomerEmail')[0].innerHTML = sessionStorage.getItem('dgCustomerEmail')
      $('#backToHelpcenter')[0].innerHTML = "<a href='/hc' data-wording-key='backToHelpcenter'>"
      var container = $('.container')
      var hero = $('.hero')
      container.hide()
      hero.hide();
      $('.ticketsubmitconfirmation').show();
      sessionStorage.removeItem('dgCustomerEmail');
  }
  if (fullLink.includes('callbackreturn=yes') && sessionStorage.getItem("callbackReturn") !== null){
      $('#dgCustomerPhone')[0].innerHTML = sessionStorage.getItem('callbackCustomerPhone')
      $('#backToHelpcenter2')[0].innerHTML = "<a href='/hc' data-wording-key='backToHelpcenter'>"
      var container = $('.container')
      var hero = $('.hero')
      container.hide()
      hero.hide();
      $('.callbacksubmitconfirmation').show();
      sessionStorage.removeItem('callbackReturn');
      sessionStorage.removeItem('callbackCustomerPhone');
  }

  var elements = document.getElementsByClassName('blocks-item-title');
  var elements2 = document.getElementsByClassName('blocks-item-inner-table-cell');
  var pixelheight = "24"
  for (index = 0; index < elements.length; index++){
		switch(elements[index].innerHTML.toString().toLowerCase()){
			case 'bestellungen':
			case 'orders':
			case 'commandes':
			case 'ordini':
				elements2[index].innerHTML = '<img src="{{asset 'shopping-cart.png'}}" height="' + pixelheight + 'px">';
				break;
      case 'bezahlung':
			case 'payment':
			case 'paiement':
			case 'pagamento':
				elements2[index].innerHTML = '<img src="{{asset 'orders-and-payment.png'}}" height="' + pixelheight + 'px">';
				break;
      case 'rückerstattung': //Temporär hier bis eigenes Icon
      case 'refund': // Temporär hier bis eigenes Icon
      case 'remboursement': // Temporär hier bis eigenes Icon
      case 'rimborso': // Temporär hier bis eigenes Icon
        elements2[index].innerHTML = '<img src="{{asset 'refund.png'}}" height="' + pixelheight + 'px">';
        break;
      case 'rückgabe und gewährleistung':
      case 'rückgabe &amp; gewährleistung':
      case 'garantie &amp; rückgabe': 
			case 'warranty &amp; return':
			case 'garantie &amp; retour':
			case 'resi e garanzia':
				elements2[index].innerHTML = '<img src="{{asset 'arrows.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'dienstleistungen &amp; services': 
			case 'additional services':
			case 'prestations &amp; services':
			case 'prestazioni e servizi':
				elements2[index].innerHTML = '<img src="{{asset 'wrench.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'kundenkonto': 
      case 'benutzerkonto':
			case 'customer account':
			case 'compte client':
			case 'conto cliente':
				elements2[index].innerHTML = '<img src="{{asset 'customer-account.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'digitec connect':
      case 'digitec connect ': 
				elements2[index].innerHTML = '<img src="{{asset 'simcard.png'}}" height="' + pixelheight + 'px">';
			default:
				break;
		}
	}

/////////////TITLE/////////////////

  if(window.location.hostname !="helpcenter.digitec.ch" && window.location.hostname !="helpcenter.connect.digitec.ch"){
    $("#seitenTitel").prop('title', 'Galaxus Helpcenter');
    $("#seitenTitel").html('Galaxus Helpcenter');
  }else{
    $("#seitenTitel").prop('title', 'digitec Helpcenter');
    $("#seitenTitel").html('digitec Helpcenter');
  }
  
</script>

