<section class="section hero" style="margin-bottom:0px">
  <div class="hero-inner">
    {{search submit=false instant=true class='search search-full'}}
  </div>
 <div class='searchBoxNote' style='top:-5%; position: relative;' >
  	<a class='searchBoxText' data-wording-key='searchBoxText'></a>
  </div>
</section> 
    
<div class="container">
    <!-- <div class='infoNoteBox' style='background-color: #f2d13a; bottom:0; position: center; margin-bottom:60px'>
      <table width='100%'><tr><th align='center' width='100%'><font class='infoNoteText' data-wording-key='infoNoteText' style='text-alignment:center;' color='black'></font></th></tr></table> 
	</div>	-->
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <div align="center"><table><tr><td class="blocks-item-inner-table-cell"></td><td class="blocks-item-inner-table-cell-2"><h4 class="blocks-item-title">{{name}}</h4></td></tr></table></div>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <!--{{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}-->

  <!--<section class="section activity">
    {{recent_activity}}
  </section>-->

  <script>
  var elements = document.getElementsByClassName('blocks-item-title');
  var elements2 = document.getElementsByClassName('blocks-item-inner-table-cell');
  var pixelheight = "24"
  for (index = 0; index < elements.length; index++){
		switch(elements[index].innerHTML.toString()){
			case 'Bestellungen':
			case 'Orders':
			case 'Commandes':
			case 'Ordini':
				elements2[index].innerHTML = '<img src="{{asset 'shopping-cart.png'}}" height="' + pixelheight + 'px">';
				break;
      case 'Bezahlung':
			case 'Payment':
			case 'Paiement':
			case 'Pagamento':
				elements2[index].innerHTML = '<img src="{{asset 'orders-and-payment.png'}}" height="' + pixelheight + 'px">';
				break;
      case 'Rückgabe &amp; Gewährleistung':
      case 'Garantie &amp; Rückgabe': 
			case 'Warranty &amp; return':
			case 'Garantie &amp; retour':
			case 'Resi e garanzia':
				elements2[index].innerHTML = '<img src="{{asset 'arrows.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'Dienstleistungen &amp; Services': 
			case 'Additional services':
			case 'Prestations &amp; services':
			case 'Prestazioni e servizi':
				elements2[index].innerHTML = '<img src="{{asset 'wrench.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'Kundenkonto': 
			case 'Customer account':
			case 'Compte client':
			case 'Conto cliente':
				elements2[index].innerHTML = '<img src="{{asset 'customer-account.png'}}" height="' + pixelheight + 'px">';
				break;
			case 'digitec connect':
      case 'digitec connect ': 
				elements2[index].innerHTML = '<img src="{{asset 'simcard.png'}}" height="' + pixelheight + 'px">';
			default:
				break;
		}
	}
  
</script>

</div>
