<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>
  <button onclick="showFullMailForm()">showFullMailForm</button>
  <button onclick="hideIntroText()">hideIntroText</button>
  <button onclick="hideInfoTextField()">hideInfoTextField</button>
  <button onclick="hideContactInfos()">hideContactInfos</button>
  <button onclick="hideCustomerTypeDropdown()">hideCustomerTypeDropdown</button>
  <button onclick="hideRequestReasonDropdown()">hideRequestReasonDropdown</button>
  <button onclick="hideMailFormOrderNumber()">hidemailFormOrderNumber</button>
  <button onclick="hideMailFormSubject()">hidemailFormSubject</button>
  <button onclick="hideMailFormMessage()">hidemailFormMessage</button>
  <button onclick="hideMailFormAttachmentLabel()">hideMailFormAttachmentLabel</button>
  <button onclick="hideMailFormAttachmentDropzone()">hideMailFormAttachmentDropzone</button>
  <button onclick="hideCommitButton()">hideCommitButton</button>
  <br><br>
  <button onclick="hideMailFormSubjectLabel()">hideMailFormSubjectLabel</button>
  <button onclick="hideMailFormSubjectTextField()">hideMailFormSubjectTextField</button>
  <button onclick="hideMailFormMessageLabel()">hideMailFormMessageLabel</button>
  <button onclick="hideMailFormMessageTextField()">hideMailFormMessageTextField</button>
  <br>
  <button onclick="fillMailFormSubjectLabel()">fillMailFormSubjectLabel</button>
  <button onclick="fillMailFormSubjectTextField()">fillMailFormSubjectTextField</button>
  <button onclick="fillMailFormMessageLabel()">fillMailFormMessageLabel</button>
  <button onclick="fillMailFormMessageTextField()">fillMailFormMessageTextField</button>
  <br>
  <button onclick="readonlyMailFormSubjectTextField()">readonlyMailFormSubjectTextField</button>

  <div class="form requestform" id="requestForm">
    <h4 class="contactFormInfoText2" data-wording-key="contactFormInfoText"></h4>
    <div class="contactFormNote">
      <div class="contactFormText">
        <h2><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></h2>
        <h4><div class="contactFormTextInfo"></div></h4>
        <!--<h4></h4>-->
      </div>
    </div>
    {{chat}}

    <!-- CONTACT FORM TABLES -->
    <div class="contactFormTextNoBorder">
      <table>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder" border="0"><h2><div data-wording-key="questionNotAnswered"></div></h2></td>
        </tr>
      </table>
      <!-- DESKTOP TABLE -->
      <table class="contactFormTextNoBorder nomobile hideUnder767" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeft"><h4 data-wording-key="email"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder"><h4 data-wording-key="phone"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><h4 class="chatLabel" data-wording-key="chat"></h4><div class="recommendedChannel" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="button-contact phone-number private-number private-customer" data-wording-key="callUsPrivate"></div><div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div><div class="contact-info business-customer" data-wording-key="openingHoursBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div></td>
        </tr>
      </table>
      <!-- MOBILE TABLE -->
      <table class="contactFormTextNoBorder mobile hideOver768" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder"><p class="font1" data-wording-key="email"></p></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key"callUsPrivateMobile"></div><div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key="callUsPrivateMobile"></div> <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder chatTableCell"><p class="font1 chatMobile">Chat</p><div class="recommendedChannel recommendedChatMobile" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
      </table>
    </div>
    <!-- AUTOMATED FORM -->
    {{request_form}}
  </div>
</div>

<script>
  //The form is fully hidden initially

  //Set up all needed variables
  var portal = window.location.hostname;
  var fullLink = window.location.href;
  var infoBoxWording = fillInfoBoxWording();
  var customerType;  //Für Privat, business oder connect
  var currentLanguage = $('html').attr('lang');
  var header = $('#HeaderID');
  var fullMailform = $('.requestform');  //Whole Mail Form
  var introText = $('.contactFormInfoText2');
  var customerTypeDropdown = $('.request_ticket_form_id');
  var requestReasonDropdown;
  var requestReasonTag;
  var infoTextField = $('.contactFormText');
  var contactInfos = $('.contactFormTextNoBorder');
  var infoTextField = $('.contactFormNote');
  var infoText = $('.contactFormTextInfo');

  //business & private Kontaktangaben
  var privateContact = $('.private-customer');
  var businessContact = $('.business-customer')

  //Mailform fields, with label and Input field
  var mailFormOrderNumber;  //Order number, not on digitec Connect
  var mailFormConnectNumber;  //Phone number, digitec Connect only
  var mailFormSubject = $('.request_subject');
  var mailFormMessage = $('.request_description');
  var commitButton = $('input[name ="commit"]');
  //Mailform fields, labels and input fields separated
  var mailFormAttachmentDropZone = $('#upload-dropzone');
  var mailFormAttachmentLabel = $('label[for="request-attachments"]')
  var mailFormSubjectLabel = $('#request_subject_label');
  var mailFormSubjectTextField = $('#request_subject');
  var mailFormMessageLabel = $('#request_description_label');
  var mailFormMessageTextField = $('#request_description');

  //Kundentyp setzen
  if (fullLink.includes('39231')){
    customerType = 'private'
  }
  if (fullLink.includes('360000554760')){
    customerType = 'business'
  }
  if (fullLink.includes('360002056120')){
    customerType = 'connect'
  }

  switch (portal){
    case 'helpcenter.digitec.ch':
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      mailFormOrderNumber = $('.request_custom_fields_360007585419');
      requestReasonDropdownContents = $('#request_custom_fields_360014169819');
      infoTextField.insertAfter(requestReasonDropdown);
      contactInfos.insertAfter(infoTextField);
      regularHelpcenterEntryPoint();
      break;
    case 'helpcenter.galaxus.ch':
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      mailFormOrderNumber = $('.request_custom_fields_360007585419');
      regularHelpcenterEntryPoint();
      break;
    case 'helpcenter.galaxus.de':
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      mailFormOrderNumber = $('.request_custom_fields_360007585419');
      regularHelpcenterEntryPoint();
      break;
    case 'helpcenter.connect.digitec.ch':
      connectHelpcenter();
      break;
    default:
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      mailFormOrderNumber = $('.request_custom_fields_360007585419');
      regularHelpcenterEntryPoint();
      break;
  }

  fullMailform.show();

  function regularHelpcenterEntryPoint(){
    introText.show();
    customerTypeDropdown.show();
    requestReasonDropdown.show();
    infoTextField.hide();
    contactInfos.hide();
    mailFormOrderNumber.hide();
    mailFormSubject.hide();
    mailFormMessage.hide();
    mailFormAttachmentDropZone.hide();
    mailFormAttachmentLabel.hide();
    commitButton.hide();
  }
  
  //Aktion bei Änderung des RequestReasonDropdown
  requestReasonDropdown.on('change', function(){
    if (requestReasonDropdownContents.attr('value') != ''){
      onDropdownChange();
    }
  });
  function onDropdownChange(){
    requestReasonTag = requestReasonDropdownContents.attr('value');
    console.log(requestReasonTag);
    infoTextField.show();
    infoText.html(infoBoxWording[requestReasonTag][currentLanguage]);
    contactInfos.show();
    privateContact.show();
  }  













  //FUNCTIONS FOR TEST BUTTONS
  function showFullMailForm(){
  	fullMailform.show()
  }

  function hideCustomerTypeDropdown(){
    customerTypeDropdown.hide()
  }

  function hideRequestReasonDropdown(){
    requestReasonDropdown.hide()
  }

  function hideInfoTextField(){
    infoTextField.hide();
  }

  function hideContactInfos(){
    contactInfos.hide();
  }

  function hideIntroText(){
    introText.hide();
  }

  function hideMailFormOrderNumber(){
    mailFormOrderNumber.hide()
  }

  function hideMailFormSubject(){
    mailFormSubject.hide();
  }

  function hideMailFormMessage(){
    mailFormMessage.hide();
  }

  function hideMailFormAttachmentLabel(){
    mailFormAttachmentLabel.hide();
  }

  function hideMailFormAttachmentDropzone(){
    mailFormAttachmentDropZone.hide();
  }

  function hideMailFormSubjectLabel(){
    mailFormSubjectLabel.hide();
  }

  function hideMailFormSubjectTextField(){
    mailFormSubjectTextField.hide();
  }

  function hideMailFormMessageLabel(){
    mailFormMessageLabel.hide();
  }

  function hideMailFormMessageTextField(){
    mailFormMessageTextField.hide();
  }

  function fillMailFormSubjectLabel(){
    mailFormSubjectLabel.html('aaaa');
  }

  function fillMailFormSubjectTextField(){
    mailFormSubjectTextField.val('aaaa');
  }

  function fillMailFormMessageLabel(){
    mailFormMessageLabel.html('aaaa');
  }

  function fillMailFormMessageTextField(){
    mailFormMessageTextField.val('aaaa');
  }

  function readonlyMailFormSubjectTextField(){
    mailFormSubjectTextField.prop('readonly', true);
  }

  function hideCommitButton(){
    commitButton.hide();
  }
</script>