<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>
  <button onclick="showFullMailForm()">showFullMailForm</button>
  <button onclick="hideIntroText()">hideIntroText</button>
  <button onclick="hideCustomerTypeDropdown()">customerTypeDropdown</button>
  <button onclick="hideRequestReasonDropdown()">hideRequestReasonDropdown</button>
  <button onclick="hideContactInfos()">hideContactInfos</button>
  <button onclick="hideInfoText()">hideInfoText</button>
  <button onclick="hidemailFormOrderNumber()">hidemailFormOrderNumber</button>
  <button onclick="hidemailFormSubject()">hidemailFormSubject</button>
  <button onclick="hidemailFormMessage()">hidemailFormMessage</button>
  <button onclick="hidemailFormAttachments()">mailFormAttachments</button>

  <div class="form requestform" id="requestForm">
    <h4 class="contactFormInfoText2" data-wording-key="contactFormInfoText"></h4>
    <div class="contactFormNote">
      <div class="contactFormText">
        <h2><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></h2>
        <h4><div class="contactFormTextInfo"></div></h4>
        <!--<h4></h4>-->
      </div>
    </div>
    {{chat}}

    <!-- CONTACT FORM TABLES -->
    <div class="contactFormTextNoBorder">
      <table>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder" border="0"><h2><div data-wording-key="questionNotAnswered"></div></h2></td>
        </tr>
      </table>
      <!-- DESKTOP TABLE -->
      <table class="contactFormTextNoBorder nomobile" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeft"><h4 data-wording-key="email"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder"><h4 data-wording-key="phone"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><h4 class="chatLabel" data-wording-key="chat"></h4><div class="recommendedChannel" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="button-contact phone-number private-number private-customer" data-wording-key="callUsPrivate"></div><div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div><div class="contact-info business-customer" data-wording-key="openingHoursBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div></td>
        </tr>
      </table>
      <!-- MOBILE TABLE -->
      <table class="contactFormTextNoBorder mobile" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder"><p class="font1" data-wording-key="email"></p></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key"callUsPrivateMobile"></div><div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key="callUsPrivateMobile"></div> <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder chatTableCell"><p class="font1 chatMobile">Chat</p><div class="recommendedChannel recommendedChatMobile" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
      </table>
    </div>
    <!-- AUTOMATED FORM -->
    {{request_form}}
  </div>
</div>

<script>
  //The form is fully hidden initially

  //Set up all needed variables
  var portal = window.location.hostname
  var currentLanguage = $('html').attr('lang');
  var introText = $('.contactFormInfoText2');
  var customerTypeDropdown = $('.request_ticket_form_id');
  var requestReasonDropdown = $('.request_custom_fields_360014169819');
  var infoText = $('.contactFormText');
  var contactInfos = $('.contactFormTextNoBorder');

  //Whole Mail Form
  var fullMailform = $('.requestform');
  //Mailform fields, with label and Input field
  var mailFormOrderNumberLabel = $('.request_custom_fields_360007585419');
  var mailFormSubject = $('.request_subject');
  var mailFormMessage = $('.request_description');
  var mailFormAttachmentDropZone = $('#upload-dropzone');
  var mailFormAttachmentLabel = $('label[for="request-attachments"]')
  var commitButton = $('input[name ="commit"]')
  //Mailform fields, labels and input fields separated
  var mailFormSubjectLabel = $('.request_subject_label');
  var mailFormSubjectTextField = $('.request_subject');
  var mailFormMessageLabel = $('.request_description_label');
  var mailFormMessageTextField = $('.request_description')


  switch (portal){
    case 'helpcenter.digitec.ch':
      var requestReasonDropdown = $('.request_custom_fields_360014169819');
      regularHelpcenter();
      break;
    case 'helpcenter.galaxus.ch':
      var requestReasonDropdown = $('.request_custom_fields_360014169819');
      regularHelpcenter();
      break;
    case 'helpcenter.galaxus.de':
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      regularHelpcenter();
      break;
    case 'helpcenter.connect.digitec.ch':
      connectHelpcenter();
      break;
    default:
      requestReasonDropdown = $('.request_custom_fields_360014169819');
      regularHelpcenter();
      break;
  }

  function regularHelpcenter(){

  }

  function showFullMailForm(){
  	fullMailform.show()
  }

  function hideCustomerTypeDropdown(){
    customerTypeDropdown.hide()
  }

  function hideRequestReasonDropdown(){
    requestReasonDropdown.hide()
  }

  function hideInfoText(){
    infoText.hide();
  }

  function hideContactInfos(){
    contactInfos.hide();
  }

  function hideIntroText(){
    introText.hide();
  }

  function hidemailFormOrderNumber(){
    mailFormOrderNumber.hide()
  }

  function hidemailFormSubject(){
    mailFormSubjectLabel.hide();
  }

  function hidemailFormMessage(){
    mailFormMessage.hide();
  }

  function hidemailFormAttachments(){
    mailFormAttachments.hide();
  }
</script>