<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>
  
  <div class="form requestform" id="requestForm">
    <font class="contactFormInfoTextClass regular" data-wording-key="contactFormInfoText"></font><font class="fallbackInfoText regular" data-wording-key="fallbackInfoText"></font><font class='dummyElem'></font><br><br>
    <!-- AUTOMATED CHAT -->
    {{chat}}


    <!-- PROGRESS BAR TESTING &#10003 -->

    <table class="progressTable">
        <tr class="connectHide">
            <td class="circleOpenStep" id="circle1">1</td>
            <td style="padding-left:10px; max-width:100%;"><b data-wording-key="chooseCustomerGroup"></b></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr class="connectHide">
            <td class="line"><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px"><div id="inserter"></div></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle2">2</td>
            <td style="padding-left:10px"><b data-wording-key="chooseRequestReason"></b></td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px">
              <div id="inserter2"></div>
              <div class="contactFormNote">
                <div class="contactFormText">
                  <b><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></b>
                  <div class="contactFormTextInfo"></div>
                </div>
              </div>
            </td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle3">3</td>
            <td style="padding-left:10px">
              <b data-wording-key="contactOptions" class="circle3Title"></b>
              <b data-wording-key="email" class="circle3Title2"></b>
              <b data-wording-key="callback" class="circle3Title3"></b>
            </td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-top:0px">

              <!-- DESKTOP CONTACT TABLE -->
              <table width="100%" class="contactInfos hideUnder650" id="desktopContactTable">
                <tr>
                  <td width="33%" style="padding-right:20px;padding-top:15px"><div id="mailIconCellContent"><img src="{{asset 'mailIcon.png'}}" height="20px"></div><div id="row1cell1inserter"></div></td>
                  <td width="33%" style="padding-right:10px;padding-left:10px;padding-top:15px"><div id="phoneIconCellContent"><img src="{{asset 'phoneIcon.png'}}" height="20px"></div><div id="row1cell2inserter"></div></td>
                  <td width="33%" style="padding-left:20px;padding-top:15px"><div id="chatIconCellContent"><img src="{{asset 'chatIcon.png'}}" height="20px">&nbsp;&nbsp;<div class="recommendedChannel" data-wording-key="recommendedChannel" style=""></div></div><div id="row1cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px"><div id="mailTitleCellContent"><b data-wording-key="email"></b></div><div id="row2cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px"><div id="phoneTitleCellContent"><div class="nocallback"><b data-wording-key="phone"></b></div><div class="callback"><b data-wording-key="callback"></b></div></div><div id="row2cell2inserter"></div></td>
                  <td style="padding-left:20px"><div id="chatTitleCellContent"><b data-wording-key="chat"></b></div><div id="row2cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px;vertical-align:top"><div id="mailTextCellContent"><font data-wording-key="emailDescription"></div><div id="row3cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;vertical-align:top">
                    <div id="phoneTextCellContent">
                      <div class="nocallback">
                        <div class="private-customer connect-customer"><font data-wording-key="openingDaysPrivate"></font><font data-wording-key="openingHoursPrivate"></font><font data-wording-key="openingDaysPrivate2"></font><font data-wording-key="openingHoursPrivate2"></font></div>
                        <div class="business-customer"><font data-wording-key="openingDaysBusiness"></font><font data-wording-key="openingHoursBusiness"></font><font data-wording-key="openingDaysBusiness2"></font><font data-wording-key="openingHoursBusiness2"></font></div>
                      </div>
                      <div class="callback">
                        <!--<font data-wording-key="openingDaysPrivate"></font><font data-wording-key="openingHoursPrivate"></font><font data-wording-key="openingDaysPrivate2"></font><font data-wording-key="openingHoursPrivate2"></font>
                        <br>--><font data-wording-key="callbackTime"></font>
                      </div>
                    </div>
                    <div id="row3cell2inserter"></div>
                  </td>
                  <td style="padding-left:20px;vertical-align:top">
                    <div id="chatTextCellContent">
                      <div class="private-customer connect-customer"><font data-wording-key="openingDaysPrivateChat"></font><font data-wording-key="openingHoursPrivateChat"></font><font data-wording-key="openingDaysPrivate2Chat"></font><font data-wording-key="openingHoursPrivate2Chat"></font><!--<br><font data-wording-key="chatLanguage"></font><font data-wording-key="chatLanguage2"></font>--></div>
                      <div class="business-customer"><font data-wording-key="openingDaysBusinessChat"></font><font data-wording-key="openingHoursBusinessChat"></font><font data-wording-key="openingDaysBusiness2Chat"></font><font data-wording-key="openingHoursBusiness2Chat"></font><!--<br><font data-wording-key="chatLanguage"></font><font data-wording-key="chatLanguage2"></font>--></div>
                    </div>
                    <div id="row3cell3inserter"></div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-right:20px;padding-top:10px"><div id="mailButtonCellContent"><div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div></div></div><div id="row4cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;padding-top:10px">
                    <div id="phoneButtonCellContent">
                      <div class="nocallback">
                        <div class="button-contact phone-number private-number private-customer connect-customer" data-wording-key="callUsPrivate"></div>
                        <div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div>
                        <div class="button-contact phone-number phone-number-callback callback-number" data-wording-key="callUsCallback"></div>
                      </div>
                      <div class="callback">
                        <div class="button-contact callbackbutton" data-wording-key="callbackText"></div>
                        <!--<div class="button-contact callbackbutton-offline button-offline" data-wording-key="chatNotOnline"></div>-->
                      </div>
                    </div>
                    <div id="row4cell2inserter"></div></td>
                  <td style="padding-left:20px;padding-top:10px"><div id="chatButtonCellContent"><div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div></div><div id="row4cell3inserter"></div>
                  </td>
                </tr>
              </table>

              <!-- MOBILE CONTACT TABLE -->
              <table class="contactInfos hideOver651" border="0">
                <tr style="height:0px"></tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder" style="padding-top:15px">
                    <div id="mobileMailCell1Content">
                      <img src="{{asset 'mailIcon.png'}}" height="16px">
                      <b><font data-wording-key="email"></font></b>
                      <font style="font-size: 11px;">&nbsp;<font data-wording-key="emailDescriptionMobile"></font></font>
                    </div>
                    <div id="mobileInserter1"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobileMailCell2Content">
                      <div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div>
                    </div>
                    <div id="mobileInserter2"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobilePhoneCell1Content">
                      <div class="nocallback">
                        <img src="{{asset 'phoneIcon.png'}}" height="16px">
                        <b><font data-wording-key="phone"></font></b>
                        <font class="private-customer connect-customer" style="font-size: 11px;">&nbsp;<font data-wording-key="openingDaysPrivate"></font> <font data-wording-key="openingHoursPrivate"></font><font data-wording-key="commaMultipleHoursPrivateCustomers"></font><font data-wording-key="openingDaysPrivate2Mobile"></font> <font data-wording-key="openingHoursPrivate2"></font></font>
                        <font class="business-customer" style="font-size: 11px;">&nbsp;<font data-wording-key="openingDaysBusiness"></font> <font data-wording-key="openingHoursBusiness"></font><font data-wording-key="commaMultipleHoursBusinessCustomers"></font><font data-wording-key="openingDaysBusiness2Mobile"></font> <font data-wording-key="openingHoursBusiness2"></font></font>
                      </div>
                      <div class="callback">
                        <img src="{{asset 'phoneIcon.png'}}" height="16px">
                        <b><font data-wording-key="callback"></font></b>
                        <font class="private-customer connect-customer" style="font-size: 11px;">&nbsp;<!--<font data-wording-key="openingDaysPrivate"></font> <font data-wording-key="openingHoursPrivate"></font><font data-wording-key="commaMultipleHoursPrivateCustomers"></font><font data-wording-key="openingDaysPrivate2Mobile"></font> <font data-wording-key="openingHoursPrivate2"></font>,&nbsp;--><font data-wording-key="callbackTime"></font></font>
                      </div>
                    </div>
                    <div id="mobileInserter3"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobilePhoneCell2Content">
                      <div class="nocallback">
                        <div class="button-contact phone-number private-number2 private-customer connect-customer" data-wording-key="callUsPrivateMobile"></div>
                        <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div>
                        <div class="button-contact phone-number phone-number-callback callback-number2" data-wording-key="callUsCallbackMobile"></div>
                      </div>
                      <div class="callback">
                        <div class="button-contact callbackbutton" data-wording-key="callbackText"></div>
                        <!--<div class="button-contact callbackbutton-offline button-offline" data-wording-key="chatNotOnline"></div>-->
                      </div>
                    </div>
                    <div id="mobileInserter4"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell1Content">
                      <img src="{{asset 'chatIcon.png'}}" height="16px">
                      <b><font data-wording-key="chat"></font></b>
                      <font class="private-customer connect-customer" style="font-size: 11px;">&nbsp;<font data-wording-key="openingDaysPrivateChat"></font> <font data-wording-key="openingHoursPrivateChat"></font><font data-wording-key="commaMultipleHoursPrivateCustomersChat"></font><font data-wording-key="openingDaysPrivate2MobileChat"></font> <font data-wording-key="openingHoursPrivate2Chat"></font></font>
                      <font class="business-customer" style="font-size: 11px;">&nbsp;<font data-wording-key="openingDaysBusinessChat"></font> <font data-wording-key="openingHoursBusinessChat"></font><font data-wording-key="commaMultipleHoursBusinessCustomersChat"></font><font data-wording-key="openingDaysBusiness2MobileChat"></font> <font data-wording-key="openingHoursBusiness2Chat"></font></font>
                      <div class="recommendedChannel" data-wording-key="recommendedChannel" style="float:right;"></div>
                    </div>
                    <div id="mobileInserter5"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell2Content">
                      <div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div>
                    </div>
                    <div id="mobileInserter6"></div>
                  </td>
                </tr>
              </table>

              <h5><a class="text-back">&lt; <font data-wording-key="backButtonText"></font></a></h5>
              <font class="text-back-callback regular" data-wording-key="callbackContactFormInfo"></font><font class="text-back-callback regular"><br><br></font>
              {{request_form}}
            </td>
        </tr>
    </table>
  </div>
</div>
<script>

    changeButtonsBasedOnOpeningHours();
  //Callback AB Test
  if (localStorage.getItem('callbackGroup') == null){
    //console.log('ENTERING RAND')
    var randomNumber = Math.random()
    if (randomNumber < 0.5){
      localStorage.setItem('callbackGroup',  1)
    } else {
      localStorage.setItem('callbackGroup', 0)
    }
  }
  console.log(localStorage.getItem('callbackGroup'))

  function commitButtonClickedAction(){
    sessionStorage.setItem('mailFormMessageTextFieldText', mailFormMessageTextField.val())
    if (sessionStorage.getItem('isCallbackContactForm') == 1){
      var otherRequest = ""
      if (requestReasonTag.includes('webform_case_other_request_')) {
          otherRequest = requestReasonTag.split('_')[4]
      }
      mailFormSubjectTextField.val("WEBFORM CALLBACK " + $(requestReasonDropdownNesty).text() + " " + otherRequest);
      mailFormMessageTextField.val("Phone: " +  $('input[name ="request[custom_fields][360021132820]"]').val() + "\nOrder Number: " + $('input[name ="request[custom_fields][360007585419]"]').val())
    }
    requestReasonDropdown.insertBefore(mailFormMailInput);
    customerTypeDropdown.insertBefore(mailFormMailInput);
    requestReasonDropdown.hide()
    customerTypeDropdown.hide()
  }

  //The form is fully hidden initially
  //Set up all needed variables
  var portal = window.location.hostname;
  var fullLink = window.location.href;
  var infoBoxWording = fillInfoBoxWording();
  var customerType;  //Für Privat, business oder connect
  var currentLanguage = $('html').attr('lang');
  var header = $('#HeaderID');
  var fullMailform = $('.requestform');  //Whole Mail Form
  var introText = $('.contactFormInfoTextClass');
  var fallbackText = $('.fallbackInfoText');
  var customerTypeDropdown = $('.request_ticket_form_id');
  var requestReasonDropdown;
  var requestReasonDropdownNesty;
  var requestReasonTag;
  var phoneNumberInputFieldAndLabel;
  var contactInfos = $('.contactInfos');
  var infoTextField = $('.contactFormNote');
  var infoText = $('.contactFormTextInfo');
  var backButton = $('.text-back');
  var callbackContactFormInfo = $('.text-back-callback');
  var requestForm = $('.request-form');
  var circleOne = document.getElementById('circle1');
  var circleTwo = document.getElementById('circle2');
  var circleThree = document.getElementById('circle3')
  var circleThreeTitle = $('.circle3Title');
  var circleThreeTitleTwo = $('.circle3Title2')
  var circleThreeTitleThree = $('.circle3Title3')

  //TODO: Integrate new variables properly
  var customerTypeDropdownLabel = $('[for=request_issue_type_select]');
  var contactOptions= $('.request-form');
  var requestReasonDropdownLabel = $('#request_custom_fields_360014169819_label')

  //business & private Kontaktangaben
  var privateContact = $('.private-customer');
  var businessContact = $('.business-customer')

  //Mailform fields, with label and Input field
  var mailFormOrderNumberOrPhoneNumber;  //Order number, Phone on digitec Connect
  var mailFormSubject = $('.request_subject');
  var mailFormMessage = $('.request_description');
  var mailFormMailInput = $('.request_anonymous_requester_email');
  var commitButton = $('input[name ="commit"]');
  //Mailform fields, labels and input fields separated
  var mailFormAttachmentDropZone = $('#upload-dropzone');
  var mailFormAttachmentLabel = $('label[for="request-attachments"]')
  var mailFormSubjectLabel = $('#request_subject_label');
  var mailFormSubjectTextField = $('#request_subject');
  var mailFormMessageLabel = $('#request_description_label');
  var mailFormMessageTextField = $('#request_description');
  var mailFormMailInputLabel = $('label[for="request_anonymous_requester_email"]')

  //Variable checkers
  var contactFormIsShown = 0; // 0 Shows Infotext and 1 shows OrderNumber Field

  //List of tags to hide OrderNumber Input Field
  var reasonsForNoOrderNumber = ["webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer",
  "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy", "webform_case_delete_account", "webform_case_cant_login",
  "webform_case_offer", "webform_case_no_bill"]

  //List of tags for callback
  var reasonsForCallback = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product",
  "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_return", "webform_case_creditnote", "webform_case_refund",
  "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_delete_account", "webform_case_cant_login",
  "webform_case_other_request_payment", "webform_case_other_request_account"]
  
  //initial setup + Callback checker
  fallbackText.hide();
  callbackContactFormInfo.hide();
  removeCallback();
  setPortalDependantVariables();
  setCustomerType();
  phoneNumberInputFieldAndLabel.hide();
  //checkForFeedbackForm();

  function setCallbackGroupA(){
    sessionStorage.setItem('isCallbackGroupA', 1);
    sessionStorage.setItem('isCallbackGroupB', 0);
    $('.callback').show();
    $('.nocallback').hide();
  }
  function setCallbackGroupB(){
    sessionStorage.setItem('isCallbackGroupA', 0);
    sessionStorage.setItem('isCallbackGroupB', 1);
    $('.phone-number').hide()
    $('.phone-number-callback').show();
  }
  function removeCallback(){
    sessionStorage.setItem('isCallbackGroupA', 0);
    sessionStorage.setItem('isCallbackGroupB', 0);
    //$('.phone-number').show()
    $('.phone-number-callback').hide();
    $('.callback').hide();
    $('.nocallback').show();
  }

  function setPortalDependantVariables(){
    switch (portal){
      case 'helpcenter.digitec.ch':
      case 'helpcenter.galaxus.ch':
      case 'helpcenter.galaxus.de':
      case 'helpcenter.galaxus.at':
        if (fullLink.slice(-3) != 'new'){
          circleOne.classList.remove('circleOpenStep');
          circleOne.classList.add('circleStepCompleted');
          circleOne.innerHTML = '&#10003';
        }
        phoneNumberInputFieldAndLabel = $('.request_custom_fields_360021132820');
        phoneNumberInputFieldAndLabel.hide();
        requestReasonDropdown = $('.request_custom_fields_360014169819');
        requestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        mailFormOrderNumberOrPhoneNumber = $('.request_custom_fields_360007585419');
        requestReasonDropdownContents = $('#request_custom_fields_360014169819');
        mailFormMailInput.insertAfter(requestReasonDropdown);
        customerTypeDropdown.insertBefore(document.getElementById('inserter'));
        requestReasonDropdown.insertBefore(document.getElementById('inserter2'));
        requestForm.hide()
        customerTypeDropdownLabel.hide()
        requestReasonDropdownLabel.hide()
        circleThreeTitleTwo.hide()
        circleThreeTitleThree.hide();
        regularHelpcenterEntryPoint();
        var linkEnd = fullLink.slice(-8);
        if (linkEnd == 'requests'){
          onDropdownChange();
          if (sessionStorage.getItem('isCallbackContactForm') == 1){
            showContactFormCallback();
          } else {
            showContactForm();
          }
          mailFormMessageTextField.val(sessionStorage.getItem('mailFormMessageTextFieldText'));
        }
        fullMailform.show();
        break;
      case 'helpcenter.connect.digitec.ch':
        phoneNumberInputFieldAndLabel = $('.dummyElem');
        if (fullLink.slice(-3) == 'new' || fullLink.slice(-4) == 'new/') {
          window.location.replace('https://helpcenter.connect.digitec.ch/hc/requests/new?ticket_form_id=360002056120');
        }
        requestReasonDropdown = $('.request_custom_fields_360021132800');
        requestReasonDropdownNesty = '.request_custom_fields_360021132800' + ' a.nesty-input';
        mailFormOrderNumberOrPhoneNumber = $('.request_custom_fields_360021132820');
        requestReasonDropdownContents = $('#request_custom_fields_360021132800');
        mailFormMailInput.insertAfter(requestReasonDropdown);
        customerTypeDropdown.insertBefore(document.getElementById('inserter'));
        requestReasonDropdown.insertBefore(document.getElementById('inserter2'));
        //requestForm.hide()
        customerTypeDropdownLabel.hide()
        requestReasonDropdownLabel.hide()
        circleThreeTitleTwo.hide()
        $('.connectHide').hide()
        circleTwo.innerHTML = '1';
        circleThree.innerHTML = '2';
        connectHelpcenterEntryPoint();
        var linkEnd = fullLink.slice(-8);
        if (linkEnd == 'requests'){
          //setTimeout(() => { onDropdownChangeConnect(); }, 2000);
          onDropdownChangeConnect();
          showContactForm();
          mailFormMessageTextField.val(sessionStorage.getItem('mailFormMessageTextFieldText'));
        }
        fullMailform.show();
        break;
      default:
        if (fullLink.slice(-3) != 'new'){
          circleOne.classList.remove('circleOpenStep');
          circleOne.classList.add('circleStepCompleted');
          circleOne.innerHTML = '&#10003';
        }
        phoneNumberInputFieldAndLabel = $('.request_custom_fields_360021132820');
        phoneNumberInputFieldAndLabel.hide();
        requestReasonDropdown = $('.request_custom_fields_360014169819');
        requestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        mailFormOrderNumberOrPhoneNumber = $('.request_custom_fields_360007585419');
        requestReasonDropdownContents = $('#request_custom_fields_360014169819');
        mailFormMailInput.insertAfter(requestReasonDropdown);
        customerTypeDropdown.insertBefore(document.getElementById('inserter'));
        requestReasonDropdown.insertBefore(document.getElementById('inserter2'));
        requestForm.hide()
        customerTypeDropdownLabel.hide()
        requestReasonDropdownLabel.hide()
        circleThreeTitleTwo.hide()
        circleThreeTitleThree.hide();
        regularHelpcenterEntryPoint();
        var linkEnd = fullLink.slice(-8);
        if (linkEnd == 'requests'){
          onDropdownChange();
          if (sessionStorage.getItem('isCallbackContactForm') == 1){
            showContactFormCallback();
          } else {
            showContactForm();
          }
          mailFormMessageTextField.val(sessionStorage.getItem('mailFormMessageTextFieldText'));
        }
        fullMailform.show();
        break;
    }
  }

  function setCustomerType(){
    //Kundentyp setzen
    customerType = sessionStorage.getItem('customerType');
    if (fullLink.includes('39231')){
      customerType = 'private-customer';
      sessionStorage.setItem('customerType', customerType)
    }
    if (fullLink.includes('360000554760')){
      customerType = 'business-customer';
      sessionStorage.setItem('customerType', customerType)
    }
    if (fullLink.includes('360002056120')){
      customerType = 'connect-customer';
      sessionStorage.setItem('customerType', customerType)
    }
    if (customerType == 'private-customer'){
      // Removes Offers for Private Customers
      var categoryToRemove = 'webform_case_offer';
      try {
        var catJson = JSON.parse(requestReasonDropdownContents.attr("data-tagger"));
        requestReasonDropdownContents.attr("data-tagger", removeCategoryFromJson(catJson, categoryToRemove));
      }
      catch (e) { // Initial wird das Formular immer geladen ohne Kundentyp und deshalb hier etwas unschön gecatcht. Funktionalität ist jedoch nicht kritisch 
      }
    }
    isFormAttachmentRequired();
  }

  function removeCategoryFromJson(json, categoryToRemove){  	
    for (var i = 0; i < json.length; i++){
      if (json[i].value == categoryToRemove){
        json.splice(i,1);
      }
    }
  return JSON.stringify(json);
  }

  function regularHelpcenterEntryPoint(){
    introText.show();
    customerTypeDropdown.show();
    requestReasonDropdown.show();
    backButton.hide();
    infoTextField.hide();
    contactInfos.hide();
    mailFormOrderNumberOrPhoneNumber.hide();
    mailFormSubject.hide();
    mailFormMessage.hide();
    mailFormAttachmentDropZone.hide();
    mailFormAttachmentLabel.hide();
    mailFormMailInput.hide();
    commitButton.hide();
    isFormAttachmentRequired();
  }

  function connectHelpcenterEntryPoint(){
    introText.show();
    //customerTypeDropdown.hide();
    requestReasonDropdown.show();
    backButton.hide();
    infoTextField.hide();
    contactInfos.hide();
    mailFormOrderNumberOrPhoneNumber.hide();
    mailFormSubject.hide();
    mailFormMessage.hide();
    mailFormAttachmentDropZone.hide();
    mailFormAttachmentLabel.hide();
    mailFormMailInput.hide();
    commitButton.hide();
    isFormAttachmentRequired();
  }
  
  //Aktion bei Änderung des RequestReasonDropdown
  requestReasonDropdown.on('change', function(){
    if (requestReasonDropdownContents.attr('value') != ''){
      if (customerType == 'connect-customer'){
        onDropdownChangeConnect();
      } else {
        onDropdownChange();
      }
    }
  });

  function onDropdownChange(){
    changeButtonsBasedOnOpeningHours();
    if (requestReasonDropdownContents.attr('value') == null){
      fallbackExit();
      return;
    } else {
      requestReasonTag = requestReasonDropdownContents.attr('value').replace('//duplicate', '');
    }
    resetContactOptions();
    circleOne.classList.remove('circleOpenStep');
    circleOne.classList.add('circleStepCompleted');
    circleOne.innerHTML = '&#10003';
    circleTwo.classList.remove('circleOpenStep');
    circleTwo.classList.add('circleStepCompleted');
    circleTwo.innerHTML = '&#10003';
    phoneNumberInputFieldAndLabel.hide();
    infoText.html(infoBoxWording[requestReasonTag][currentLanguage]);
    //Update Label and Template
    if (infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate']){
      mailFormMessageTextField.val(infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate'])
    } else {
      mailFormMessageTextField.val('')
    }
    if (infoBoxWording[requestReasonTag][currentLanguage + 'DescriptionLabel']){
      mailFormMessageLabel.html(infoBoxWording[requestReasonTag][currentLanguage + 'DescriptionLabel'])
    } else {
      switch (currentLanguage) {
        case 'de':
          mailFormMessageLabel.html('Beschreibung')
          break;
        case 'fr':
          mailFormMessageLabel.html('Description')
          break;
        case 'it':
          mailFormMessageLabel.html('Descrizione')
          break;
        case 'en-US':
          mailFormMessageLabel.html('Description')
          break;
      }
    }

    mailFormSubjectTextField.val($(requestReasonDropdownNesty).text());  //Autofill Mail Subject
    //customerTypeDropdown.hide();
    //Sichtbare Objekte nur ändern, falls Kontaktformular noch nicht angezeigt
    if (contactFormIsShown == 0 || contactFormIsShown == 1) {
      //introText.hide();
      circleThreeTitle.show();
      circleThreeTitleTwo.hide();
      circleThreeTitleThree.hide();
      backButton.hide();
      mailFormOrderNumberOrPhoneNumber.hide();
      mailFormSubject.hide();
      mailFormMessage.hide();
      mailFormAttachmentDropZone.hide();
      mailFormAttachmentLabel.hide();
      mailFormMailInput.hide();
      commitButton.hide();
      contactInfos.show();
      requestForm.hide();
      $('.' + customerType).show();
      infoTextField.show();
    }
    //OrderNumber Feld verstecken wenn nicht benötigt
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      mailFormOrderNumberOrPhoneNumber.hide()
    } else {
      if (contactFormIsShown == 1) { mailFormOrderNumberOrPhoneNumber.show() }
    }
    try {
        removeChatBasedOnRequestType();
        updateChatConnectionAfterDropdownChange();
      }
      catch (e) {
        console.log(e); 
      } 
    if (reasonsForCallback.indexOf(requestReasonTag) >= 0 && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch') && localStorage.getItem('callbackGroup') == 1 && currentLanguage == 'de' && customerType == 'private-customer'){
      setCallbackGroupA();
    } else if (reasonsForCallback.indexOf(requestReasonTag) >= 0 && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch') && localStorage.getItem('callbackGroup') == 0 && currentLanguage == 'de' && customerType == 'private-customer') {
      setCallbackGroupB();
    } else {
      removeCallback();
    }
    callbackContactFormInfo.hide();
    changeButtonsBasedOnOpeningHours();
  } 

  function onDropdownChangeConnect(){
    circleOne.classList.add('circleStepCompleted');
    circleOne.innerHTML = '&#10003';
    circleTwo.classList.remove('circleOpenStep');
    circleTwo.classList.add('circleStepCompleted');
    circleTwo.innerHTML = '&#10003';

    requestReasonTag = requestReasonDropdownContents.attr('value');

    //infoText.html(infoBoxWording[requestReasonTag][currentLanguage]);
    //Update Label and Template
    if (infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate']){
      mailFormMessageTextField.val(infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate'])
    } else {
      mailFormMessageTextField.val('')
    }
  
    if (requestReasonDropdownContents.attr('value') == null){
      fallbackExit();
      return;
    } else {
      requestReasonTag = requestReasonDropdownContents.attr('value').replace('//duplicate', '');
    }
  
    //infoText.html(infoBoxWording[requestReasonTag][currentLanguage]);
    //Update Label and Template
    if (infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate']){
      mailFormMessageTextField.val(infoBoxWording[requestReasonTag][currentLanguage + 'MailTemplate'])
    } else {
      mailFormMessageTextField.val('')
    }
    if (infoBoxWording[requestReasonTag][currentLanguage + 'DescriptionLabel']){
      mailFormMessageLabel.html(infoBoxWording[requestReasonTag][currentLanguage + 'DescriptionLabel'])
    } else {
      switch (currentLanguage) {
        case 'de':
          mailFormMessageLabel.html('Beschreibung')
          break;
        case 'fr':
          mailFormMessageLabel.html('Description')
          break;
        case 'it':
          mailFormMessageLabel.html('Descrizione')
          break;
        case 'en-US':
          mailFormMessageLabel.html('Description')
          break;
      }
    }
    mailFormSubjectTextField.val($(requestReasonDropdownNesty).text());  //Autofill Mail Subject
    //customerTypeDropdown.hide();
    //Sichtbare Objekte nur ändern, falls Kontaktformular noch nicht angezeigt
    if (contactFormIsShown == 0) {
      backButton.hide();
      mailFormOrderNumberOrPhoneNumber.hide();
      mailFormSubject.hide();
      mailFormMessage.hide();
      mailFormAttachmentDropZone.hide();
      mailFormAttachmentLabel.hide();
      mailFormMailInput.hide();
      commitButton.hide();
      contactInfos.show();
      requestForm.hide();
      $('.' + customerType).show();
      infoTextField.hide();
      //introText.hide();
    }
    //OrderNumber Feld verstecken wenn nicht benötigt
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      mailFormOrderNumberOrPhoneNumber.hide()
    } else {
      if (contactFormIsShown == 1) { mailFormOrderNumberOrPhoneNumber.show() }
    }
    try {
        removeChatBasedOnRequestType();
        updateChatConnectionAfterDropdownChange();
      }
      catch (e) {
        console.log(e); 
      } 
  }  

  commitButton.on("click", function(){
    commitButtonClickedAction();
  })

  //AKTIONEN IN DEN KONTAKTINFOS
  //Aktion bei Klick auf "Schreib uns" Button
  $('.contactFormWriteUs').on("click", function () {
    showContactForm();
  })
  $('.callbackbutton').on("click", function () {
    showContactFormCallback();
  })
  function showContactForm(){
    sessionStorage.setItem('isCallbackContactForm', 0);
    circleThreeTitle.hide();
    circleThreeTitleTwo.show();
    contactFormIsShown = 1;
    requestForm.show();
    backButton.show();
    //introText.hide();
    //infoTextField.hide();
    contactInfos.hide();
    //customerTypeDropdown.hide();
    mailFormOrderNumberOrPhoneNumber.show();
    mailFormSubject.hide();
    mailFormMessage.show();
    mailFormAttachmentDropZone.show();
    mailFormAttachmentLabel.show();
    mailFormMailInput.show();
    commitButton.show();
    //OrderNumber Feld verstecken wenn nicht benötigt
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      mailFormOrderNumberOrPhoneNumber.hide();
    } else {
      mailFormOrderNumberOrPhoneNumber.show();
    }
    if (mailFormMailInputLabel.html() == 'E-Mail-Adresse (von deinem Benutzerkonto)'){
        mailFormMailInputLabel.html('E-Mail-Adresse');
    }
  }
  function showContactFormCallback() {
    sessionStorage.setItem('isCallbackContactForm', 1);
    phoneNumberInputFieldAndLabel.show();
    callbackContactFormInfo.show();
    circleThreeTitle.hide();
    circleThreeTitleThree.show();
    contactFormIsShown = 1;
    requestForm.show();
    backButton.show();
    //introText.hide();
    //infoTextField.hide();
    contactInfos.hide();
    //customerTypeDropdown.hide();
    mailFormOrderNumberOrPhoneNumber.show();
    mailFormSubject.hide();
    mailFormMailInput.show();
    commitButton.show();
    if (mailFormMailInputLabel.html() != 'E-Mail-Adresse (von deinem Benutzerkonto)'){
        mailFormMailInputLabel.html('E-Mail-Adresse (von deinem Benutzerkonto)');
    }
  }

  //Aktionen bei Klick auf "Ruf uns an"
  $('.private-number').on("click", function () {
    var popup = document.getElementById("phoneNumberPrivate");
    popup.classList.toggle("show");
  }) 
  $('.private-number2').on("click", function () {
   var popup = document.getElementById("phoneNumberPrivateMobile");
   popup.classList.toggle("show");
  }) 
  $('.business-number').on("click", function () {
    var popup = document.getElementById("phoneNumberBusiness");
    popup.classList.toggle("show");
  })
  $('.business-number2').on("click", function () {
    var popup = document.getElementById("phoneNumberBusinessMobile");
  	popup.classList.toggle("show");
  })
  $('.callback-number').on("click", function () {
    var popup = document.getElementById("phoneNumberCallback");
    popup.classList.toggle("show");
  })
  $('.callback-number2').on("click", function () {
    var popup = document.getElementById("phoneNumberCallbackMobile");
    popup.classList.toggle("show");
  })
  //Aktion bei Klick auf "Chat" 
  $('.button-chat').on("click", function () {
    checkForTagChanges();
    openChat();
    setEventListernerForChatStart();
  }); 
  //Aktion bei Klick auf back Button
  $('.text-back').on("click", function (){
    phoneNumberInputFieldAndLabel.hide();
    callbackContactFormInfo.hide();
    contactFormIsShown = 0;
    circleThreeTitle.show();
    circleThreeTitleTwo.hide();
    circleThreeTitleThree.hide();
    if (customerType == 'connect-customer'){
      onDropdownChangeConnect()
    } else {
      onDropdownChange();
    }
  })

    
  // TICKET FORM ATTACHMENT CHANGES
  // Function to start observing node for mutations
  var startObserveMutations = function (nodeSelector, options, callbackFunction) {
    var node = document.querySelector(nodeSelector);
    if (node) {
      var observer = new MutationObserver(callbackFunction);
      observer.observe(node, options);
      return observer;
    }
  };
  
  // Callback function to execute when mutations in form attachments or dropdown are observed:
  // clear or select Attachment checkbox according to dropdown
  var mutationObservedForm = function (mutationsList) {
	  mutationsList.forEach(function (mutation) {
		  if (mutation.type == 'childList') {
			  setFormAttachmentCheckbox();
			  }
	  });
  };

  // Define some variables for requiring form attachments
  var errorMessageId = "";
  var attachmentCheckboxField = 'request_custom_fields_360007967480';
  var attachmentCheckboxId = '#' + attachmentCheckboxField;
  var attachmentErrorNotification = setErrorMessage();
  var formDropdownClass = '.request_custom_fields_360014169819';
  var formObserveMutationOptions = { childList: true, subtree: true };
  $('.request_custom_fields_360007967480').insertAfter('#request-attachments-pool');
  var attachmentErrorElt = $('.' + attachmentCheckboxField + ' .notification-error');

  // Clear or select checkbox according to dropdown and attachments:
  // Set Attachment checkbox if no attachments required, or if attachments are required and at least one is uploaded, otherwise clear it
  function setFormAttachmentCheckbox() {
	  if (isFormAttachmentRequired()) {
		  if ($('#request-attachments-pool .upload-item').length) {
			  selectCheckbox(attachmentCheckboxId);
		  }else {
			  clearCheckbox(attachmentCheckboxId);
		  }
	  }else {
		  selectCheckbox(attachmentCheckboxId);
	  }
  }

  // Return true if dropdown option 'ABCD' is selected
  function isFormAttachmentRequired() {
    var attachString = mailFormAttachmentLabel.html();
    if (attachString == null){
      attachString = "";
    }
    if (attachString.includes('<font color="red">*</font>')){
      //remove * and its font color
      attachString = attachString.substring(0, attachString.length - 26);
    }
    mailFormAttachmentLabel.html(attachString);
	if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_damaged_product')){
	    errorMessageId = currentLanguage + '1';
		attachmentErrorNotification = setErrorMessage();
		attachmentErrorElt.text(attachmentErrorNotification);
        attachString = mailFormAttachmentLabel.html();
        if (!attachString.includes('<font color="red">*</font>')){
            attachString += '<font color="red">*</font>';
        }
        mailFormAttachmentLabel.html(attachString);
		return true;
	  }
	if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_wrong_product')){
		errorMessageId = currentLanguage + '2';
		attachmentErrorNotification = setErrorMessage();
		attachmentErrorElt.text(attachmentErrorNotification);
        attachString = mailFormAttachmentLabel.html();
        if (!attachString.includes('<font color="red">*</font>')){
            attachString += '<font color="red">*</font>';
        }
        mailFormAttachmentLabel.html(attachString);
		return true;
	}
	return false;
  }

  // Select checkbox
  function selectCheckbox(eltselector) {
	  $(eltselector).prop('checked', true);
  }

  // Clear checkbox
  function clearCheckbox(eltselector) {
	  $(eltselector).prop('checked', false);
  }
                                                                                              
  // If attachment checkbox field exists, select it,
  // and watch for changes to attachments and dropdown
  if ($(attachmentCheckboxId).length) {
	  selectCheckbox(attachmentCheckboxId);
	  startObserveMutations('#request-attachments-pool', formObserveMutationOptions, mutationObservedForm);
	  startObserveMutations(formDropdownClass, formObserveMutationOptions, mutationObservedForm);
  }

  // Adjust attachment error notification
  if (true) {
	  attachmentErrorNotification = setErrorMessage();
	  attachmentErrorElt.text(attachmentErrorNotification);
  }
  
  function setErrorMessage() {
  	return infoBoxWording["attachment-errors"][errorMessageId]
  }

  setFormAttachmentCheckbox();
  clearCheckbox(attachmentCheckboxId);

  setTimeout(function() { setFormAttachmentCheckbox() }, 500);





  ///////////////////////////////////////////////////////////////////////////////Event Tracking/////////////////////////////////////////////////////

  
  function sendGARequestOpeningHours(action){
    ga('send', 'event', 'Opening Hours', action, customerType + ' ' + currentLanguage);
  }
  
  //Phone Number Tracking
	$('.phone-number').on("click", function () {
    sendGARequestOpeningHours('Click Phone Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (sessionStorage.getItem('isCallbackGroupA') == 1){
        sendGARequestOpeningHours('Callback Group A: Click Phone Button, open: ' + String(checkForOpeningHours()));
    }
    if (sessionStorage.getItem('isCallbackGroupB') == 1){
        sendGARequestOpeningHours('Callback Group B: Click Phone Button, open: ' + String(checkForOpeningHours()));
    }
  }) 
  
  //Contact Form Tracking
  $('.contactFormWriteUs').on("click", function () {
    sendGARequestOpeningHours('Click Mail Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (sessionStorage.getItem('isCallbackGroupA') == 1){
        sendGARequestOpeningHours('Callback Group A: Click Mail Button, open: ' + String(checkForOpeningHours()));
    }
    if (sessionStorage.getItem('isCallbackGroupB') == 1){
        sendGARequestOpeningHours('Callback Group B: Click Mail Button, open: ' + String(checkForOpeningHours()));
    }
  }) 
  
  //Chat Tracking
  $('.button-chat').on("click", function () {
    sendGARequestOpeningHours('Click Chat Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (sessionStorage.getItem('isCallbackGroupA') == 1){
        sendGARequestOpeningHours('Callback Group A: Click Chat Button, open: ' + String(checkForOpeningHours()));
    }
    if (sessionStorage.getItem('isCallbackGroupB') == 1){
        sendGARequestOpeningHours('Callback Group B: Click Chat Button, open: ' + String(checkForOpeningHours()));
    }
  }) 

  // Callback Tracking
  $('.callbackbutton').on("click", function () {
    sendGARequestOpeningHours('Callback Group A: Click Callback Button');
  })

  // Request Reason Tracking
  $('.request_custom_fields_360014169819').on("change",function() {
    ga('send', 'event', 'Opening Hours', 'ShowsInfo', $('.request_custom_fields_360014169819' + ' a.nesty-input').text());                                                                                     
  });


   //////////////////////////Downvote-button Formular////////////////////////////

   /*
  function checkForFeedbackForm(){
    if (sessionStorage.getItem("referrer")) {
      referrer = sessionStorage.getItem("referrer");
    }
  if (document.referrer.indexOf('articles') !== -1 && sessionStorage.getItem('Feedback') != 0 && sessionStorage.getItem('Feedback') != null || $('#request_description').val() == '' && sessionStorage.getItem('Feedback') != null) {   
    // Bezeichnung des Helpcenter Artikels
    var subjectTitel = sessionStorage.getItem('articleHeader');
    contactFormIsShown = 2; // 0 Shows Infotext and 1 shows OrderNumber field
    
    //Felder automatisch befüllen 
    window.addEventListener('load', function() {
      requestReasonDropdownContents.attr('value' , 'webform_case_other_request_order'); //Grund der Anfrage setzen////
    })
    $('input[name="request[subject]"]').val('Feedback'); //Betreff gesetzt //// 
    $('input[name="request[anonymous_requester_email]"]').val('feedback.helpcenter@digitecgalaxus.ch');//Mail setzen////
    mailFormMessageLabel.text(infoBoxWording['outputFeedbackLabelPart1'][currentLanguage] + subjectTitel);//Label des Mailformulars anhand des Helpcenter Artikels setzen////
    
    //Bezeichnung Formular und Introtext überschreiben
    header.attr('data-wording-key', 'feedbackHeader');
    introText.attr('data-wording-key', 'feedbackDescription');
    
    //Felder für Feedbackformular anzeigen/verstecken
    $('.form-field:not(.request_ticket_form_id)').show();
    requestReasonDropdown.hide();
    mailFormSubject.hide();
    commitButton.show();
    mailFormMailInput.hide();
    mailFormOrderNumberOrPhoneNumber.hide();
    customerTypeDropdown.hide();
      
    $('.request-form footer').show();

    //Text vor dem Submittbutton mit CSS Anpassungen
    $('.request-form footer').css('margin-top', '0px')
    $('.request-form footer').css('padding-top', '0px')
    $('.request-form footer').prepend(infoBoxWording['feedbackThanks'][currentLanguage]);
    sessionStorage.removeItem('Feedback');
  }
    else{
      sessionStorage.removeItem('Feedback');
    }
  }
  */
  
  ////////////////////CHAT Table Cell entfernen///////////////////////////

  // Entfernt ChatTabeCell, wenn Bedigungen erfüllt sind
  function removeChatBasedOnRequestType(){
    if(isGermany() || isBusinessRequestReasonWithoutChat() || isConnectWithoutChat()){
    //if (true) {
      hideChatCells();
      //$('.chatTableCell').hide();
      var temp = document.getElementById('desktopContactTable');
      //temp.setAttribute('width', '400px')
    }else{
      //$('.chatTableCell').show();
      var temp = document.getElementById('desktopContactTable');
      //temp.setAttribute('width', '100%')
    }
  }


  function isConnectWithoutChat(){
    if(customerType == 'connect-customer' && currentLanguage != 'fr' && currentLanguage != 'de'){
      return true;
    }else{
      return false;
    }
  }

  // Deaktiviert den Chat für Connect und Germany
  function isGermany(){
    var hideChat;
    switch(portal){
      case'helpcenter.digitec.ch':
      case'helpcenter.galaxus.ch':
      case'helpcenter.connect.digitec.ch':
      case'helpcenter.galaxus.de':
      case'helpcenter.galaxus.at':
        hideChat = false;
        break;
      //case'helpcenter.galaxus.at':
        //hideChat = true;
        //break;
      default:
        hideChat = false;
        break;
    }
    return hideChat;
  }

  //Deaktiviert den Chat für einige Anfragegründe bei B2B
  function isBusinessRequestReasonWithoutChat(){
    if(requestReasonTag == 'webform_case_offer' || (requestReasonTag == 'webform_case_delete_account' && customerType == 'business-customer')){
      return true;
    }else {
      return false;
    }
  }


  // CSS Change für Chat Button Offline
  function hideChatButton(){
    $(".button-chat").addClass("button-offline");
 	  $(".button-chat").html(getButtonText('chatNotOnline'));
    $(".recommendedChannel").css('display' , 'none');
  }

  // CSS Change für Chat Button Online
  function showChatButton(){
    $(".button-chat").removeClass("button-offline");
    $(".button-chat").html(getButtonText('chatUs'));
    $(".recommendedChannel").css('display' , 'inline-block');
    swapContactOptions();
  }

  function swapContactOptions(){
    //console.log('entering swap')
    $('#chatIconCellContent').insertBefore($('#row1cell1inserter'));
    $('#mailIconCellContent').insertBefore($('#row1cell2inserter'));
    $('#phoneIconCellContent').insertBefore($('#row1cell3inserter'));

    $('#chatTitleCellContent').insertBefore($('#row2cell1inserter'));
    $('#mailTitleCellContent').insertBefore($('#row2cell2inserter'));
    $('#phoneTitleCellContent').insertBefore($('#row2cell3inserter'));

    $('#chatTextCellContent').insertBefore($('#row3cell1inserter'));
    $('#mailTextCellContent').insertBefore($('#row3cell2inserter'));
    $('#phoneTextCellContent').insertBefore($('#row3cell3inserter'));

    $('#chatButtonCellContent').insertBefore($('#row4cell1inserter'));
    $('#mailButtonCellContent').insertBefore($('#row4cell2inserter'));
    $('#phoneButtonCellContent').insertBefore($('#row4cell3inserter'));

    $('#mobileChatCell1Content').insertBefore($('#mobileInserter1'));
    $('#mobileChatCell2Content').insertBefore($('#mobileInserter2'));

    $('#mobileMailCell1Content').insertBefore($('#mobileInserter3'));
    $('#mobileMailCell2Content').insertBefore($('#mobileInserter4'));

    $('#mobilePhoneCell1Content').insertBefore($('#mobileInserter5'));
    $('#mobilePhoneCell2Content').insertBefore($('#mobileInserter6'));

    $('#chatIconCellContent').show();
    $('#chatTitleCellContent').show();
    $('#chatTextCellContent').show();
    $('#chatButtonCellContent').show();
    $('#mobileChatCell1Content').show();
    $('#mobileChatCell2Content').show();

    removeChatBasedOnRequestType();
  }

  function hideChatCells(){
    //console.log('entering hide')
    $('#phoneIconCellContent').insertBefore($('#row1cell1inserter'));
    $('#mailIconCellContent').insertBefore($('#row1cell2inserter'));
    $('#chatIconCellContent').insertBefore($('#row1cell3inserter'));

    $('#phoneTitleCellContent').insertBefore($('#row2cell1inserter'));
    $('#mailTitleCellContent').insertBefore($('#row2cell2inserter'));
    $('#chatTitleCellContent').insertBefore($('#row2cell3inserter'));

    $('#phoneTextCellContent').insertBefore($('#row3cell1inserter'));
    $('#mailTextCellContent').insertBefore($('#row3cell2inserter'));
    $('#chatTextCellContent').insertBefore($('#row3cell3inserter'));

    $('#phoneButtonCellContent').insertBefore($('#row4cell1inserter'));
    $('#mailButtonCellContent').insertBefore($('#row4cell2inserter'));
    $('#chatButtonCellContent').insertBefore($('#row4cell3inserter'));

    $('#mobilePhoneCell1Content').insertBefore($('#mobileInserter1'));
    $('#mobilePhoneCell2Content').insertBefore($('#mobileInserter2'));

    $('#mobileMailCell1Content').insertBefore($('#mobileInserter3'));
    $('#mobileMailCell2Content').insertBefore($('#mobileInserter4'));

    $('#mobileChatCell1Content').insertBefore($('#mobileInserter5'));
    $('#mobileChatCell2Content').insertBefore($('#mobileInserter6'));

    $('#chatIconCellContent').hide();
    $('#chatTitleCellContent').hide();
    $('#chatTextCellContent').hide();
    $('#chatButtonCellContent').hide();
    $('#mobileChatCell1Content').hide();
    $('#mobileChatCell2Content').hide();
  }

  function resetContactOptions(){
    $('#chatIconCellContent').show();
    $('#chatTitleCellContent').show();
    $('#chatTextCellContent').show();
    $('#chatButtonCellContent').show();
    $('#mobileChatCell1Content').show();
    $('#mobileChatCell2Content').show();

    $('#mailIconCellContent').insertBefore($('#row1cell1inserter'));
    $('#phoneIconCellContent').insertBefore($('#row1cell2inserter'));
    $('#chatIconCellContent').insertBefore($('#row1cell3inserter'));

    $('#mailTitleCellContent').insertBefore($('#row2cell1inserter'));
    $('#phoneTitleCellContent').insertBefore($('#row2cell2inserter'));
    $('#chatTitleCellContent').insertBefore($('#row2cell3inserter'));

    $('#mailTextCellContent').insertBefore($('#row3cell1inserter'));
    $('#phoneTextCellContent').insertBefore($('#row3cell2inserter'));
    $('#chatTextCellContent').insertBefore($('#row3cell3inserter'));

    $('#mailButtonCellContent').insertBefore($('#row4cell1inserter'));
    $('#phoneButtonCellContent').insertBefore($('#row4cell2inserter'));
    $('#chatButtonCellContent').insertBefore($('#row4cell3inserter'));

    $('#mobileMailCell1Content').insertBefore($('#mobileInserter1'));
    $('#mobileMailCell2Content').insertBefore($('#mobileInserter2'));

    $('#mobilePhoneCell1Content').insertBefore($('#mobileInserter3'));
    $('#mobilePhoneCell2Content').insertBefore($('#mobileInserter4'));

    $('#mobileChatCell1Content').insertBefore($('#mobileInserter5'));
    $('#mobileChatCell2Content').insertBefore($('#mobileInserter6'));
  }

  function fallbackExit(){
    introText.hide();
    fallbackText.show();
    //$('.progressTable').hide();
  }

  function checkForOpeningHours(){
    const d = new Date();
    var dayOfWeek = d.getUTCDay()
    var currentUTChour = d.getUTCHours()
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentUTChour >= 7 && currentUTChour < 19) {
        return true;
    }
    else {
        return false;
    }
  }

  function changeButtonsBasedOnOpeningHours(){
      var tempbuttons = $(".callbackbutton")
      if (checkForOpeningHours()) {
        tempbuttons.removeClass("button-offline");
        for (i = 0; i < tempbuttons.length; i++){
            tempbuttons[i].setAttribute('data-wording-key', 'callbackText')
        }
      }
      else {
        tempbuttons.addClass("button-offline");
        for (i = 0; i < tempbuttons.length; i++){
            tempbuttons[i].setAttribute('data-wording-key', 'chatNotOnline')
        }
      }
  }
</script>