<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>
  
  <div class="form requestform" id="requestForm">
    <font class="contactFormInfoTextClass regular" data-wording-key="contactFormInfoText"></font><font class="fallbackInfoText regular" data-wording-key="fallbackInfoText"></font><br><br>
    <!-- AUTOMATED CHAT -->
    {{chat}}


    <!-- PROGRESS BAR TESTING &#10003 -->

    <table class="progressTable">
        <tr class="connectHide">
            <td class="circleOpenStep" id="circle1">1</td>
            <td style="padding-left:10px; max-width:100%;"><b data-wording-key="chooseCustomerGroup"></b></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr class="connectHide">
            <td class="line"><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px"><div id="inserter"></div></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle2">2</td>
            <td style="padding-left:10px"><b data-wording-key="chooseRequestReason"></b></td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px">
              <div id="inserter2"></div>
              <div class="contactFormNote">
                <div class="contactFormText">
                    <b><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></b>
                  <div class="contactFormTextInfo"></div>
                  <!--<h4></h4>-->
                </div>
                <div class ="questionNotAnswered" data-wording-key="questionNotAnswered"></div>
                <div class="button-contact contactNowButton" data-wording-key="contactNow" style="width:150px;margin-top:0px"></div>
              </div>
            </td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle3">3</td>
            <td style="padding-left:10px"><b class="circle3Title"><font data-wording-key="contactOptions"></font></b><b data-wording-key="email" class="circle3Title2"></b></td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-top:0px">

              <!-- DESKTOP CONTACT TABLE -->
              <table width="100%" class="contactInfos hideUnder650" id="desktopContactTable">
                <tr>
                    <td colspan="3">
                        <font data-wording-key="openingDays"></font><font data-wording-key="openingHours"></font>
                        <font data-wording-key="openingDays2"></font><font data-wording-key="openingHours2"></font>
                        <font id="holidaysDesktop"></font>
                    </td>
                </tr>
                <tr>
                  <td width="33%" style="padding-right:20px;padding-top:15px"><div id="mailIconCellContent"><img src="{{asset 'mailIcon.png'}}" height="20px"></div><div id="row1cell1inserter"></div></td>
                  <td width="33%" style="padding-right:10px;padding-left:10px;padding-top:15px"><div id="phoneIconCellContent"><img src="{{asset 'phoneIcon.png'}}" height="20px"></div><div id="row1cell2inserter"></div></td>
                  <td width="33%" style="padding-left:20px;padding-top:15px"><div id="chatIconCellContent"><img src="{{asset 'chatIcon.png'}}" height="20px">&nbsp;&nbsp;<div class="recommendedChannel" data-wording-key="recommendedChannel" style=""></div></div><div id="row1cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px"><div id="mailTitleCellContent"><b data-wording-key="email"></b></div><div id="row2cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px"><div id="phoneTitleCellContent"><b data-wording-key="phone"></b></div><div id="row2cell2inserter"></div></td>
                  <td style="padding-left:20px"><div id="chatTitleCellContent"><b data-wording-key="chat"></b></div><div id="row2cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px;vertical-align:top"><div id="mailTextCellContent"><font data-wording-key="emailDescription"></div><div id="row3cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;vertical-align:top">
                    <div id="phoneTextCellContent">
                      <div class="callWaitTimeOnly"><div class="waittime" data-wording-key="callWaitTime"></div></div>
                    </div>
                    <div id="row3cell2inserter"></div>
                  </td>
                  <td style="padding-left:20px;vertical-align:top">
                    <div id="chatTextCellContent">
                      <div class="chatWaitTimeOnly"><div class="waittime" data-wording-key="chatWaitTime"></div></div>
                    </div>
                    <div id="row3cell3inserter"></div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-right:20px;padding-top:10px"><div id="mailButtonCellContent"><div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div></div></div><div id="row4cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;padding-top:10px"><div id="phoneButtonCellContent">
                    <div class="button-contact phone-number private-number private-customer connect-customer" data-wording-key="callUsPrivate"></div>
                    <div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div>
                    </div><div id="row4cell2inserter"></div></td>
                  <td style="padding-left:20px;padding-top:10px"><div id="chatButtonCellContent"><div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div></div><div id="row4cell3inserter"></div>
                  </td>
                </tr>
              </table>

              <!-- MOBILE CONTACT TABLE -->
              <table class="contactInfos hideOver651" border="0">
                <tr style="height:0px">
                    <td colspan="3">
                        <font data-wording-key="openingDays"></font>
                        <font data-wording-key="openingHours"></font>
                        <font data-wording-key="openingDays2"></font>
                        <font data-wording-key="openingHours2"></font>
                        <font id="holidaysMobile"></font>
                    </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder" style="padding-top:15px">
                    <div id="mobileMailCell1Content">
                      <img src="{{asset 'mailIcon.png'}}" height="16px">
                      <b><font data-wording-key="email"></font></b>
                      <font style="font-size: 11px;"><br><font data-wording-key="emailDescriptionMobile"></font></font>
                    </div>
                    <div id="mobileInserter1"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobileMailCell2Content">
                      <div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div>
                    </div>
                    <div id="mobileInserter2"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobilePhoneCell1Content">
                      <img src="{{asset 'phoneIcon.png'}}" height="16px">
                      <b><font data-wording-key="phone"></font></b>
                      <font class="callWaitTimeOnly"><br><font class="waittime" style="font-size: 11px;" data-wording-key="callWaitTime"></font></font>
                    </div>
                    <div id="mobileInserter3"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobilePhoneCell2Content">
                      <div class="button-contact phone-number private-number2 private-customer connect-customer" data-wording-key="callUsPrivateMobile"></div>
                      <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div>
                    </div>
                    <div id="mobileInserter4"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell1Content">
                      <img src="{{asset 'chatIcon.png'}}" height="16px">
                      <b><font data-wording-key="chat"></font></b>
                      <font class="chatWaitTimeOnly"><br><font class="waittime" style="font-size: 11px;" data-wording-key="chatWaitTime"></font></font>
                      <div class="recommendedChannel" data-wording-key="recommendedChannel" style="float:right;"></div>
                    </div>
                    <div id="mobileInserter5"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell2Content">
                      <div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div>
                    </div>
                    <div id="mobileInserter6"></div>
                  </td>
                </tr>
              </table>

              <h5><a class="text-back">&lt; <font data-wording-key="backButtonText"></font></a></h5>
              {{request_form}}

            </td>
        </tr>
    </table>
     
  </div>
</div>
<script>
  //THE FULL MAIL FORM IS INITIALLY HIDDEN

  // --- SETTING UP VARIABLES ---
  // General variables
  // Following variables are already defined elsewhere: portal, currentLanguage
  let fullLink = window.location.href;
  let customerType = setCustomerType();  //the function also removes offers for private customers in the dropdown selection
  let infoBoxWording = fillInfoBoxWording();
  let contactFormIsShown = 0; // 0 Shows Infotext and 1 shows OrderNumber Field
  let hideContactFormCheckerChat = true;
  let hideContactFormCheckerPhone = true;
  //List of tags to hide OrderNumber Input Field
  const reasonsForNoOrderNumber = ["webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer",
  "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy", "webform_case_delete_account", "webform_case_cant_login",
  "webform_case_offer", "webform_case_no_bill"]
  //list of tags to hide Contact Form for PE and general requests during opening times
  const reasonsForNoContactFormPE = ["webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer",
  "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy"]
  //var reasonsForNoContactFormPE = []
  //ALL REASONS
  //var reasonsForNoContactFormGeneral = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product", "webform_case_not_working_product", "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_other_request_order", "webform_case_return", "webform_case_return_status", "webform_case_creditnote", "webform_case_other_request_returns", "webform_case_refund", "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_other_request_payment", "webform_case_delete_account", "webform_case_cant_login", "webform_case_other_request_account", "webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer", "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy"]
  //ONLY FOLLOWING REASONS: Where is my order, problems with an order, payment
  //var reasonsForNoContactFormGeneral = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product", "webform_case_not_working_product", "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_other_request_order", "webform_case_refund", "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_other_request_payment"]
  //NO REASONS
  const reasonsForNoContactFormGeneral = []

  //Display longer wait times for mails for specific reasons
  const reasonsForLongerMailWaitTime = ["webform_case_product_advice_it", "webform_case_product_advice_network"]
  const languagesForLongerMailWaitTime = ["de"]

  const requestReasonTopCategory = {
    "webform_case_shipping_status": "where_is_my_order",
    "webform_case_ready_for_shipment": "where_is_my_order",
    "webform_case_order_status": "where_is_my_order",
    "webform_case_damaged_product": "problems_with_an_order",
    "webform_case_not_working_product": "problems_with_an_order",
    "webform_case_wrong_product": "problems_with_an_order",
    "webform_case_missing_product": "problems_with_an_order",
    "webform_case_cancel_order": "problems_with_an_order",
    "webform_case_other_request_order": "problems_with_an_order",
    "webform_case_return": "return",
    "webform_case_return_status": "return",
    "webform_case_creditnote": "return",
    "webform_case_other_request_returns": "return",
    "webform_case_refund": "payment_reminder_and_refund",
    "webform_case_receipt": "payment_reminder_and_refund",
    "webform_case_payment_reminder": "payment_reminder_and_refund",
    "webform_case_no_bill": "payment_reminder_and_refund",
    "webform_case_dunning_block": "payment_reminder_and_refund",
    "webform_case_other_request_payment": "payment_reminder_and_refund",
    "webform_case_delete_account": "customer_account",
    "webform_case_cant_login": "customer_account",
    "webform_case_other_request_account": "customer_account",
    "webform_case_product_advice_it": "product_information",
    "webform_case_product_advice_network": "product_information",
    "webform_case_product_advice_consumer": "product_information",
    "webform_case_product_advice_photo": "product_information",
    "webform_case_product_advice_home": "product_information",
    "webform_case_product_advice_diy": "product_information",
    "webform_case_offer": "offer"
  }

  // DOM elements and their contents
  const fullMailform = $('.requestform');
  const introText = $('.contactFormInfoTextClass');
  const fallbackText = $('.fallbackInfoText');
  const customerTypeDropdown = $('.request_ticket_form_id');
  const [requestReasonDropdown, requestReasonDropdownNesty, requestReasonDropdownContents] = getRequestReasonDropdown();
  const contactInfos = $('.contactInfos');
  const infoTextField = $('.contactFormNote');
  const infoText = $('.contactFormTextInfo');
  const backButton = $('.text-back');
  const requestForm = $('.request-form');
  const circleOne = document.getElementById('circle1');
  const circleTwo = document.getElementById('circle2');
  const circleThree = document.getElementById('circle3');
  const circleThreeTitle = $('.circle3Title');
  const circleThreeTitleTwo = $('.circle3Title2');
  const waitTimes = $('.waittime');
  const chatWaitTimesDOMElements = $('.chatWaitTimeOnly');
  const callWaitTimesDOMElements = $('.callWaitTimeOnly');
  const customerTypeDropdownLabel = $('[for=request_issue_type_select]');
  const contactOptions= $('.request-form');
  const requestReasonDropdownLabel = $('#request_custom_fields_360014169819_label')
  const privateContact = $('.private-customer');
  const businessContact = $('.business-customer')
  //Mailform fields, with label and Input field
  const mailFormOrderNumberOrPhoneNumber = $('.request_custom_fields_360007585419');  //Input field for order number, phone number on digitec Connect
  const mailFormSubject = $('.request_subject');
  const mailFormMessage = $('.request_description');
  const mailFormMailInput = $('.request_anonymous_requester_email');
  const commitButton = $('input[name ="commit"]');
  //Mailform fields, labels and input fields separated
  const mailFormAttachmentDropZone = $('#upload-dropzone');
  const mailFormAttachmentLabel = $('label[for="request-attachments"]')
  const mailFormSubjectLabel = $('#request_subject_label');
  const mailFormSubjectTextField = $('#request_subject');
  const mailFormMessageLabel = $('#request_description_label');
  const mailFormMessageTextField = $('#request_description');
  //Contents of DOM elements
  let requestReasonTag; //Filled when the request reason dropdown is changed

  
  // --- INITIAL SETUP ---
  // Case when "Contact Us" Button in footer is clicked
  if (fullLink.slice(-3) == 'new' || fullLink.slice(-4) == 'new/'){
    pageSetup('contactUs');
  }
  // Case when the page reloads after an incorrectly filled mail form
  else if (fullLink.slice(-8) == 'requests'){
    //TODO: Handling beim Laden nach Eingabefehler
    pageSetup('mailFormWrong')
    removeOfferforPrivate();
  }
  // Rest; Case when the page loads after the customer type was selected
  else {
    pageSetup('customerChosen');
    removeOfferforPrivate();
  }


  // --- ACTIONS WHEN USER CLICKS OR CHANGES DOM ELEMENTS ---
  // Action upon change of the request reason dropdown
  requestReasonDropdown.on('change', function(){
    if (requestReasonDropdownContents.attr('value') != ''){
      onDropdownChange();
    }
  });




  // --- FUNCTIONS THAT ADJUST THE PAGE AND ELEMENTS ---
  function pageSetup(entryPoint){
    //Make form attachments required for some reasons
    isFormAttachmentRequired();
    //Hide information that should not be displayed at start
    chatWaitTimesDOMElements.hide();
    callWaitTimesDOMElements.hide();
    infoTextField.hide();
    fallbackText.hide();
    requestForm.hide()
    customerTypeDropdownLabel.hide()
    circleThreeTitleTwo.hide()
    waitTimes.hide()
    backButton.hide();
    contactInfos.hide();
    //adjust the order of the form elements
    customerTypeDropdown.insertBefore(document.getElementById('inserter'));
    //adjust additional elements if it is a customer form
    if (entryPoint == 'customerChosen' || entryPoint == 'mailFormWrong'){
      requestReasonDropdown.insertBefore(document.getElementById('inserter2'));
      circleOne.classList.remove('circleOpenStep');
      circleOne.classList.add('circleStepCompleted');
      circleOne.innerHTML = '&#10003';
    }
    //show form
    fullMailform.show();
  }

  function onDropdownChange(){
    circleTwo.classList.remove('circleOpenStep');
    circleTwo.classList.add('circleStepCompleted');
    circleTwo.innerHTML = '&#10003';
    if (requestReasonDropdownContents.attr('value') == null){
      fallbackExit();
      return;
    } else {
      requestReasonTag = requestReasonDropdownContents.attr('value').replace('//duplicate', '');
    }
    contactInfos.show();
    
  }

  function fallbackExit(){
    introText.hide();
    fallbackText.show();
  }

  function removeOfferforPrivate(){
    if (customerType == 'private-customer'){
      // Removes Offers for Private Customers
      var categoryToRemove = 'webform_case_offer';
      try {
        var catJson = JSON.parse(requestReasonDropdownContents.attr("data-tagger"));
        requestReasonDropdownContents.attr("data-tagger", removeCategoryFromJson(catJson, categoryToRemove));
      }
      catch (e) { // Initial wird das Formular immer geladen ohne Kundentyp und deshalb hier etwas unschön gecatcht. Funktionalität ist jedoch nicht kritisch 
      }
    }
  }

  function removeCategoryFromJson(json, categoryToRemove){  	
    for (var i = 0; i < json.length; i++){
      if (json[i].value == categoryToRemove){
        json.splice(i,1);
      }
    }
  return JSON.stringify(json);
  }

  
  // --- FUNCTIONS TO FILL VARIABLES ---
  function setCustomerType(){
    //Kundentyp setzen
    var tempCustomerType = sessionStorage.getItem('customerType');
    if (fullLink.includes('39231')){
      tempCustomerType = 'private-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    if (fullLink.includes('360000554760')){
      tempCustomerType = 'business-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    if (fullLink.includes('360002056120')){
      tempCustomerType = 'connect-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    return tempCustomerType;
  }



  function getRequestReasonDropdown(){
    let tempRequestReasonDropdown;
    let tempRequestReasonDropdownNesty;
    let  tempRequestReasonDropdownContents
    switch (portal){
      case 'helpcenter.digitec.ch':
      case 'helpcenter.galaxus.ch':
      case 'helpcenter.galaxus.de':
      case 'helpcenter.galaxus.at':
        tempRequestReasonDropdown = $('.request_custom_fields_360014169819');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360014169819');
        break;
      case 'helpcenter.connect.digitec.ch':
        tempRequestReasonDropdown = $('.request_custom_fields_360021132800');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360021132800' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360021132800');
      default:
        tempRequestReasonDropdown = $('.request_custom_fields_360014169819');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360014169819');
        break;
    }
    return[tempRequestReasonDropdown, tempRequestReasonDropdownNesty, tempRequestReasonDropdownContents]
  }







  // --- TICKET FORM ATTACHMENT CHANGES ---
  // Function to start observing node for mutations
  var startObserveMutations = function (nodeSelector, options, callbackFunction) {
    var node = document.querySelector(nodeSelector);
    if (node) {
      var observer = new MutationObserver(callbackFunction);
      observer.observe(node, options);
      return observer;
    }
  };
  
  // Callback function to execute when mutations in form attachments or dropdown are observed:
  // clear or select Attachment checkbox according to dropdown
  var mutationObservedForm = function (mutationsList) {
	  mutationsList.forEach(function (mutation) {
		  if (mutation.type == 'childList') {
			  setFormAttachmentCheckbox();
			  }
	  });
  };

  // Define some variables for requiring form attachments
  var errorMessageId = "";
  var attachmentCheckboxField = 'request_custom_fields_360007967480';
  var attachmentCheckboxId = '#' + attachmentCheckboxField;
  var attachmentErrorNotification = setErrorMessage();
  var formDropdownClass = '.request_custom_fields_360014169819';
  var formObserveMutationOptions = { childList: true, subtree: true };
  $('.request_custom_fields_360007967480').insertAfter('#request-attachments-pool');
  var attachmentErrorElt = $('.' + attachmentCheckboxField + ' .notification-error');

  // Clear or select checkbox according to dropdown and attachments:
  // Set Attachment checkbox if no attachments required, or if attachments are required and at least one is uploaded, otherwise clear it
  function setFormAttachmentCheckbox() {
	  if (isFormAttachmentRequired()) {
		  if ($('#request-attachments-pool .upload-item').length) {
			  selectCheckbox(attachmentCheckboxId);
		  }else {
			  clearCheckbox(attachmentCheckboxId);
		  }
	  }else {
		  selectCheckbox(attachmentCheckboxId);
	  }
  }

  // Return true if dropdown option 'ABCD' is selected
  function isFormAttachmentRequired() {
    var attachString = mailFormAttachmentLabel.html();
    if (attachString == null){
      attachString = "";
    }
    if (attachString.includes('<font color="red">*</font>')){
      attachString = attachString.substring(0, attachString.length - 26);
    }
    mailFormAttachmentLabel.html(attachString);
	  if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_damaged_product')){
		  errorMessageId = currentLanguage + '1';
		  attachmentErrorNotification = setErrorMessage();
		  attachmentErrorElt.text(attachmentErrorNotification);
      attachString = mailFormAttachmentLabel.html();
      if (!attachString.includes('<font color="red">*</font>')){
        attachString += '<font color="red">*</font>';
      }
      mailFormAttachmentLabel.html(attachString);
		  return true;
	  }
	  /*if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_wrong_product')){
		  errorMessageId = currentLanguage + '2';
		  attachmentErrorNotification = setErrorMessage();
		  attachmentErrorElt.text(attachmentErrorNotification);
      attachString = mailFormAttachmentLabel.html();
      if (!attachString.includes('<font color="red">*</font>')){
        attachString += '<font color="red">*</font>';
      }
      mailFormAttachmentLabel.html(attachString);
		  return true;
	  }*/
	  return false;
  }

  // Select checkbox
  function selectCheckbox(eltselector) {
	  $(eltselector).prop('checked', true);
  }

  // Clear checkbox
  function clearCheckbox(eltselector) {
	  $(eltselector).prop('checked', false);
  }
                                                                                              
  // If attachment checkbox field exists, select it,
  // and watch for changes to attachments and dropdown
  if ($(attachmentCheckboxId).length) {
	  selectCheckbox(attachmentCheckboxId);
	  startObserveMutations('#request-attachments-pool', formObserveMutationOptions, mutationObservedForm);
	  startObserveMutations(formDropdownClass, formObserveMutationOptions, mutationObservedForm);
  }

  // Adjust attachment error notification
  if (true) {
	  attachmentErrorNotification = setErrorMessage();
	  attachmentErrorElt.text(attachmentErrorNotification);
  }
  
  function setErrorMessage() {
  	return infoBoxWording["attachment-errors"][errorMessageId]
  }

  setFormAttachmentCheckbox();
  clearCheckbox(attachmentCheckboxId);

  setTimeout(function() { setFormAttachmentCheckbox() }, 500);
</script>