<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>
  
  <div class="form requestform" id="requestForm">
    <font class="contactFormInfoTextClass regular" data-wording-key="contactFormInfoText"></font><font class="fallbackInfoText regular" data-wording-key="fallbackInfoText"></font><br><br>
    <!-- AUTOMATED CHAT -->
    {{chat}}


    <!-- PROGRESS BAR TESTING &#10003 -->

    <table class="progressTable">
        <tr class="connectHide">
            <td class="circleOpenStep" id="circle1">1</td>
            <td style="padding-left:10px; max-width:100%;"><b data-wording-key="chooseCustomerGroup"></b></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr class="connectHide">
            <td class="line"><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px"><div id="inserter"></div></td>
        </tr>
        <tr class="tablespacer connectHide">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle2">2</td>
            <td style="padding-left:10px"><b data-wording-key="chooseRequestReason"></b></td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-bottom:30px;padding-top:15px">
              <div id="inserter2"></div>
              <div class="contactFormNote">
                <div class="contactFormText">
                    <b><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></b>
                  <div class="contactFormTextInfo"></div>
                  <!--<h4></h4>-->
                </div>
                <div class ="questionNotAnswered" data-wording-key="questionNotAnswered"></div>
                <div class="button-contact contactNowButton" data-wording-key="contactNow" style="width:150px;margin-top:0px"></div>
              </div>
            </td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="circleOpenStep" id="circle3">3</td>
            <td style="padding-left:10px"><b class="circle3Title"><font data-wording-key="contactOptions"></font></b><b data-wording-key="email" class="circle3Title2"></b><b data-wording-key="callbackTitle" class="circle3Title3"></b></td>
        </tr>
        <tr class="tablespacer">
            <td></td>
        </tr>
        <tr>
            <td class="line" ><div class="line" style="min-height:30px"></div></td>
            <td style="padding-left:10px;padding-top:0px">

              <!-- DESKTOP CONTACT TABLE -->
              <table width="100%" class="contactInfos hideUnder650" id="desktopContactTable">
                <tr>
                    <td colspan="3">
                        <font data-wording-key="openingDays"></font><font data-wording-key="openingHours"></font>
                        <font data-wording-key="openingDays2"></font><font data-wording-key="openingHours2"></font>
                        <font id="holidaysDesktop"></font>
                    </td>
                </tr>
                <tr>
                  <td width="33%" style="padding-right:20px;padding-top:15px"><div id="mailIconCellContent"><img src="{{asset 'mailIcon.png'}}" height="20px"></div><div id="row1cell1inserter"></div></td>
                  <td width="33%" style="padding-right:10px;padding-left:10px;padding-top:15px"><div id="phoneIconCellContent"><img src="{{asset 'phoneIcon.png'}}" height="20px"></div><div id="row1cell2inserter"></div></td>
                  <td width="33%" style="padding-left:20px;padding-top:15px"><div id="chatIconCellContent"><img src="{{asset 'chatIcon.png'}}" height="20px">&nbsp;&nbsp;<div class="recommendedChannel" data-wording-key="recommendedChannel" style=""></div></div><div id="row1cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px"><div id="mailTitleCellContent"><b data-wording-key="email"></b></div><div id="row2cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px"><div id="phoneTitleCellContent"><b data-wording-key="phone" class="phoneTitle1"></b><b data-wording-key="callbackTitleText" class="phoneTitle2"></b></div><div id="row2cell2inserter"></div></td>
                  <td style="padding-left:20px"><div id="chatTitleCellContent"><b data-wording-key="chat"></b></div><div id="row2cell3inserter"></div></td>
                </tr>
                <tr>
                  <td style="padding-right:20px;vertical-align:top"><div id="mailTextCellContent"><font data-wording-key="emailDescription"></div><div id="row3cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;vertical-align:top">
                    <div id="phoneTextCellContent">
                      <div class="callWaitTimeOnly"><div class="waittime" data-wording-key="callWaitTime"></div></div>
                      <div class="callbackWaitTimeOnly"><div class="waittimeCallback" data-wording-key="callbackWaitTime"></div></div>
                    </div>
                    <div id="row3cell2inserter"></div>
                  </td>
                  <td style="padding-left:20px;vertical-align:top">
                    <div id="chatTextCellContent">
                      <div class="chatWaitTimeOnly"><div class="waittime" data-wording-key="chatWaitTime"></div></div>
                    </div>
                    <div id="row3cell3inserter"></div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-right:20px;padding-top:10px"><div id="mailButtonCellContent"><div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div></div></div><div id="row4cell1inserter"></div></td>
                  <td style="padding-right:10px;padding-left:10px;padding-top:10px"><div id="phoneButtonCellContent">
                    <div class="button-contact phone-number private-number private-customer connect-customer" data-wording-key="callUsPrivate"></div>
                    <div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div>
                    <div class="button-contact callback-number" data-wording-key="callYouCallback"></div>
                    <div class="button-contact callback-number-offline button-offline" data-wording-key="callbackOffline"></div>
                    </div><div id="row4cell2inserter"></div></td>
                  <td style="padding-left:20px;padding-top:10px"><div id="chatButtonCellContent"><div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div></div><div id="row4cell3inserter"></div>
                  </td>
                </tr>
              </table>

              <!-- MOBILE CONTACT TABLE -->
              <table class="contactInfos hideOver651" border="0">
                <tr style="height:0px">
                    <td colspan="3">
                        <font data-wording-key="openingDays"></font>
                        <font data-wording-key="openingHours"></font>
                        <font data-wording-key="openingDays2"></font>
                        <font data-wording-key="openingHours2"></font>
                        <font id="holidaysMobile"></font>
                    </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder" style="padding-top:15px">
                    <div id="mobileMailCell1Content">
                      <img src="{{asset 'mailIcon.png'}}" height="16px">
                      <b><font data-wording-key="email"></font></b>
                      <font style="font-size: 11px;"><br><font data-wording-key="emailDescriptionMobile"></font></font>
                    </div>
                    <div id="mobileInserter1"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobileMailCell2Content">
                      <div class="button-contact contactFormWriteUs" data-wording-key="writeUs"></div>
                    </div>
                    <div id="mobileInserter2"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobilePhoneCell1Content">
                      <img src="{{asset 'phoneIcon.png'}}" height="16px">
                      <b><font class="phoneTitle1" data-wording-key="phone"></font><font data-wording-key="callbackTitleText" class="phoneTitle2"></font></b>
                      <font class="callWaitTimeOnly"><br><font class="waittime" style="font-size: 11px;" data-wording-key="callWaitTime"></font></font>
                      <font class="callbackWaitTimeOnly"><br><font class="waittimeCallback" style="font-size: 11px;" data-wording-key="callbackWaitTime"></font></font>
                    </div>
                    <div id="mobileInserter3"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorderBottomPadding">
                    <div id="mobilePhoneCell2Content">
                      <div class="button-contact phone-number private-number2 private-customer connect-customer" data-wording-key="callUsPrivateMobile"></div>
                      <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div>
                      <div class="button-contact callback-number2" data-wording-key="callYouCallback"></div>
                      <div class="button-contact callback-number-offline-mobile button-offline" data-wording-key="callbackOfflineMobile"></div>
                    </div>
                    <div id="mobileInserter4"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell1Content">
                      <img src="{{asset 'chatIcon.png'}}" height="16px">
                      <b><font data-wording-key="chat"></font></b>
                      <font class="chatWaitTimeOnly"><br><font class="waittime" style="font-size: 11px;" data-wording-key="chatWaitTime"></font></font>
                      <div class="recommendedChannel" data-wording-key="recommendedChannel" style="float:right;"></div>
                    </div>
                    <div id="mobileInserter5"></div>
                  </td>
                </tr>
                <tr>
                  <td class="contactButtonTableCellLeftNoBorder">
                    <div id="mobileChatCell2Content">
                      <div class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></div>
                    </div>
                    <div id="mobileInserter6"></div>
                  </td>
                </tr>
              </table>

              <h5><a class="text-back">&lt; <font data-wording-key="backButtonText"></font></a></h5>
              {{request_form}}
              <form class="callbackRequestForm" id="callbackRequestForm" action="">
                <div class="form-field string optional request">
                  <label data-wording-key="callbackPhoneNumber"></label>
                  <table><tr><td>+41&nbsp;&nbsp;</td><td><input type="number" min="0" name="callback_customer_phone_number" class="callback_customer_phone_number_input"/></td></tr></table>
                  <label class="callbackPhoneErrorLabel"><font color="red" class="callbackPhoneErrorText"></font></label>
                  <label><i data-wording-key="callbackPhoneNumberHint"></i></label>
                </div>
                <div class="form-field string optional request callbackOrderNumberFormFields">
                  <label data-wording-key="callbackOrderNumber"></label>
                  <table><tr><td><input type="number" name="callback_customer_order_number" class="callback_customer_order_number_input"/></td></tr></table>
                </div>
                <div class="form-field string optional request callbackRGNumberFormFields">
                  <label data-wording-key="callbackRGNumber"></label>
                  <table><tr><td><input type="number" name="callback_customer_rg_number" class="callback_customer_rg_number_input"/></td></tr></table>
                </div>
                <div class="form-field string optional request">
                  <label for="callback_customer_email" data-wording-key="callbackEmailLabel"></label>
                  <input type="email" name="callback_customer_email" id="callback_customer_email" class="callback_customer_mail_input"/>
                  <label class="callbackMailErrorLabel"><font color="red" class="callbackMailErrorText"></font></label>
                  <!--<label><i data-wording-key="callbackMailHint"></i></label>-->
                </div>
                <div class="form-field">
                  <label data-wording-key="callbackAgentHint"></label>
                  <label class="callbackFormErrorText" style="color:red"></label>
                  <button type="button" class="button-large callbackSubmitButton" data-wording-key="demandCallback"></button>
                </div>
              </form>
            </td>
        </tr>
    </table>
     
  </div>
</div>
<script>
  //THE FULL MAIL FORM IS INITIALLY HIDDEN

  // --- SETTING UP VARIABLES ---
  // General variables
  // Following variables are already defined elsewhere: portal, currentLanguage
  let fullLink = window.location.href;
  let customerType = setCustomerType();  //the function also removes offers for private customers in the dropdown selection
  let infoBoxWording = fillInfoBoxWording();
  let contactFormIsShown = 0; // 0 Shows Infotext and 1 shows OrderNumber Field
  //List of tags to hide OrderNumber Input Field
  const reasonsForNoOrderNumber = ["webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer",
  "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy", "webform_case_delete_account", "webform_case_cant_login",
  "webform_case_offer", "webform_case_no_bill"]
  //list of tags to hide Contact Form for PE and general requests during opening times
  const reasonsForNoContactFormPE = ["webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer",
  "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy"]
  //var reasonsForNoContactFormPE = []
  //ALL REASONS
  //var reasonsForNoContactFormGeneral = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product", "webform_case_not_working_product", "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_other_request_order", "webform_case_return", "webform_case_return_status", "webform_case_creditnote", "webform_case_other_request_returns", "webform_case_refund", "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_other_request_payment", "webform_case_delete_account", "webform_case_cant_login", "webform_case_other_request_account", "webform_case_product_advice_it", "webform_case_product_advice_network", "webform_case_product_advice_consumer", "webform_case_product_advice_photo", "webform_case_product_advice_home", "webform_case_product_advice_diy"]
  //ONLY FOLLOWING REASONS: Where is my order, problems with an order, payment
  //var reasonsForNoContactFormGeneral = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product", "webform_case_not_working_product", "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_other_request_order", "webform_case_refund", "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_other_request_payment"]
  //NO REASONS
  const reasonsForNoContactFormGeneral = []

  //Display longer wait times for mails for specific reasons
  const reasonsForLongerMailWaitTime = ["webform_case_product_advice_it", "webform_case_product_advice_network"]
  const languagesForLongerMailWaitTime = ["de"]

  //reasons for callback to be shown
  const reasonsForCallback = ["webform_case_shipping_status", "webform_case_ready_for_shipment", "webform_case_order_status", "webform_case_damaged_product", "webform_case_not_working_product", "webform_case_wrong_product", "webform_case_missing_product", "webform_case_cancel_order", "webform_case_other_request_order", "webform_case_return", "webform_case_return_status", "webform_case_creditnote", "webform_case_other_request_returns", "webform_case_refund", "webform_case_receipt", "webform_case_payment_reminder", "webform_case_no_bill", "webform_case_dunning_block", "webform_case_other_request_payment", "webform_case_delete_account", "webform_case_cant_login", "webform_case_other_request_account"]

  const requestReasonTopCategory = {
    "webform_case_shipping_status": "where_is_my_order",
    "webform_case_ready_for_shipment": "where_is_my_order",
    "webform_case_order_status": "where_is_my_order",
    "webform_case_damaged_product": "problems_with_an_order",
    "webform_case_not_working_product": "problems_with_an_order",
    "webform_case_wrong_product": "problems_with_an_order",
    "webform_case_missing_product": "problems_with_an_order",
    "webform_case_cancel_order": "problems_with_an_order",
    "webform_case_other_request_order": "problems_with_an_order",
    "webform_case_return": "return",
    "webform_case_return_status": "return",
    "webform_case_creditnote": "return",
    "webform_case_other_request_returns": "return",
    "webform_case_refund": "payment_reminder_and_refund",
    "webform_case_receipt": "payment_reminder_and_refund",
    "webform_case_payment_reminder": "payment_reminder_and_refund",
    "webform_case_no_bill": "payment_reminder_and_refund",
    "webform_case_dunning_block": "payment_reminder_and_refund",
    "webform_case_other_request_payment": "payment_reminder_and_refund",
    "webform_case_delete_account": "customer_account",
    "webform_case_cant_login": "customer_account",
    "webform_case_other_request_account": "customer_account",
    "webform_case_product_advice_it": "product_information",
    "webform_case_product_advice_network": "product_information",
    "webform_case_product_advice_consumer": "product_information",
    "webform_case_product_advice_photo": "product_information",
    "webform_case_product_advice_home": "product_information",
    "webform_case_product_advice_diy": "product_information",
    "webform_case_offer": "offer"
  }

  // DOM elements and their contents
  const fullMailform = $('.requestform');
  const introText = $('.contactFormInfoTextClass');
  const fallbackText = $('.fallbackInfoText');
  const customerTypeDropdown = $('.request_ticket_form_id');
  const [requestReasonDropdown, requestReasonDropdownNesty, requestReasonDropdownContents] = getRequestReasonDropdown();
  const contactInfos = $('.contactInfos');
  const infoTextField = $('.contactFormNote');
  const infoText = $('.contactFormTextInfo');
  const backButton = $('.text-back');
  const requestForm = $('.request-form');
  const circleOne = document.getElementById('circle1');
  const circleTwo = document.getElementById('circle2');
  const circleThree = document.getElementById('circle3');
  const circleThreeTitle = $('.circle3Title');
  const circleThreeTitleTwo = $('.circle3Title2');
  const circleThreeTitleThree = $('.circle3Title3')
  const waitTimes = $('.waittime');
  const chatWaitTimesDOMElements = $('.chatWaitTimeOnly');
  const callWaitTimesDOMElements = $('.callWaitTimeOnly');
  const callbackWaitTimesDOMElements = $('.callbackWaitTimeOnly');
  const customerTypeDropdownLabel = $('[for=request_issue_type_select]');
  const contactOptions= $('.request-form');
  const requestReasonDropdownLabel = $('#request_custom_fields_360014169819_label')
  const privateContact = $('.private-customer');
  const businessContact = $('.business-customer')
  const connectContact = $('.connect-customer')
  const phoneTitleOne = $('.phoneTitle1')
  const phoneTitleTwo = $('.phoneTitle2')
  //Mailform fields, with label and Input field
  const mailFormOrderNumberOrPhoneNumber = $('.request_custom_fields_360007585419');  //Input field for order number, phone number on digitec Connect
  const mailFormSubject = $('.request_subject');
  const mailFormMessage = $('.request_description');
  const mailFormMailInput = $('.request_anonymous_requester_email');
  const commitButton = $('input[name ="commit"]');
  //Mailform fields, labels and input fields separated
  const mailFormAttachmentDropZone = $('#upload-dropzone');
  const mailFormAttachmentLabel = $('label[for="request-attachments"]')
  const mailFormSubjectLabel = $('#request_subject_label');
  const mailFormSubjectTextField = $('#request_subject');
  const mailFormMessageLabel = $('#request_description_label');
  const mailFormMessageTextField = $('#request_description');
  //Contents of DOM elements
  var requestReasonTag = 'unknown'; //Filled when the request reason dropdown is changed
  //WaitSeconds
  let callWaitSeconds = 0;
  let chatWaitSeconds = 0;


  //--- CALLBACK SETTING UP A/B AND FURTHER VARIABLES
  $('.callback-number-offline').hide();
  $('.callback-number-offline-mobile').hide();
  let callBackTokenChecker = false;
  let callbackButton = $('.callback-number')
  let callbackButtonMobile = $('.callback-number2')
  let callbackButtonClicked = false;
  callbackButton.hide();
  callbackButtonMobile.hide();
  if (!isInCHOpeningTimes()){
    callbackButton = $('.callback-number-offline')
    callbackButtonMobile = $('.callback-number-offline-mobile')
  }
  const callbackForm = $('.callbackRequestForm')
  const callBackSubmitButton = $('.callbackSubmitButton')
  callbackForm.hide()
  
  if (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch'){
    if (localStorage.getItem("callbackGroup3") === null){
      if (Math.random() < 0.5){
        localStorage.setItem("callbackGroup3", "true");
      }
      else {
        localStorage.setItem("callbackGroup3", "false");
      }
    }
  }
  else {
    localStorage.setItem("callbackGroup3", "false");
  }
  /*if (portal == 'helpcenter.galaxus.ch' && customerType == "private-customer"){
    localStorage.setItem("callbackGroup3", true);
  }
  else {
    localStorage.setItem("callbackGroup3", true);
  }*/
  console.log(localStorage.getItem("callbackGroup3"));
  const callBackPhoneInputField = $('.callback_customer_phone_number_input')
  const callBackOrderInputField = $('.callback_customer_order_number_input')
  const callBackRGInputField = $('.callback_customer_rg_number_input')
  const callBackMailInputField = $('.callback_customer_mail_input')


  
  // --- INITIAL SETUP ---
  // Case when "Contact Us" Button in footer is clicked
  addExternalScriptForWaitingTimes(true);
  if (fullLink.slice(-3) == 'new' || fullLink.slice(-4) == 'new/'){
    pageSetup('contactUs');
  }
  // Case when the page reloads after an incorrectly filled mail form
  else if (fullLink.slice(-8) == 'requests'){
    //TODO: Handling beim Laden nach Eingabefehler
    removeOfferforPrivate();
    pageSetup('mailFormWrong')
  }
  // Rest; Case when the page loads after the customer type was selected
  else {
    pageSetup('customerChosen');
    removeOfferforPrivate();
  }



  // --- FUNCTIONS THAT ADJUST THE PAGE AND ELEMENTS ---
  function pageSetup(entryPoint){
    //Make form attachments required for some reasons
    isFormAttachmentRequired();
    //Hide information that should not be displayed at start
    chatWaitTimesDOMElements.hide();
    callWaitTimesDOMElements.hide();
    callbackWaitTimesDOMElements.hide();
    infoTextField.hide();
    fallbackText.hide();
    requestForm.hide()
    customerTypeDropdownLabel.hide()
    circleThreeTitleTwo.hide()
    circleThreeTitleThree.hide()
    waitTimes.hide()
    backButton.hide();
    contactInfos.hide();
    //adjust the order of the form elements
    customerTypeDropdown.insertBefore(document.getElementById('inserter'));
    //adjust additional elements if it is a customer form
    if (entryPoint == 'customerChosen' || entryPoint == 'mailFormWrong'){
      requestReasonDropdown.insertBefore(document.getElementById('inserter2'));
      circleOne.classList.remove('circleOpenStep');
      circleOne.classList.add('circleStepCompleted');
      circleOne.innerHTML = '&#10003';
    }
    if (entryPoint == 'mailFormWrong'){
      onDropdownChange();
      showContactForm();
      mailFormMessageTextField.val(sessionStorage.getItem('mailFormMessageTextFieldText'));
    }
    //show form
    if (portal == 'helpcenter.connect.digitec.ch'){
      
    }
    fullMailform.show();
  }

  function onDropdownChange(){
    circleTwo.classList.remove('circleOpenStep');
    circleTwo.classList.add('circleStepCompleted');
    circleTwo.innerHTML = '&#10003';
    if (requestReasonDropdownContents.attr('value') == null){
      fallbackExit();
      return;
    } else {
      requestReasonTag = requestReasonDropdownContents.attr('value').replace('//duplicate', '');
    }
    infoText.html(infoBoxWording[requestReasonTag][currentLanguage]);
    $('.questionNotAnswered').hide();
    $('.contactNowButton').hide();
    infoText.show();
    infoTextField.show();
    mailFormSubjectTextField.val($(requestReasonDropdownNesty).text());  //Autofill Mail Subject

    contactNowClicked();

    //-- CALLBACK BUTTON SHOW/HIDE --
    if (callbackCheck()){
      $('.phone-number').hide()
      callbackButton.show()
      callbackButtonMobile.show()
      phoneTitleTwo.show()
      phoneTitleOne.hide()
    }
    else {
      callbackButton.hide()
      callbackButtonMobile.hide()
      phoneTitleTwo.hide()
      phoneTitleOne.show()
    }

    //-- CALLBACK ALTERNATIVE PHONE NUMBERS --
        //if (currentLanguage == 'de' && reasonsForCallback.indexOf(requestReasonTag) >= 0 && localStorage.getItem("callbackGroup3") == "true" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')){

    if (currentLanguage == 'de' && reasonsForCallback.indexOf(requestReasonTag) >= 0 && localStorage.getItem("callbackGroup3") == "false" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')){
      var extraPrivateNumber = "undefined";
      var extraPrivateNumberText = "undefined";
      var dynamicWordingTemp = filldynamicWording();
      if (portal == "helpcenter.digitec.ch"){
        switch (requestReasonTopCategory[requestReasonTag]){
          case 'where_is_my_order':
            var dynamicWordingTemp = filldynamicWording("+41445759708", "+41 44 575 97 08")
            break;
          case 'problems_with_an_order':
            var dynamicWordingTemp = filldynamicWording("+41445759709", "+41 44 575 97 09")
            break;
          case 'return':
            var dynamicWordingTemp = filldynamicWording("+41445759802", "+41 44 575 98 02")
            break;
          case 'payment_reminder_and_refund':
            var dynamicWordingTemp = filldynamicWording("+41445759803", "+41 44 575 98 03")
            break;
          case 'customer_account':
            var dynamicWordingTemp = filldynamicWording("+41445759805", "+41 44 575 98 05")
            break;
          default:
            var dynamicWordingTemp = filldynamicWording()
            break;
        }
      }
      if (portal == 'helpcenter.galaxus.ch'){
        console.log(requestReasonTopCategory[requestReasonTag])
        switch (requestReasonTopCategory[requestReasonTag]){
          case 'where_is_my_order':
            var dynamicWordingTemp = filldynamicWording("+41445759602", "+41 44 575 96 02")
            break;
          case 'problems_with_an_order':
            var dynamicWordingTemp = filldynamicWording("+41445759604", "+41 44 575 96 04")
            break;
          case 'return':
            var dynamicWordingTemp = filldynamicWording("+41445759605", "+41 44 575 96 05")
            break;
          case 'payment_reminder_and_refund':
            var dynamicWordingTemp = filldynamicWording("+41445759607", "+41 44 575 96 07")
            break;
          case 'customer_account':
            var dynamicWordingTemp = filldynamicWording("+41445759609", "+41 44 575 96 09")
            break;
          default:
            var dynamicWordingTemp = filldynamicWording()
            break;
        }
      }
      $('.private-number').html(dynamicWordingTemp['de']['callUsPrivate'])
      $('.private-number2').html(dynamicWordingTemp['de']['callUsPrivateMovile'])
    }
    fillHoliday(currentLanguage);
  }

  function contactNowClicked(){
    switch (customerType){
      case "private-customer":
        privateContact.show();
        break;
      case "business-customer":
        businessContact.show();
        break;
      case "connect-customer":
        connectContact.show();
        break;
      default:
        privateContact.show();
        break;
    }
    try {
      updateChatDepartment();
    }
    catch (e) {
      console.log(e);
      hideChatButton(); 
      if(gaSend){
        //TODO: TRACKING
        //ga('send', 'event', 'Errors', 'ChatLoad', String(e));
      }
    } 
    addExternalScriptForWaitingTimes(false);
    contactInfos.show();
    requestForm.hide();
    callbackForm.hide();
    backButton.hide();
    circleThreeTitle.show();
    circleThreeTitleTwo.hide();
    circleThreeTitleThree.hide();
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      mailFormOrderNumberOrPhoneNumber.hide()
    }
    else {
      mailFormOrderNumberOrPhoneNumber.show();
    }
    reorderContactChannels();
  }

  function fallbackExit(){
    introText.hide();
    fallbackText.show();
  }

  function removeOfferforPrivate(){
    if (customerType == 'private-customer'){
      // Removes Offers for Private Customers
      var categoryToRemove = 'webform_case_offer';
      try {
        var catJson = JSON.parse(requestReasonDropdownContents.attr("data-tagger"));
        requestReasonDropdownContents.attr("data-tagger", removeCategoryFromJson(catJson, categoryToRemove));
      }
      catch (e) { // Initial wird das Formular immer geladen ohne Kundentyp und deshalb hier etwas unschön gecatcht. Funktionalität ist jedoch nicht kritisch 
      }
    }
  }

  function removeCategoryFromJson(json, categoryToRemove){  	
    for (var i = 0; i < json.length; i++){
      if (json[i].value == categoryToRemove){
        json.splice(i,1);
      }
    }
  return JSON.stringify(json);
  }

  // CSS Change für Chat Button Offline
  function hideChatButton(){
    $(".button-chat").addClass("button-offline");
 	  $(".button-chat").html(getButtonText('chatNotOnline'));
    $(".recommendedChannel").css('display' , 'none');
    chatWaitTimesDOMElements.hide();
  }

  // CSS Change für Chat Button Online
  function showChatButton(){
    $(".button-chat").removeClass("button-offline");
    $(".button-chat").html(getButtonText('chatUs'));
    $(".recommendedChannel").css('display' , 'inline-block');
    chatWaitTimesDOMElements.show();
  }

  //Add external wait time script
  function addExternalScriptForWaitingTimes(firstCall){
    if (!firstCall){
      $('.waitTimeScript').remove();
      $('.callbackScript').remove();
    }
    var script = document.createElement('script');
    script.classList.add('waitTimeScript')
    script.src = 'https://www.hardread.ch/testing/waitTimes.js';
    script.onload = function() {
        setWaitTimes();
    }
    script.onerror = function() {
        waitTimes.hide();
        switchHideContactFormDuringOpeningTimes = false;
        switchHideContactFormForPEDuringOpeningTimes = false;
        switchHideContactFormForBusinessDuringOpeningTimes = false;
        switchHideContactFormForEUDuringOpeningTimes = false;
    }
    document.body.appendChild(script);
    var script2 = document.createElement('script');
    script2.classList.add('callbackScript');
    script2.src = 'https://www.hardread.ch/testing/callback.js';
    script2.onload = function() {
      callBackTokenChecker = true;
    }
    script2.onerror = function() {
        callBackTokenChecker = false;
    }
    document.body.appendChild(script2);
  }

  function addExternalScriptForCallback(enteredPhoneNumber, enteredOrderNumber, enteredMail, enteredRGNumber){
    $('.callbackScript').remove();
    var script2 = document.createElement('script');
    script2.classList.add('callbackScript');
    script2.src = 'https://www.hardread.ch/testing/callback.js';
    script2.onload = function() {
      callbackAPIRequest(enteredPhoneNumber, enteredOrderNumber, enteredMail, enteredRGNumber);
    }
    script2.onerror = function() {
        callBackTokenChecker = false;
        callbackButtonClicked = false;
    }
    document.body.appendChild(script2);
  }

  //set the waiting times
  function setWaitTimes(){
    waitTimes.hide();
    const d = new Date();
    const dateFromExternalScript = new Date(createTimeStampUTC);
    const currentUTCDate = new Date(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate(), d.getUTCHours(), d.getUTCMinutes(), d.getUTCSeconds());
    const diffSeconds = Math.abs((currentUTCDate - dateFromExternalScript) / 1000)
    if (diffSeconds > 299 || isHoliday()){
      waitTimes.hide();
      return;
    }
    if (portal == 'helpcenter.galaxus.de' || portal == 'helpcenter.galaxus.at'){
      if (isInDEOpeningTimes()) {
        if (customerType == 'private-customer') {
          if (callWaitTimes['privateGer'] >= callWaitTimes['privateAt']) {
            setWaitTime(chatWaitTimes['gerDE'], callWaitTimes['privateGer'], callWaitTimes['privateGer'])
          } else {
            setWaitTime(chatWaitTimes['gerDE'], callWaitTimes['privateAt'], callWaitTimes['privateAt'])
          }
        } else {
          if (callWaitTimes['businessGer'] >= callWaitTimes['privateAt']) {
            setWaitTime(chatWaitTimes['gerDE'], callWaitTimes['businessGer'], callWaitTimes['businessGer'])
          } else {
            setWaitTime(chatWaitTimes['gerDE'], callWaitTimes['privateAt'], callWaitTimes['privateAt'])
          }
        }
      }
      else {
        setClosed();
      }
    }
    if (portal == 'helpcenter.connect.digitec.ch'){
      if (isInConnectOpeningTimes()){
        switch (currentLanguage) {
          case 'de':
            setWaitTime(chatWaitTimes['connectDE'], callWaitTimes['connectDE'], callWaitTimes['connectDE']);
            break;
          case 'fr':
            setWaitTime(chatWaitTimes['connectFR'], callWaitTimes['connectFR'], callWaitTimes['connectFR']);
            break;
          case 'it':
            setWaitTime(chatWaitTimes['connectIT'], callWaitTimes['connectIT'], callWaitTimes['connectIT']);
            break;
          case 'en-US':
            setWaitTime(chatWaitTimes['connectEN'], callWaitTimes['connectEN'], callWaitTimes['connectEN']);
            break;
          default:
            setWaitTime(chatWaitTimes['connectDE'], callWaitTimes['connectDE'], callWaitTimes['connectDE']);
            break;
        }
      }
      else {
        setClosed();
      }
    }
    if (portal == 'helpcenter.galaxus.ch' || portal == 'helpcenter.digitec.ch'){
      if ((isInCHOpeningTimes() && customerType == 'private-customer') || (customerType == 'business-customer' && !isInBusinessOpeningTimes() && isInCHOpeningTimes())){
        switch (currentLanguage) {
            case 'de':
              setWaitTime(chatWaitTimes['privateDE'], callWaitTimes['privateCHDE'], callWaitTimes['callbackDE'])
              break;
            case 'fr':
              setWaitTime(chatWaitTimes['privateFR'], callWaitTimes['privateCHFR'], callWaitTimes['privateCHFR'])
              break;
            case 'it':
              setWaitTime(chatWaitTimes['privateIT'], callWaitTimes['privateCHIT'], callWaitTimes['privateCHIT'])
              break;
            case 'en-US':
              setWaitTime(chatWaitTimes['privateEN'], callWaitTimes['privateCHEN'], callWaitTimes['privateCHEN'])
              break;
            default:
              setWaitTime(chatWaitTimes['privateDE'], callWaitTimes['privateCHDE'], callWaitTimes['privateCHDE'])
              break;
        }
        if (isInCHPEOpeningTimes() && requestReasonTag.includes('webform_case_product_advice_') && currentLanguage == 'de'){
          var lastIndex = requestReasonTag.lastIndexOf('_');
          var splitstring = requestReasonTag.substring(lastIndex, requestReasonTag.length)
          var lastpart = splitstring.substring(1, splitstring.length)
          var lastpartCapitalized = lastpart.charAt(0).toUpperCase() + lastpart.substring(1, lastpart.length)
          if (lastpartCapitalized.includes('It') || lastpartCapitalized.includes('Network')) {
            setWaitTime(chatWaitTimes['pe' + lastpartCapitalized + 'DE'], callWaitTimes['peItNetwork'], callWaitTimes['peItNetwork'])
          } else if (lastpartCapitalized.includes('Consumer') || lastpartCapitalized.includes('Photo')) {
            setWaitTime(chatWaitTimes['pe' + lastpartCapitalized + 'DE'], callWaitTimes['peConsumerPhoto'], callWaitTimes['peConsumerPhoto'])
          } else if (lastpartCapitalized.includes('Diy') || lastpartCapitalized.includes('Home')) {
            setWaitTime(chatWaitTimes['pe' + lastpartCapitalized + 'DE'], callWaitTimes['peDiyHome'], callWaitTimes['peDiyHome'])
          }
        }
      }
      else if (isInBusinessOpeningTimes() && customerType == 'business-customer') {
        switch (currentLanguage) {
            case 'de':
              setWaitTime(chatWaitTimes['businessDE'], callWaitTimes['businessCHDE'], 0)
              break;
            case 'fr':
              setWaitTime(chatWaitTimes['businessFR'], callWaitTimes['businessCHFR'], 0)
              break;
            case 'it':
              setWaitTime(chatWaitTimes['businessIT'], callWaitTimes['businessCHIT'], 0)
              break;
            case 'en-US':
              setWaitTime(chatWaitTimes['businessEN'], callWaitTimes['businessCHEN'], 0)
              break;
            default:
              setWaitTime(chatWaitTimes['businessDE'], callWaitTimes['businessCHDE'], 0)
              break;
        }
      }
      else {
        setClosed();
      }
    }
  }

  function setWaitTime(chatSeconds, callSeconds, callbackSeconds){
      if (chatSeconds > 180){
          $(".recommendedChannel").css('display' , 'none');
      }
      chatWaitSeconds = chatSeconds;
      callWaitSeconds = callSeconds;
      if (callbackSeconds > callSeconds) {
        callWaitSeconds = callbackSeconds
      }
      var chatElements = $('.chatWaitTime')
      var callElements = $('.callWaitTime')
      var callbackElements = $('.callbackWaitTime')
      changeWaitTimeHTML(chatSeconds, chatElements)
      changeWaitTimeHTML(callSeconds, callElements)
      changeWaitTimeHTML(callSeconds, callbackElements)
      //hideContactForm();
      waitTimes.show();
  }

  function changeWaitTimeHTML(seconds, elements){
      if (callbackCheck()){
        callbackWaitTimesDOMElements.show();
        callWaitTimesDOMElements.hide();
        $('.phone-number').hide()
        callbackButton.show()
        callbackButtonMobile.show()
        phoneTitleTwo.show()
        phoneTitleOne.hide()
      } else {
        callbackWaitTimesDOMElements.hide();
        callWaitTimesDOMElements.show();
        callbackButton.hide()
        callbackButtonMobile.hide()
        phoneTitleTwo.hide()
        phoneTitleOne.show()
        if (customerType == 'private-customer'){
          $('.private-number').show()
        }
      }
      if (seconds < 31){
          for (var i = 0; i < elements.length; i++){
              switch (currentLanguage){
                  case 'de':
                    elements[i].innerHTML = 'unter 1';
                    break;
                  case 'fr':
                    elements[i].innerHTML = 'moins de 1';
                    break;
                  case 'it':
                    elements[i].innerHTML = 'meno di 1';
                    break;
                  case 'en-US':
                    elements[i].innerHTML = 'under 1';
                    break;
                  default:
                    elements[i].innerHTML = 'unter 1';
                    break;
              }
          }  
      } else if (seconds > 1830) {
          var waitingMin = '30';
          for (var i = 0; i < elements.length; i++){
              switch(currentLanguage){
                  case 'de':
                    elements[i].innerHTML = 'min. ' + waitingMin;
                    break;
                  case 'fr':
                    elements[i].innerHTML = 'min. ' + waitingMin;
                    break;
                  case 'it':
                    elements[i].innerHTML = 'min. ' + waitingMin;
                    break;
                  case 'en-US':
                    elements[i].innerHTML = 'min. ' + waitingMin;
                    break;
                  default:
                    elements[i].innerHTML = 'min. ' + waitingMin;
                    break;
              }
          }
        } else
          {
          var waitingMin = String(Math.floor((seconds + 30)/60));
          for (var i = 0; i < elements.length; i++){
              switch (currentLanguage){
                  case 'de':
                    elements[i].innerHTML = ' ' + waitingMin;
                    break;
                  case 'fr':
                    elements[i].innerHTML = ' ' + waitingMin;
                    break;
                  case 'it':
                    elements[i].innerHTML = ' ' + waitingMin;
                    break;
                  case 'en-US':
                    elements[i].innerHTML = ' ' + waitingMin;
                    break;
                  default:
                    elements[i].innerHTML = ' ' + waitingMin;
                    break;
              }
          }
      }
  }

  //Returns true or false for holidays
  function isHoliday(){
      var portalChooser = '';
      switch(portal){
          case 'helpcenter.digitec.ch':
          case 'helpcenter.galaxus.ch':
          case 'helpcenter.connect.digitec.ch':
            portalChooser = 'ch'
            break;
          case 'helpcenter.galaxus.de':
          case 'helpcenter.galaxus.at':
            portalChooser = 'eu'
            break;
          default:
            portalChooser = 'ch'
            break;
      }
      const d = new Date();
      datestring = String(d.getUTCFullYear()) + '-' + String(d.getUTCMonth() + 1) + '-' + String(d.getUTCDate()) + ' ' + String(d.getUTCHours()) + ':' + String(d.getUTCMinutes()) + ':' + String(d.getUTCSeconds())
      const utc_timestamp = Date.parse(datestring)
      var stampslist = hideWaitingTimes[portalChooser]
      checker = false;
      stampslist.forEach((stampset) => {
          if (utc_timestamp > Date.parse(stampset[0]) && utc_timestamp < Date.parse(stampset[1])){
              checker = true;
          }
      })
      return checker;
  }


  function reorderContactChannels(){
    let contactChannelChat = true;
    let contactChannelCall = true;
    let contactChannelMail = true;
    let isOpen = 'true';
    let isPE = false;
    let isCH = false;
    let isBusiness = false;
    switch (portal){
      case 'helpcenter.digitec.ch':
      case 'helpcenter.galaxus.ch':
        if (requestReasonTag.includes('webform_case_product_advice_') && customerType == 'private-customer'){
          isOpen = isInCHPEOpeningTimes();
          isPE = true;
          isCH = true;
        }
        else {
          if (customerType == "business-customer"){
            isOpen = isInBusinessOpeningTimes();
            isPE = false;
            isCH = true;
            isBusiness = true;
          }
          else {
            isOpen = isInCHOpeningTimes();
            isPE = false;
            isCH = true;
            isBusiness = false;
          }
        }
        break;
      case 'helpcenter.connect.digitec.ch':
        isOpen = isInCHPEOpeningTimes();
        isCH = true;
        break;
      case 'helpcenter.galaxus.de':
      case 'helpcenter.galaxus.at':
        isOpen = isInDEOpeningTimes();
        isCH = false;
        break;
      default:
        isOpen = false;
        break;
    }
    // Business Logic to Add Or Remove Contact Option Based on Selection ------> Change in HolidayAndSwitches.js
    // PE Schweiz
    if (isPE && isCH){
      // In Business Hours
      if (isOpen){
        if (switchHideContactFormForPEDuringOpeningTimes){
          contactChannelMail = false;
        }
        if (phoneWaitThreshholdToShowContactFormPE < callWaitSeconds || chatWaitThreshholdToShowContactFormPE < chatWaitSeconds || (chatAndPhoneWaitThreshholdToShowContactFormPE < callWaitSeconds && chatAndPhoneWaitThreshholdToShowcontactFormPE < chatWaitSeconds)){
          contactChannelMail = true;
        }
        if (switchHidePhoneForPEDuringOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForPEDuringOpeningTimes){
          contactChannelChat = false;
        }
      }
      //OutOfBusinessHours
      else {
        if (switchHideContactFormForPEOutsideOpeningTimes){
          contactChannelMail = false;
        }
        if (switchHidePhoneForPEOutsideOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForPEOutsideOpeningTimes){
          contactChannelChat = false;
        }
      }
    }
    //B2C CH
    else if (isCH && !isBusiness) {
      //In Business Hours
      if (isOpen){
        if (switchHideContactFormDuringOpeningTimes){
          contactChannelMail = false;
        }
        if (phoneWaitThreshholdToShowContactForm <= callWaitSeconds || chatWaitThreshholdToShowContactForm <= chatWaitSeconds || (chatAndPhoneWaitThreshholdToShowContactForm <= callWaitSeconds && chatAndPhoneWaitThreshholdToShowContactForm <= chatWaitSeconds)){
          contactChannelMail = true;
        }
        if (switchHidePhoneDuringOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatDuringOpeningTimes){
          contactChannelChat = false;
        }
      }
      //OutOfBusinessHours
      else {
        if (switchHideContactFormOutsideOpeningTimes){
          contactChannelMail = false;
        }
        if (switchHidePhoneOutsideOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatOutsideOpeningTimes){
          contactChannelChat = false;
        }
      }
    }
    //B2B CH
    else if (isCH && isBusiness){
      //In Business Hours
      if (isOpen){
        if (switchHideContactFormForBusinessDuringOpeningTimes){
          contactChannelMail = false;
        }
        if (phoneWaitThreshholdToShowContactFormBusiness <= callWaitSeconds || chatWaitThreshholdToShowContactFormBusiness <= chatWaitSeconds || (chatAndPhoneWaitThreshholdToShowContactFormBusiness <= callWaitSeconds && chatAndPhoneWaitThreshholdToShowContactFormBusiness <= chatWaitSeconds)){
          contactChannelMail = true;
        }
        if (switchHidePhoneForBusinessDuringOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForBusinessDuringOpeningTimes){
          contactChannelChat = false;
        }
      }
      //OutOfBusinessHours
      else {
        if (switchHideContactFormForBusinessOutsideOpeningTimes){
          contactChannelMail = false;
        }
        if (switchHidePhoneForBusinessOutsideOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForBusinessOutsideOpeningTimes){
          contactChannelChat = false;
        }
      }
    }
    // EU
    else if(!isCH) {
      //In Business Hours
      if (isOpen){
        if (switchHideContactFormForEUDuringOpeningTimes){
          contactChannelMail = false;
        }
        if (phoneWaitThreshholdToShowContactFormEU < callWaitSeconds || chatWaitThreshholdToShowContactFormEU < chatWaitSeconds || (chatAndPhoneWaitThreshholdToShowContactFormEU < callWaitSeconds && chatAndPhoneWaitThreshholdToShowContactFormEU < chatWaitSeconds)){
          contactChannelMail = true;
        }
        if (switchHidePhoneForEUDuringOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForEUDuringOpeningTimes){
          contactChannelChat = false;
        }
      }
      //OutOfBusinessHours
      else {
        if (switchHideContactFormForEUOutsideOpeningTimes){
          contactChannelMail = false;
        }
        if (switchHidePhoneForEUOutsideOpeningTimes){
          contactChannelCall = false;
        }
        if (switchHideChatForEUOutsideOpeningTimes){
          contactChannelChat = false;
        }
      }
    }

    resetContactOptions();
    if (contactChannelMail == false && contactChannelChat == true && contactChannelCall == true){
      hideMailCells();
    }
    if (contactChannelMail == true && contactChannelChat == false && contactChannelCall == true){
      hideChatCells();
      phoneCellPos(1);
      mailCellPos(2);
    }
    if (contactChannelMail == true && contactChannelChat == true && contactChannelCall == false){
      hidePhoneCells();
      mailCellPos(2);
    }
    if (contactChannelMail == true && contactChannelChat == false && contactChannelCall == false){
      hideChatCells();
      hidePhoneCells();
      mailCellPos(1);
    }
    if (contactChannelMail == false && contactChannelChat == true && contactChannelCall == false){
      hideMailCells();
      hidePhoneCells();
    }
    if (contactChannelMail == false && contactChannelChat == false && contactChannelCall == true){
      hideMailCells();
      hideChatCells();
      phoneCellPos(1);
    }
  }


  function resetContactOptions(){
    $('#chatIconCellContent').show();
    $('#chatTitleCellContent').show();
    $('#chatTextCellContent').show();
    $('#chatButtonCellContent').show();
    $('#mobileChatCell1Content').show();
    $('#mobileChatCell2Content').show();

    $('#phoneIconCellContent').show();
    $('#phoneTitleCellContent').show();
    $('#phoneTextCellContent').show();
    $('#phoneButtonCellContent').show();
    $('#mobilePhone1Content').show();
    $('#mobilePhoneCell2Content').show();

    $('#mailIconCellContent').show();
    $('#mailTitleCellContent').show();
    $('#mailTextCellContent').show();
    $('#mailButtonCellContent').show();
    $('#mobileMailCell1Content').show();
    $('#mobileMailCell2Content').show();

    chatCellPos(1);
    phoneCellPos(2);
    mailCellPos(3);
  }

  function hideMailCells(){
    $('#mailIconCellContent').hide();
    $('#mailTitleCellContent').hide();
    $('#mailTextCellContent').hide();
    $('#mailButtonCellContent').hide();
    $('#mobileMailCell1Content').hide();
    $('#mobileMailCell2Content').hide();
  }

  function hideChatCells(){
    $('#chatIconCellContent').hide();
    $('#chatTitleCellContent').hide();
    $('#chatTextCellContent').hide();
    $('#chatButtonCellContent').hide();
    $('#mobileChatCell1Content').hide();
    $('#mobileChatCell2Content').hide();
  }

  function hidePhoneCells(){
    $('#phoneIconCellContent').hide();
    $('#phoneTitleCellContent').hide();
    $('#phoneTextCellContent').hide();
    $('#phoneButtonCellContent').hide();
    $('#mobilePhone1Content').hide();
    $('#mobilePhoneCell2Content').hide();
  }

  function phoneCellPos(posNumber){
    $('#phoneIconCellContent').insertBefore($('#row1cell' + String(posNumber) + 'inserter'));
    $('#phoneTitleCellContent').insertBefore($('#row2cell' + String(posNumber) + 'inserter'));
    $('#phoneTextCellContent').insertBefore($('#row3cell' + String(posNumber) + 'inserter'));
    $('#phoneButtonCellContent').insertBefore($('#row4cell' + String(posNumber) + 'inserter'));
    $('#mobilePhoneCell1Content').insertBefore($('#mobileInserter' + String((posNumber*2)-1)));
    $('#mobilePhoneCell2Content').insertBefore($('#mobileInserter' + String(posNumber*2)));
  }

  function chatCellPos(posNumber){
    $('#chatIconCellContent').insertBefore($('#row1cell' + String(posNumber) + 'inserter'));
    $('#chatTitleCellContent').insertBefore($('#row2cell' + String(posNumber) + 'inserter'));
    $('#chatTextCellContent').insertBefore($('#row3cell' + String(posNumber) + 'inserter'));
    $('#chatButtonCellContent').insertBefore($('#row4cell' + String(posNumber) + 'inserter'));
    $('#mobileChatCell1Content').insertBefore($('#mobileInserter' + String((posNumber*2)-1)));
    $('#mobileChatCell2Content').insertBefore($('#mobileInserter' + String(posNumber*2)));
  }

  function mailCellPos(posNumber){
    $('#mailIconCellContent').insertBefore($('#row1cell' + String(posNumber) + 'inserter'));
    $('#mailTitleCellContent').insertBefore($('#row2cell' + String(posNumber) + 'inserter'));
    $('#mailTextCellContent').insertBefore($('#row3cell' + String(posNumber) + 'inserter'));
    $('#mailButtonCellContent').insertBefore($('#row4cell' + String(posNumber) + 'inserter'));
    $('#mobileMailCell1Content').insertBefore($('#mobileInserter' + String((posNumber*2)-1)));
    $('#mobileMailCell2Content').insertBefore($('#mobileInserter' + String(posNumber*2)));
  }


  function isInDEOpeningTimes(){
    const d = new Date();
    let dayOfWeek = d.getUTCDay();
    let currentHour = d.getUTCHours() + UTCHourOffset;
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentHour >= euOpeningHourWeekday && currentHour < euClosingHourWeekday){
      return true;
    }
    if (dayOfWeek == 6 && currentHour >= euOpeningHourSaturday && currentHour < euClosingHourSaturday){
      return true;
    }
    return false;
  }

  function isInBusinessOpeningTimes(){
    //console.log('calling business op times')
    const d = new Date();
    let dayOfWeek = d.getUTCDay();
    let currentHour = d.getUTCHours() + UTCHourOffset;
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentHour >= businessOpeningHourWeekday && currentHour < businessClosingHourWeekday){
      return true;
    }
    if (dayOfWeek == 6 && currentHour >= businessOpeningHourSaturday && currentHour < businessClosingHourSaturday){
      return true;
    }
    return false;
  }

  function isInConnectOpeningTimes(){
    //console.log('calling connect op times')
    const d = new Date();
    let dayOfWeek = d.getUTCDay();
    let currentHour = d.getUTCHours() + UTCHourOffset;
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentHour >= connectOpeningHourWeekday && currentHour < connectClosingHourWeekday){
      return true;
    }
    if (dayOfWeek == 6 && currentHour >= connectOpeningHourSaturday && currentHour < connectClosingHourSaturday){
      return true;
    }
    return false;
  }

  function isInCHOpeningTimes(){
    //console.log('calling CH op times')
    const d = new Date();
    let dayOfWeek = d.getUTCDay();
    let currentHour = d.getUTCHours() + UTCHourOffset;
    let currentMinutes = d.getUTCMinutes();
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentHour >= chOpeningHourWeekday && currentHour <= chClosingHourWeekday){
      if (chOpeningHourWeekday == currentHour && currentMinutes < chOpeningMinuteWeekday) {
        return false;
      }
      if (chClosingHourWeekday == currentHour && currentMinutes > chClosingMinuteWeekday) {
        return false;
      }
      return true;
    }
    else if (dayOfWeek == 6 && currentHour >= chOpeningHourSaturday && currentHour < chClosingHourSaturday){
      return true;
    } else {
      return false;
    }
  }

  function isInCHPEOpeningTimes(){
    const d = new Date();
    let dayOfWeek = d.getUTCDay();
    let currentHour = d.getUTCHours() + UTCHourOffset;
    let currentMinutes = d.getUTCMinutes();
    if (dayOfWeek >= 1 && dayOfWeek <= 5 && currentHour >= chPEOpeningHourWeekday && currentHour <= chPEClosingHourWeekday){
      if (chPEOpeningHourWeekday == currentHour && currentMinutes < chPEOpeningMinuteWeekday) {
        return false;
      }
      if (chPEClosingHourWeekday == currentHour && currentMinutes > chPEClosingMinuteWeekday) {
        return false;
      }
      return true;
    }
    if (dayOfWeek == 6 && currentHour >= chPEOpeningHourSaturday && currentHour < chPEClosingHourSaturday){
      return true;
    }
    return false;
  }

  function setClosed(){
    waitTimes.hide();
  } 


  // --- EVENTS ---
  // Action upon change of the request reason dropdown
  requestReasonDropdown.on('change', function(){
    if (requestReasonDropdownContents.attr('value') != ''){
      onDropdownChange();
    }
  });
  // Action upon clicking "back to contact options"
  backButton.on('click', function(){
    if (requestReasonDropdownContents.attr('value') != ''){
      onDropdownChange();
    }
  });
  // Action when clicking on "call us"
  $('.private-number').on("click", function () {
    var popup = document.getElementById("phoneNumberPrivate");
    popup.classList.toggle("show");
  }) 
  $('.private-number2').on("click", function () {
   var popup = document.getElementById("phoneNumberPrivateMobile");
   popup.classList.toggle("show");
  }) 
  $('.business-number').on("click", function () {
    var popup = document.getElementById("phoneNumberBusiness");
    popup.classList.toggle("show");
  })
  $('.business-number2').on("click", function () {
    var popup = document.getElementById("phoneNumberBusinessMobile");
  	popup.classList.toggle("show");
  })

  //Action when clicking "contact now"
  $('.contactNowButton').on("click", function() {
    contactNowClicked();
  })

  //Action when clicking "write us"
  $('.contactFormWriteUs').on("click", function () {
    showContactForm();
  })

  //Action when sending the contact form
  commitButton.on("click", function(){
    commitButtonPressed();
  })

  //Action when clicking the chat button
  $('.button-chat').on("click", function () {
    checkForTagChanges();
    try {
      updateChatDepartment();
      openChat();
      setEventListernerForChatStart();
    }
    catch (e) {
      console.log(e); 
      hideChatButton();
      if(gaSend){
        //TODO: TRACKING
        //ga('send', 'event', 'Errors', 'ChatLoad', String(e));
      }
    } 
  });

  //--- CALLBACK EVENTS ---
  callbackButton.on("click", function(){
    showContactForm()
    requestForm.hide()
    callbackForm.show()
    backButton.show()
    circleThreeTitleTwo.hide()
    circleThreeTitleThree.show()
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      $('.callbackOrderNumberFormFields').hide();
    } else {
      $('.callbackOrderNumberFormFields').show();
    }
    if (requestReasonTag == 'webform_case_payment_reminder' || requestReasonTag == 'webform_case_dunning_block'){
      $('.callbackRGNumberFormFields').show();
    } else {
      $('.callbackRGNumberFormFields').hide();
    }
  })
  callbackButtonMobile.on("click", function(){
    showContactForm()
    requestForm.hide()
    callbackForm.show()
    backButton.show()
    circleThreeTitleTwo.hide()
    circleThreeTitleThree.show()
    if (reasonsForNoOrderNumber.indexOf(requestReasonTag) >= 0){
      $('.callbackOrderNumberFormFields').hide();
    } else {
      $('.callbackOrderNumberFormFields').show();
    }
    if (requestReasonTag == 'webform_case_payment_reminder' || requestReasonTag == 'webform_case_dunning_block'){
      $('.callbackRGNumberFormFields').show();
    } else {
      $('.callbackRGNumberFormFields').hide();
    }
  })

  callBackSubmitButton.on("click", function(){
    if (callbackButtonClicked == true){
      return;
    }
    callbackButtonClicked = true;
    sendGARequestOpeningHours('Callback Commit clicked');
    var dynamicWording2 = filldynamicWording();
    let enteredPhoneNumber = "+41" + String(callBackPhoneInputField.val())
    let enteredPhoneNumberShort = String(callBackPhoneInputField.val())
    let enteredOrderNumber = callBackOrderInputField.val()
    let enteredRGNumber = callBackRGInputField.val()
    let enteredMail = callBackMailInputField.val()
    let validationChecker = true;
    if (enteredPhoneNumber.length != 12 && enteredPhoneNumber.length != 13) {
      $('.callbackPhoneErrorText').html(dynamicWording2[currentLanguage]['callbackPhoneError'])
      validationChecker = false;
      callbackButtonClicked = false;
    } else if (enteredPhoneNumberShort.substring(0,4) == '0800' || enteredPhoneNumberShort.substring(0,4) == '0900' || enteredPhoneNumberShort.substring(0,4) == '0901' || enteredPhoneNumberShort.substring(0,4) == '0906' || enteredPhoneNumberShort.substring(0,3) == '084' || enteredPhoneNumberShort.substring(0,3) == '800' || enteredPhoneNumberShort.substring(0,3) == '900' || enteredPhoneNumberShort.substring(0,3) == '901' || enteredPhoneNumberShort.substring(0,3) == '906' || enteredPhoneNumberShort.substring(0,2) == '84'){
      $('.callbackPhoneErrorText').html(dynamicWording2[currentLanguage]['callbackPhoneError2'])
      validationChecker = false;
      callbackButtonClicked = false;
    } else {
      $('.callbackPhoneErrorText').html('')
    }
    if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(enteredMail))){
      $('.callbackMailErrorText').html(dynamicWording2[currentLanguage]['callbackEmailError'])
      validationChecker = false;
      callbackButtonClicked = false;
    } else {
      $('.callbackMailErrorText').html('')
    }

    if (!validationChecker){
      $('.callbackFormErrorText').html(dynamicWording2[currentLanguage]['callbackFormError'])
    } else {
      $('.callbackFormErrorText').html('')
      sessionStorage.setItem("callbackReturn", "true")
      sessionStorage.setItem("callbackCustomerPhone", enteredPhoneNumber)
      addExternalScriptForCallback(enteredPhoneNumber, enteredOrderNumber, enteredMail, enteredRGNumber);
    }
  })


  function callbackAPIRequest(enteredPhoneNumber, enteredOrderNumber, enteredMail, enteredRGNumber){
    var brandID = ""
    var groupID = ""
    var brandName = ""
    var baseERPLink = ""
    var ringGroup = ""
    var customerTypeShorthand = ""
    if (customerType == "private-customer") {
      customerTypeShorthand = "c"
    } else if (customerType == "business-customer") {
      customerTypeShorthand = "b"
    } else {
      customerTypeShorthand = "connect"
    }
    if (requestReasonTag.includes('webform_case_product_advice_') && currentLanguage == "de" && isInCHPEOpeningTimes()){
      customerTypeShorthand = "pe"
    }
    switch(portal){
      case 'helpcenter.digitec.ch':
        brandID = "263412"
        groupID = "6972193395474"
        brandName = "digitec"
        baseERPLink = "https://erp.digitecgalaxus.ch/"
        ringGroup = "callback2" + customerTypeShorthand + "_ch_" + currentLanguage
        break;
      case 'helpcenter.galaxus.ch':
        brandID = "486521"
        groupID = "6972193395474"
        brandName = "galaxus CH"
        baseERPLink = "https://erp.digitecgalaxus.ch/"
        ringGroup = "callback2" + customerTypeShorthand + "_ch_" + currentLanguage
        break;
      case 'helpcenter.connect.digitec.ch':
        brandID = "360002520320"
        groupID = "6972193395474"
        brandName = "digitec CONNECT"
        baseERPLink = "https://erp.digitecgalaxus.ch/"
        ringGroup = "callback2" + customerTypeShorthand + "_ch_" + currentLanguage
        break;
      case 'helpcenter.galaxus.de':
        brandID = "360000002879"
        groupID = "6972193395474"
        brandName = "galaxus DE"
        baseERPLink = "https://erp.galaxus.eu/"
        ringGroup = "callback2" + customerTypeShorthand + "_ger_" + currentLanguage
        break;
      case 'helpcenter.galaxus.at':
        brandID = "360002535479"
        groupID = "6972193395474"
        brandName = "galaxus AT"
        baseERPLink = "https://erp.galaxus.eu/"
        ringGroup = "callback2" + customerTypeShorthand + "_ger_" + currentLanguage
        break;
      default:
        brandID = "486521"
        groupID = "6972193395474"
        brandName = "Brand unknown"
        baseERPLink = "https://erp.digitecgalaxus.ch/"
        ringGroup = "callback2" + customerTypeShorthand + "_ch_" + currentLanguage
        break;   
    }
    var callbackPerLang = ""
    switch (currentLanguage){
      case 'de':
        callbackPerLang = "Rückruf"
        break;
      case 'fr':
        callbackPerLang = "Rappel"
        break;
      case 'de':
        callbackPerLang = "Richiamo"
        break;
      default:
        callbackPerLang = "Callback"
        break;
    }
    var compiledSubject = callbackPerLang + ": " + $(requestReasonDropdownNesty).text()
    if (requestReasonTag.includes("_other_request_")){
      compiledSubject = callbackPerLang + ": " + requestReasonTopCategory[requestReasonTag] + "; " + $(requestReasonDropdownNesty).text()
    }
    var orderLink = baseERPLink + "Order/" + enteredOrderNumber;
    var invoiceLink = baseERPLink + "Invoice/" + enteredRGNumber;
    if (enteredOrderNumber.length < 5){
      orderLink = "None"
    }
    if (enteredRGNumber.length < 5){
      invoiceLink = "None"
    }
    var ticketBody = "This is a callback request\n\nCustomer Phone: " + enteredPhoneNumber + "\nCustomer Mail: " + enteredMail + "\nOrder: " + orderLink + " \nInvoice: " + invoiceLink + "\nRequest Reason: " + compiledSubject + " \n -- \ninteraction_id: "
    var ticketTags = "callback_request " + requestReasonTag + " talkdesk_interaction_"
    var baseOrderLink = baseERPLink + "Order/"
    var baseRGLink = baseERPLink + "Invoice/"
    var custName = enteredMail.split("@")[0].replace(".", " ")
    var dataToPass = {
        "customer_phone": enteredPhoneNumber,
        "customer_mail": enteredMail,
        "customer_name": custName,
        "record": "no",
        "rg_motive": compiledSubject,
        "customer_language": currentLanguage,
        "ticket_body": ticketBody,
        "ticket_subject": compiledSubject,
        "order_number": enteredOrderNumber,
        "invoice_number": enteredRGNumber,
        "brand_id": brandID,
        "group_id": groupID,
        "brand_name": brandName,
        "ticket_tags": ticketTags,
        "ring_group": ringGroup,
        "erp_link_base_order": baseOrderLink,
        "erp_link_base_invoice": baseRGLink
    }
    var dataToPass2 = JSON.stringify(dataToPass)
    let auth = "Bearer " + wertmarke
    $.ajax({
      type: "POST",
      url: "https://api.talkdeskapp.com/flows/3731b2ebb4c5492f868cbe2f1e3e3601/interactions",
      headers: {"content-type" : "application/json",
      "authorization" : auth
      },
      data: dataToPass2,
      success: function(result){
        ga('send', 'event', 'Errors', 'CallbackAPI', 'Success')
        window.open("https://" + portal + "/hc?callbackreturn=yes", "_self")
      },
      error: function (result){
        callbackButtonClicked = false;
        ga('send', 'event', 'Errors', 'CallbackAPI', String(result))
        var dynamicWording2 = filldynamicWording();
        $('.callbackFormErrorText').html(dynamicWording2[currentLanguage]['callbackAPIError'])
      },
      dataType: "json"
    })
    //*/
  }


  function callbackCheck(){
    if (currentLanguage == 'de' && reasonsForCallback.indexOf(requestReasonTag) >= 0 && localStorage.getItem("callbackGroup3") == "true" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')){
      console.log("callbackcheck true")
      return true;
    }
    else {
      console.log("callbackcheck false")
      return false;
    }
  }



  function showContactForm(){
    circleThreeTitle.hide();
    circleThreeTitleTwo.show();
    circleThreeTitleThree.hide();
    requestForm.show();
    mailFormSubject.hide();
    backButton.show();
    contactInfos.hide();
  }

  function commitButtonPressed(){
    sendGARequestOpeningHours('ContactForm Commit clicked');
    mailFormSubjectTextField.val($(requestReasonDropdownNesty).text());  //Autofill Mail Subject
    sessionStorage.setItem('dgCustomerEmail', $('input[name="request[anonymous_requester_email]"]').val());
    sessionStorage.setItem('mailFormMessageTextFieldText', mailFormMessageTextField.val())
    requestReasonDropdown.insertBefore(mailFormMailInput);
    customerTypeDropdown.insertBefore(mailFormMailInput);
    requestReasonDropdown.hide()
    customerTypeDropdown.hide()
  }
  

  
  // --- FUNCTIONS TO FILL VARIABLES ---
  function setCustomerType(){
    //Kundentyp setzen
    var tempCustomerType = sessionStorage.getItem('customerType');
    if (fullLink.includes('39231')){
      tempCustomerType = 'private-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    if (fullLink.includes('360000554760')){
      tempCustomerType = 'business-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    if (fullLink.includes('360002056120')){
      tempCustomerType = 'connect-customer';
      sessionStorage.setItem('customerType', tempCustomerType)
    }
    return tempCustomerType;
  }



  function getRequestReasonDropdown(){
    let tempRequestReasonDropdown;
    let tempRequestReasonDropdownNesty;
    let  tempRequestReasonDropdownContents
    switch (portal){
      case 'helpcenter.digitec.ch':
      case 'helpcenter.galaxus.ch':
      case 'helpcenter.galaxus.de':
      case 'helpcenter.galaxus.at':
        tempRequestReasonDropdown = $('.request_custom_fields_360014169819');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360014169819');
        break;
      case 'helpcenter.connect.digitec.ch':
        tempRequestReasonDropdown = $('.request_custom_fields_360021132800');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360021132800' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360021132800');
      default:
        tempRequestReasonDropdown = $('.request_custom_fields_360014169819');
        tempRequestReasonDropdownNesty = '.request_custom_fields_360014169819' + ' a.nesty-input';
        tempRequestReasonDropdownContents = $('#request_custom_fields_360014169819');
        break;
    }
    return[tempRequestReasonDropdown, tempRequestReasonDropdownNesty, tempRequestReasonDropdownContents]
  }



///////////////////////////////////////////////////////////////////////////////Event Tracking/////////////////////////////////////////////////////

  
  function sendGARequestOpeningHours(action){
      if(gaSend){
        //if(requestReasonTag.includes('webform_case_product_advice_') && currentLanguage == 'de') {
        //    ga('send', 'event', 'Opening Hours', 'PE ' + action, customerType + ' ' + currentLanguage);
        //} else {
          console.log(requestReasonTopCategory[requestReasonTag] + ' ' + customerType + ' ' + currentLanguage)
            //ga('send', 'event', 'Opening Hours', action, requestReasonTopCategory[requestReasonTag] + ' ' + customerType + ' ' + currentLanguage);
        //}
      }
  }

  function sendGARequestCallbackTestA(action){
    ga('send', 'event', 'Callback Testing A', action, requestReasonTopCategory[requestReasonTag] + ' ' + customerType + ' ' + currentLanguage);
  }
  function sendGARequestCallbackTestB(action){
    ga('send', 'event', 'Callback Testing B', action, requestReasonTopCategory[requestReasonTag] + ' ' + customerType + ' ' + currentLanguage);
  }
  
  //Phone Number Tracking
  
  $('.phone-number').on("click", function () {
    sendGARequestOpeningHours('Click Phone Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (callbackCheck() && isInCHOpeningTimes()){
      sendGARequestCallbackTestA('Click Phone Button');
      sendGARequestCallbackTestA('Click Phone/Mail/Chat Button');      
    }
    if (!callbackCheck() && isInCHOpeningTimes() && currentLanguage == "de" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')) {
      sendGARequestCallbackTestB('Click Phone Button');
      sendGARequestCallbackTestB('Click Phone/Mail/Chat Button');
    }
  }) 
  
  //Contact Form Tracking
  
  $('.contactFormWriteUs').on("click", function () {
    sendGARequestOpeningHours('Click Mail Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (callbackCheck() && isInCHOpeningTimes()){
      sendGARequestCallbackTestA('Click Mail Button');
      sendGARequestCallbackTestA('Click Phone/Mail/Chat Button');      
    }
    if (!callbackCheck() && isInCHOpeningTimes() && currentLanguage == "de" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')) {
      sendGARequestCallbackTestB('Click Mail Button');
      sendGARequestCallbackTestB('Click Phone/Mail/Chat Button');
    }
  }) 
  
  //Chat Tracking
  
  $('.button-chat').on("click", function () {
    sendGARequestOpeningHours('Click Chat Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (callbackCheck() && isInCHOpeningTimes()){
      sendGARequestCallbackTestA('Click Chat Button');
      sendGARequestCallbackTestA('Click Phone/Mail/Chat Button');      
    }
    if (!callbackCheck() && isInCHOpeningTimes() && currentLanguage == "de" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')) {
      sendGARequestCallbackTestB('Click Chat Button');
      sendGARequestCallbackTestB('Click Phone/Mail/Chat Button');
    }
  }) 

  //Callback Tracking
  
  $('.callback-number').on("click", function(){
    callbackGALogging();
  })
  $('.callback-number2').on("click", function(){
    callbackGALogging();
  })
  function callbackGALogging(){
    sendGARequestOpeningHours('Click Callback Button');
    sendGARequestOpeningHours('Click Phone/Mail/Chat Button');
    if (callbackCheck() && isInCHOpeningTimes()){
      sendGARequestCallbackTestA('Click Callback Button');
      sendGARequestCallbackTestA('Click Phone/Mail/Chat Button');      
    }
    if (!callbackCheck() && isInCHOpeningTimes() && currentLanguage == "de" && customerType == "private-customer" && (portal == 'helpcenter.digitec.ch' || portal == 'helpcenter.galaxus.ch')) {
      sendGARequestCallbackTestB('Click Callback Button');
      sendGARequestCallbackTestB('Click Phone/Mail/Chat Button');
    }
  }


  // Request Reason Tracking

  $('.request_custom_fields_360014169819').on("change",function() {
      if(gaSend){
          ga('send', 'event', 'Opening Hours', 'ShowsInfo', $('.request_custom_fields_360014169819' + ' a.nesty-input').text());                                                                                     
      }
  });

  //Contact now button tracking
  $('.contactNowButton').on("click", function () {
      sendGARequestOpeningHours('Click Contact Now Button');
  })





  // --- TICKET FORM ATTACHMENT CHANGES ---
  // Function to start observing node for mutations
  var startObserveMutations = function (nodeSelector, options, callbackFunction) {
    var node = document.querySelector(nodeSelector);
    if (node) {
      var observer = new MutationObserver(callbackFunction);
      observer.observe(node, options);
      return observer;
    }
  };
  
  // Callback function to execute when mutations in form attachments or dropdown are observed:
  // clear or select Attachment checkbox according to dropdown
  var mutationObservedForm = function (mutationsList) {
	  mutationsList.forEach(function (mutation) {
		  if (mutation.type == 'childList') {
			  setFormAttachmentCheckbox();
			  }
	  });
  };

  // Define some variables for requiring form attachments
  var errorMessageId = "";
  var attachmentCheckboxField = 'request_custom_fields_360007967480';
  var attachmentCheckboxId = '#' + attachmentCheckboxField;
  var attachmentErrorNotification = setErrorMessage();
  var formDropdownClass = '.request_custom_fields_360014169819';
  var formObserveMutationOptions = { childList: true, subtree: true };
  $('.request_custom_fields_360007967480').insertAfter('#request-attachments-pool');
  var attachmentErrorElt = $('.' + attachmentCheckboxField + ' .notification-error');

  // Clear or select checkbox according to dropdown and attachments:
  // Set Attachment checkbox if no attachments required, or if attachments are required and at least one is uploaded, otherwise clear it
  function setFormAttachmentCheckbox() {
	  if (isFormAttachmentRequired()) {
		  if ($('#request-attachments-pool .upload-item').length) {
			  selectCheckbox(attachmentCheckboxId);
		  }else {
			  clearCheckbox(attachmentCheckboxId);
		  }
	  }else {
		  selectCheckbox(attachmentCheckboxId);
	  }
  }

  // Return true if dropdown option 'ABCD' is selected
  function isFormAttachmentRequired() {
    var attachString = mailFormAttachmentLabel.html();
    if (attachString == null){
      attachString = "";
    }
    if (attachString.includes('<font color="red">*</font>')){
      attachString = attachString.substring(0, attachString.length - 26);
    }
    mailFormAttachmentLabel.html(attachString);
	  if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_damaged_product')){
		  errorMessageId = currentLanguage + '1';
		  attachmentErrorNotification = setErrorMessage();
		  attachmentErrorElt.text(attachmentErrorNotification);
      attachString = mailFormAttachmentLabel.html();
      if (!attachString.includes('<font color="red">*</font>')){
        attachString += '<font color="red">*</font>';
      }
      mailFormAttachmentLabel.html(attachString);
		  return true;
	  }
	  /*if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') && (requestReasonTag == 'webform_case_wrong_product')){
		  errorMessageId = currentLanguage + '2';
		  attachmentErrorNotification = setErrorMessage();
		  attachmentErrorElt.text(attachmentErrorNotification);
      attachString = mailFormAttachmentLabel.html();
      if (!attachString.includes('<font color="red">*</font>')){
        attachString += '<font color="red">*</font>';
      }
      mailFormAttachmentLabel.html(attachString);
		  return true;
	  }*/
	  return false;
  }

  // Select checkbox
  function selectCheckbox(eltselector) {
	  $(eltselector).prop('checked', true);
  }

  // Clear checkbox
  function clearCheckbox(eltselector) {
	  $(eltselector).prop('checked', false);
  }
                                                                                              
  // If attachment checkbox field exists, select it,
  // and watch for changes to attachments and dropdown
  if ($(attachmentCheckboxId).length) {
	  selectCheckbox(attachmentCheckboxId);
	  startObserveMutations('#request-attachments-pool', formObserveMutationOptions, mutationObservedForm);
	  startObserveMutations(formDropdownClass, formObserveMutationOptions, mutationObservedForm);
  }

  // Adjust attachment error notification
  if (true) {
	  attachmentErrorNotification = setErrorMessage();
	  attachmentErrorElt.text(attachmentErrorNotification);
  }
  
  function setErrorMessage() {
  	return infoBoxWording["attachment-errors"][errorMessageId]
  }

  setFormAttachmentCheckbox();
  clearCheckbox(attachmentCheckboxId);

  setTimeout(function() { setFormAttachmentCheckbox() }, 500);




  function fillHoliday(lang){
      var portalChooser = '';
      switch(portal){
          case 'helpcenter.digitec.ch':
          case 'helpcenter.galaxus.ch':
          case 'helpcenter.connect.digitec.ch':
            if (reasonsForNoContactFormPE.includes(requestReasonTag)){
              portalChooser = 'ch'
            }
            else{
              portalChooser = 'ch'
            }
            break;
          case 'helpcenter.galaxus.de':
          case 'helpcenter.galaxus.at':
            portalChooser = 'eu'
            break;
          default:
            portalChooser = 'ch'
            break;
      }
      const d = new Date();
      datestring = String(d.getUTCFullYear()) + '-' + String(d.getUTCMonth() + 1) + '-' + String(d.getUTCDate()) + ' ' + String(d.getUTCHours()) + ':' + String(d.getUTCMinutes()) + ':' + String(d.getUTCSeconds())
      const utc_timestamp = Date.parse(datestring)
      var stampslist = showHolidays[portalChooser]
      stampslist.forEach((stampset) => {
          if (utc_timestamp > Date.parse(stampset[0]) && utc_timestamp < Date.parse(stampset[1])){
              var tempstring = textToDisplay[stampset[2]][lang]
              $('#holidaysDesktop')[0].innerHTML = tempstring
              $('#holidaysMobile')[0].innerHTML = tempstring
          }
      })
    }
</script>