<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="Header" id="HeaderID" data-wording-key="headerTitle">
      <!--{{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}-->
  </h1>

  <div class="form" id="requestform">
    <h4 class="contactFormInfoText2" data-wording-key="contactFormInfoText"></h4>
    <div class="contactFormNote">
      <div class="contactFormText">
        <h2><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></h2>
        <h4><div class="contactFormTextInfo"></div></h4>
        <!--<h4></h4>-->
      </div>
    </div>
    {{chat}}

    <!-- CONTACT FORM TABLES -->
    <div class="contactFormTextNoBorder">
      <table>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder" border="0"><h2><div data-wording-key="questionNotAnswered"></div></h2></td>
        </tr>
      </table>
      <!-- DESKTOP TABLE -->
      <table class="contactFormTextNoBorder nomobile" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeft"><h4 data-wording-key="email"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder"><h4 data-wording-key="phone"></h4></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><h4 class="chatLabel" data-wording-key="chat"></h4><div class="recommendedChannel" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="button-contact phone-number private-number private-customer" data-wording-key="callUsPrivate"></div><div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeft"></td>
          <td class="contactButtonTableCellLeftLeftBorder"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div><div class="contact-info business-customer" data-wording-key="openingHoursBusiness"></div></td>
          <td class="contactButtonTableCellLeftLeftBorder chatTableCell"><div class="contact-info private-customer" data-wording-key="openingHoursPrivate"></div></td>
        </tr>
      </table>
      <!-- MOBILE TABLE -->
      <table class="contactFormTextNoBorder mobile" border="0">
        <tr style="height:0px"></tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder"><p class="font1" data-wording-key="email"></p></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key"callUsPrivateMobile"></div><div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftBottomBorder"><div class="button-contact phone-number private-number2 private-customer" data-wording-key="callUsPrivateMobile"></div> <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftTopBorder chatTableCell"><p class="font1 chatMobile">Chat</p><div class="recommendedChannel recommendedChatMobile" data-wording-key="recommendedChannel"></div></td>
        </tr>
        <tr>
          <td class="contactButtonTableCellLeftNoBorder chatTableCell"><a class="button-contact button-chat button-offline" data-wording-key="chatNotOnline"></a></td>
        </tr>
      </table>
    </div>
    <!-- AUTOMATED FORM -->
    <!--{{request-form}}-->
  </div>
</div>

<script>
  console.log(window.location.hostname)
</script>