<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>
<div class='contactFormNote'>
  <div class='contactFormText'>
<h2><div class="contactFormTextTitel" data-wording-key="contactFormNoteTitel"></div></h2>
<h4><div class="contactFormTextInfo"></div></h4>
<h4></h4>
</div>
<div class ='contactFormTextNoBorder'>
    
    <table>
      <tr>
        <td class = 'contactButtonTableCellLeftNoBorder' border="0"> <h2><div data-wording-key="questionNotAnswered"></div></h2></td>
      </tr>
    </table>
    
    <table class ='contactFormTextNoBorder nomobile' border="0">
      <tr style="height:0px"></tr>
      <tr>
        <td class = 'contactButtonTableCellLeft'><h4 data-wording-key="email"></h4></td>
				<td class = 'contactButtonTableCellLeftLeftBorder'><h4 data-wording-key="phone"></h4></td>
				<td class = 'contactButtonTableCellLeftLeftBorder private-customer'><h4 data-wording-key="chat"></h4></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeft'><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
        <td class ='contactButtonTableCellLeftLeftBorder'><div class="button-contact phone-number private-number private-customer" data-wording-key="callUsPrivate"></div>      <div class="button-contact phone-number business-number business-customer" data-wording-key="callUsBusiness"></div></td>
        <td class ='contactButtonTableCellLeftLeftBorder private-customer'><a class="button-contact chat-private" data-wording-key="chatUs"></a></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeft'></td>
        <td class ='contactButtonTableCellLeftLeftBorder'><div class='contact-info private-customer' data-wording-key="openingHoursPrivate"></div>    <div class='contact-info business-customer' data-wording-key="openingHoursBusiness"></div></td>
        <td class ='contactButtonTableCellLeftLeftBorder private-customer'></td>
      </tr>
        
    </table>


		<table class ='contactFormTextNoBorder mobile' border="0">
      <tr style="height:0px"></tr>
      <tr>
        <td class ='contactButtonTableCellLeftNoBorder'><p class="font1" data-wording-key="email"></p></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeftBottomBorder'><a class="button-contact contactFormWriteUs" data-wording-key="writeUs"></a></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeftTopBorder'><div class="private-customer font1" data-wording-key="openingHoursPrivateMobile"></div><div class='business-customer font1' data-wording-key="openingHoursBusinessMobile"></div></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeftBottomBorder'><div class="button-contact phone-number private-number2 private-customer" data-wording-key="callUsPrivateMobile"></div>      <div class="button-contact phone-number business-number2 business-customer" data-wording-key="callUsBusinessMobile"></div></td>
      </tr>
      <tr>
        <td class ='contactButtonTableCellLeftTopBorder private-customer'><p class="font1">Chat</p></td>
      </tr>
      <tr>
         <td class ='contactButtonTableCellLeftNoBorder private-customer'><a class="button-contact chat-private" data-wording-key="chatUs"></a></td>
      </tr>

    </table>

  </div>
  </div>
  
  <h1 class="Header" id="HeaderID">
      {{t 'submit_a_request'}}{{#if follow_up}}<span class='follow-up-hint'>{{follow_up}}</span>{{/if}}
  </h1>

  <div class="form" id="requestForm">
    <h4 class = "contactFormInfoText2" data-wording-key="contactFormInfoText"></h4>
    {{request_form}}
  </div>

  {{chat}}
</div>

<!--<div id = 'FeedbackVote'>
  <div>
    Vielen Dank für dein Feedback.<br>
    <div id = 'FeedbackText'>
    Wir werden auf dieses nicht antworten. Sollten Sie ein offenes Anliegen haben, bitten wir Sie, das Kontaktformular zu benutzen.
    </div>
  </div>
  <form >method="POST" action="mailto:sipp.kopf@web.de?subject=Feedback%20Helpcenter"
    <textarea type="text" id ='FeedbackBox'required  placeholder="Hier können Sie gerne Ihre Verbesserungsvorschläge hinterlegen."></textarea>
    <button type="button" class = 'button-large' id = 'FeedbackButton' name="Feedback">Einreichen
      <a id="hrefEinreichen" href="mailto:sipp.kopf@web.de?subject=Feedback%20Helpcenter">Einreichen</a>
    </button>
  </form>
<div class="wrapper"> 
  <form class="form"> 
      <label id="FeedbackField">
          <input type="text" name="FeedbackField" placeholder="Hier können Sie gerne Ihre Verbesserungsvorschläge hinterlegen." required/>

      </label>
  </form>
</div>

</div>-->


<script>

var mobile = window.innerWidth < 767;

var urlHash = window.location.hash.substring(1);
var initialDescriptionLabel = $('#request_description_label').html();

// Ticket Form Changes
$('.request_anonymous_requester_email').insertBefore('.request_custom_fields_360007585419');

$('.request_anonymous_requester_email').insertBefore('.request_custom_fields_360007585419');
$('.contactFormNote').insertAfter('.request_custom_fields_360014169819');
$('.form-field:not(.request_ticket_form_id)').hide();
$('.request_custom_fields_360014169819').show();
$('.request-form .footer').hide();
$('input[name ="commit"]').hide();

// Removes Offers for Private Customers
  
if(localStorage.getItem('isPrivateCustomer') == "1"){
  var categoryToRemove = 'webform_case_offer';
  try {
      var catJson = JSON.parse($('#request_custom_fields_360014169819').attr("data-tagger"));
      $('#request_custom_fields_360014169819').attr("data-tagger", removeCategoryFromJson(catJson, categoryToRemove));
    }
    catch (e) {
    }
}
      
function removeCategoryFromJson(json, categoryToRemove){  	
  for (var i = 0; i < json.length; i++){
    if (json[i].value == categoryToRemove){
      json.splice(i,1);
    }
  }
  return JSON.stringify(json);
}
  
//Removes galaxus Categorys for digitec  
  
var DYICategory = 'webform_case_product_advice_diy';
var homeCategory = 'webform_case_product_advice_home';
var productAdvice = getProductAdvice();
  
try {
    var catJson = JSON.parse($('#request_custom_fields_360014169819').attr("data-tagger"));
    $('#request_custom_fields_360014169819').attr("data-tagger", removeSecondCategoryFromJson(catJson, DYICategory, homeCategory, productAdvice));
  }
  catch (e) {
}

function removeSecondCategoryFromJson(json, DYICategory, homeCategory, productAdvice){   
  for (var i = 0; i < json.length; i++){
  	if(json[i].label == productAdvice){                                  
    	for (var y = 0; y < json[i].options.length; y++){                                                     
    		if (json[i].options[y].value == DYICategory || json[i].options[y].value == homeCategory){
      		json[i].options.splice(y,1);
  				y--;
    		}
  		}
  	}
  }  
  return JSON.stringify(json);
}  
                                  
function getProductAdvice(){  
  	var currentLanguage = $('html').attr('lang');    
    	switch(currentLanguage) {
  	case 'de':
    	return 'Produktberatung';
    	break;
  	case 'en-us':
    	return 'Product information';
    	break;
  	case 'fr':
    	return 'Conseil produits';
    	break;
    case 'it':
    	return 'Consulenza prodotti';
    	break;
  	default:
    	return 'Produktberatung';
		}      
  }                               

  
                                  
//Recommended Channel

// ABC Split
                                  
// var group2 = getGroup2();                               
                                          
if(checkForAB() && checkForCallHours()){
	if(getNoSplit2() == 10){
  	$('.mailRecommendation').css({ "display": "inline-block" });                                    
  }
  if(getNoSplit2() == 20){
  	$('.phoneRecommendation').css({ "display": "inline-block" });                                    
  }
}
                                                        
                  
function getGroup2(){
  if(!localStorage.getItem('noSplit2')){
    newSplit = getRandomInt(3);
    localStorage.setItem('noSplit2', newSplit);
    return newSplit;      
  }else{
    return getNoSplit2();
  }
}

function checkForAB(){
   if($('html').attr('lang') == 'de' && localStorage.getItem('isPrivateCustomer') == "1"){
     return true;
   }else{
     return false;
   }
  }
                                  
function getNoSplit2(){
   return localStorage.getItem('noSplit2');                                
}
                                                                    
 function getRandomInt(max){
    return Math.floor(Math.random() * Math.floor(max));
  }
                                  
function checkForCallHours(){
	var now = new Date();
	return now.getDay() <= 5 && now.getDay() != 0 && now.getHours() >= 9 && now.getHours() < 18;                                                                 }                                  
   
// Event Based on Request Reason 
                                                                                                
 $('.request_custom_fields_360014169819').on("change",function() {
	var infoText = $('.request_custom_fields_360014169819' + ' a.nesty-input').text();
	if(infoText != ''){
		onDropdownChange();                                                                                     
  	setZopimTag(); 
	}                                                                                           
});
                                                                                              
// Set Tag for Zopim 
  function setZopimTag(){
    var tag = $('#request_custom_fields_360014169819').attr('value');
  	var oldTag = localStorage.getItem('requestReason');
    $zopim(function() {
      if(!oldTag !== null){
      $zopim.livechat.removeTags(oldTag);
   		}
    	$zopim.livechat.addTags(tag, 'digitec');
      $zopim.livechat.removeTags('galaxus');
    });
  localStorage.setItem('requestReason', tag);
  }                                                                                              

function onDropdownChange(){
hideOrderNumber();
	showContactInfo();
  $('#request_subject').val($('.request_custom_fields_360014169819' + ' a.nesty-input').text());						//Auto Fill Mail Subject
  var currentLanguage = $('html').attr('lang');
  var infoText = getInfoForLang($('.request_custom_fields_360014169819' + ' a.nesty-input').text());
  var descriptionTemplateText = getInfoForLang($('.request_custom_fields_360014169819' + ' a.nesty-input').text() + ' descriptionTemplate');
  var descriptionLabel = getInfoForLang($('.request_custom_fields_360014169819' + ' a.nesty-input').text() + ' descriptionLabel');
  $('.request-form .footer').hide();
                                  
  if (infoText != '-'){
    updateDescriptionAndLabel(descriptionTemplateText, descriptionLabel);
  	if(contactInfo == 0 && infoText != 0){  
   		showInfoForRequest();
  		$('.contactFormTextInfo').html(infoText);
			$('.contactFormInfoText2').hide();
 	 }else{
  		showContactInfo();
  		contactInfo ++;
  	}
		if(mobile){
			$('.nomobile').hide();
		}
		else{
			$('.mobile').hide();
		}
  }
}
  
  //Shows Info for Request Reason
  
   var contactInfo = 0;
  
  function showInfoForRequest(){
  	$('.contactFormNote').css({ "display": "inline-block" });
   	$('.contactFormText').css({ "display": "inline-block" });
  	$('.contactFormTextTitel').css({ "display": "inline-block" });
    $('.contactFormTextInfo').css({ "display": "inline-block" });
  	ga('send', 'event', 'TicketForm2.0', 'ShowsInfo', $('.request_custom_fields_360014169819' + ' a.nesty-input').text());  
  }
  
  //Shows Contact information and hides else
  
  function showContactInfo(){
  	if(contactInfo == 0){
      if(localStorage.getItem('isPrivateCustomer') == "1"){
  			$('.business-customer').css({ "display": "none" });
 		 	}else{
  			$('.private-customer').css({ "display": "none" });
 		 	}
      $('.contactFormNote').css({ "display": "inline-block" });
      $('.contactFormText').css({ "display": "none" });
      $('.contactData').css({ "display": "inline-block" });
      //$('.request_custom_fields_360014169819').hide();
      $('.request_ticket_form_id').hide(); 
 	 }
  }
  
  //Event For Conact Button Click
  
  $('.buttonContactFormContact').on("click", function () {
   showContactInfo();
   contactInfo ++;
  }) 
  
  //Toggle for Contact Form
  
  var isActive = 0;
  
  $('.contactFormWriteUs').on("click", function () {
    console.log("kontaktformular anfang");
  	if(isActive == 0){
      console.log("kontaktformular if");
			//Hide Mail Subject Field
  		$('#request_subject').hide();
  		$('#request_subject_label').hide();
  
      $('.form-field:not(.request_ticket_form_id)').show();
      $('input[name ="commit"]').show();
      //$('.request_custom_fields_360014169819').insertBefore('.request_anonymous_requester_email');
      $('.contactDataTableContent').css({ "border-bottom": "0px solid #ddd" }); 

			$('.contactDataTable').hide();
			$('.contactFormTextNoBorder').hide();
			$('.contactFormText').hide();
			//$('.request_custom_fields_360014169819').hide();
  
  		hideOrderNumber();
  
      isActive = 1;
			mailFormOnly();
    }else{
      console.log("kontaktformular anfang");
      $('.form-field').hide();
      $('.request_custom_fields_360014169819').hide();
      $('input[name ="commit"]').hide();
      isActive = 0;
      $('.contactDataTableContent').css({ "border-bottom": "1px solid #ddd" });
    }
  })
  
  //Phone Popups
  
  $('.private-number').on("click", function () {
  	var popup = document.getElementById("phoneNumberPrivate");
  	popup.classList.toggle("show");
  }) 

	$('.private-number2').on("click", function () {
  	var popup = document.getElementById("phoneNumberPrivateMobile");
  	popup.classList.toggle("show");
  }) 
  
  $('.business-number').on("click", function () {
  	var popup = document.getElementById("phoneNumberBusiness");
  	popup.classList.toggle("show");
  })

	$('.business-number2').on("click", function () {
  	var popup = document.getElementById("phoneNumberBusinessMobile");
  	popup.classList.toggle("show");
  })
  
  // Change Phone Number on Business Type
  
  $('.request_ticket_form_id').on("change",function() {
    if($('.request_ticket_form_id' + ' a.nesty-input').text() === 'Privatkunden' || $('.request_ticket_form_id' + ' a.nesty-input').text() === 'Private customers' || $('.request_ticket_form_id' + ' a.nesty-input').text() === 'Clients privés' || $('.request_ticket_form_id' + ' a.nesty-input').text() === 'Clienti privati'){
    	$('.business-customer').css({ "display": "none" });
  		localStorage.setItem('isPrivateCustomer', "1");
  	}else{
  		$('.private-customer').css({ "display": "none" });
  		localStorage.setItem('isPrivateCustomer', "0");
  	}
  });
  
  //Get the Infobox Content based on Rule
  var portal1 = window.location.hostname;
  var portal2 = window.location.hostname;

  console.log(portal1);
  console.log(portal2);


  //URL test

  if (window.location.hostname.indexOf("digitec.ch") >= 0) {
    //alert("digitec.ch");
    portal1 = 'digitec.ch';
    //console.log(portal1);
  }
  else if (window.location.hostname.indexOf("galaxus.ch") >= 0) {
    //alert("galaxus.ch");
    portal1 = 'galaxus.ch';
  }
  else{
    //alert("galaxus.de");
    portal1 = 'galaxus.de';
  }

  //Helpcenter URL test

  if (window.location.hostname.indexOf("helpcenter.digitec.ch") >= 0) {
    //alert("helpcenter.digitec.ch");
    portal2 = 'helpcenter.digitec.ch';
    //console.log(portal2);
  }
  else if (window.location.hostname.indexOf("helpcenter.galaxus.ch") >= 0) {
    //alert("helpcenter.galaxus.ch");
    portal2 = 'helpcenter.galaxus.ch';
  }
  else{
    //alert("helpcenter.galaxus.de");
    portal2 = 'helpcenter.galaxus.de';
  }

  var infoBoxWording = fillInfoBoxWording(portal1, portal2);


  //Checks whether to hide order number
  function hideOrderNumber(){
  	if (reasonsForNoSubject.indexOf($('.request_custom_fields_360014169819' + ' a.nesty-input').text()) >= 0){
  		  $('.request_custom_fields_360007585419').hide();
  	}	
  	else {
  			if (isActive == 1) {$('.request_custom_fields_360007585419').show();}
  	}
  }
                                  
  //Update description and label
  function updateDescriptionAndLabel(descriptionTemplateText, descriptionLabel){
    var currentLanguage = $('html').attr('lang');
	console.log(currentLanguage);
	console.log(infoBoxWording[currentLanguage]);
    if (descriptionTemplateText == infoBoxWording[currentLanguage]['outputOtherRequest']){
    	$('#request_description').val('');
    }
    else {
    	$('#request_description').val(descriptionTemplateText);
    }
    if (descriptionLabel == infoBoxWording[currentLanguage]['outputOtherRequest']){
			$('#request_description_label').html(initialDescriptionLabel);
    }
    else{
         $('#request_description_label').html(descriptionLabel);                         
    }
  }
  
  function getInfoForLang(reason){
  
  	var currentLanguage = $('html').attr('lang');
  	var wording = infoBoxWording[currentLanguage][reason];
    
    	switch(wording) {
  	case 'inputNone':
    	return infoBoxWording[currentLanguage]['outputNone'];
    	break;
  	case 'inputOrderStatus':
    	return infoBoxWording[currentLanguage]['outputOrderStatus'];
    	break;
  	case 'inputShippingStatus':
    	return infoBoxWording[currentLanguage]['outputShippingStatus'];
    	break;
  	case 'inputReadyForShipment':
    	return infoBoxWording[currentLanguage]['outputReadyForShipment'];
    	break;
  	case 'inputOtherRequest':
    	return infoBoxWording[currentLanguage]['outputOtherRequest'];
    	break;
  	case 'inputDamagedProduct':
    	return infoBoxWording[currentLanguage]['outputDamagedProduct'];
    	break;
  	case 'inputNotWorking':
    	return infoBoxWording[currentLanguage]['outputNotWorking'];
    	break;
  	case 'inputWrongProduct':
    	return infoBoxWording[currentLanguage]['outputWrongProduct'];
    	break;
 		case 'inputReceivedNotEverything':
    	return infoBoxWording[currentLanguage]['outputReceivedNotEverything'];
    	break;
  	case 'inputCancelOrder':
  		return infoBoxWording[currentLanguage]['outputCancelOrder']
  		break;
  	case 'inputReturnStatus':
  		return infoBoxWording[currentLanguage]['outputReturnStatus']
  		break;
  	case 'inputReturn':
  		return infoBoxWording[currentLanguage]['outputReturn']
  		break;
  	case 'inputCreditReturn':
  		return infoBoxWording[currentLanguage]['outputCreditReturn']
  		break;
  	case 'inputReceipt':
  		return infoBoxWording[currentLanguage]['outputReceipt']
  		break;
  	case 'inputPaymentReminder':
  		return infoBoxWording[currentLanguage]['outputPaymentReminder']
  		break;
  	case 'inputNoBill':
  		return infoBoxWording[currentLanguage]['outputNoBill']
  		break;
  	case 'inputDeleteAccount':
  		tempstring = infoBoxWording[currentLanguage]['outputDeleteAccount'];
			tempvar = tempstring.indexOf("<br><br>");
			if(localStorage.getItem('isPrivateCustomer') !== "1"){
				tempstring = tempstring.substring(0, tempvar);
			}
  		return tempstring;
  		break;
  	case 'inputCantLogin':
  		return infoBoxWording[currentLanguage]['outputCantLogin']
  		break;
  	case 'inputProductAdvice':
  		return infoBoxWording[currentLanguage]['outputProductAdvice']
  		break;
  	case 'inputLongerPayment':
  		return infoBoxWording[currentLanguage]['outputLongerPayment']
  		break;
    case 'inputOffer':
      return infoBoxWording[currentLanguage]['outputOffer']
      break;
  	case 'inputShippingStatusMailTemplate':
      return infoBoxWording[currentLanguage]['outputShippingStatusMailTemplate']
      break;
		case 'inputWrongProductMailTemplate':
			return infoBoxWording[currentLanguage]['outputWrongProductMailTemplate']
			break;
    case 'inputDeleteAccountDescriptionLabel':
      return infoBoxWording[currentLanguage]['outputDeleteAccountDescriptionLabel']
      break;
    case 'inputCantLoginDescriptionLabel':
      return infoBoxWording[currentLanguage]['outputCantLoginDescriptionLabel']
      break;
  	default:
    	return infoBoxWording[currentLanguage]['outputOtherRequest'];
		}      
  }
  
  
  
  var reasonsForNoSubject = ["DIY / Car", 
  													"Photo / Video", 
  													"PC / Smortphone / Gaming", 
  													"TV / Audio / HiFi",
                            "White goods / Home&Living / Sport",
                            "DIY / Auto",
                            "Foto / Video",
                            "PC / Smartphone / Gaming",  
                            "TV / Audio / HiFi", 
                            "Weisswaren / Home&Living / Sport",
                            "Bricolage / Voiture", 
                            "Photo / Vidéo", 
                            "PC / Smartphone / Jeux vidéo", 
                            "TV / Audio / HiFi", 
                            "Produits blancs / Maison & Vie / Sport",     
                            "Fai da te / Auto",    
                            "Foto / Video",    
                            "PC / Smartphone / Gioco",    
                            "TV / Audio / HiFi",    
                            "Elettrodomestici / Home&Living / Sport",                                                                      
 														"Ich möchte mein Kundenkonto löschen",
 														"Je souhaite supprimer mon compte client",
 														"Desidero cancellare il mio conto cliente",
 														"I’d like to delete my customer account",
 														"Ich komme nicht auf mein Benutzerkonto",
 														"Je n'arrive pas à accéder à mon compte d'utilisateur",
 														"Non riesco ad accedere al mio conto utente",
 														"I can’t access my customer account",
 														"Ich kann nicht per Rechnung bestellen",
 														"Non posso effettuare ordini su fattura",
 														"I can’t pay by invoice",
 														"Je n'arrive pas à effectuer de commande avec paiement sur facture",
                            "Offerte",
                            "Offre",
                            "Offerta",
                            "Offer"];  
  
  
                                                                                       
if (!(typeof $('#request_subject').val() === 'undefined' || $('#request_subject').val() == "")){
	mailFormOnly();
}

function mailFormOnly(){
		$('.request_ticket_form_id').hide();

	//Hide Mail Subject Field
  	$('#request_subject').hide();
  	$('#request_subject_label').hide();
	
    $('.form-field:not(.request_ticket_form_id)').show();
    $('input[name ="commit"]').show();
    $('.request_custom_fields_360014169819').insertBefore('.request_anonymous_requester_email');
		//$('.request_custom_fields_360014169819').hide()
    $('.contactDataTableContent').css({ "border-bottom": "0px solid #ddd" }); 
  
	//console.log("REQUEST SUBJECT IS: " + localStorage.getItem("requestReason"));
	hideOrderNumber();
  	contactInfo = 1;
    isActive = 1;
}


// Ticket Form Attachment
  
// Function to start observing node for mutations
var startObserveMutations = function (nodeSelector, options, callbackFunction) {
var node = document.querySelector(nodeSelector);
if (node) {
   var observer = new MutationObserver(callbackFunction);
   observer.observe(node, options);
  return observer;
  }
};
  
// Callback function to execute when mutations in form attachments or dropdown are observed:
// clear or select Attachment checkbox according to dropdown
var mutationObservedForm = function (mutationsList) {
	mutationsList.forEach(function (mutation) {
		if (mutation.type == 'childList') {
			setFormAttachmentCheckbox();
			}
	});
};

// Define some variables for requiring form attachments
var currentLanguage = $('html').attr('lang');
var errorMessageId = "";
var attachmentCheckboxField = 'request_custom_fields_360007967480';
var attachmentCheckboxId = '#' + attachmentCheckboxField;
var attachmentErrorNotification = setErrorMessage();
var formDropdownClass = '.request_custom_fields_360014169819';
var formObserveMutationOptions = { childList: true, subtree: true };
$('.request_custom_fields_360007967480').insertAfter('#request-attachments-pool');
var attachmentErrorElt = $('.' + attachmentCheckboxField + ' .notification-error');

// Clear or select checkbox according to dropdown and attachments:
// Set Attachment checkbox if no attachments required, or if attachments are required and at least one is uploaded, otherwise clear it
function setFormAttachmentCheckbox() {
	if (isFormAttachmentRequired()) {
		if ($('#request-attachments-pool .upload-item').length) {
			selectCheckbox(attachmentCheckboxId);
		}else {
			clearCheckbox(attachmentCheckboxId);
		}
	}else {
		selectCheckbox(attachmentCheckboxId);
	}
}

// Return true if dropdown option 'ABCD' is selected
function isFormAttachmentRequired() {
	if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') &&
	($(formDropdownClass + ' a.nesty-input').text() === 'Ich habe ein äusserlich beschädigtes Produkt erhalten' || $(formDropdownClass + ' a.nesty-input').text() === "I've received an externally damaged product" || $(formDropdownClass + ' a.nesty-input').text() === "Ho ricevuto un prodotto danneggiato esternamente" || $(formDropdownClass + ' a.nesty-input').text() === "J'ai reçu un produit endommagé à l'extérieur")){
		errorMessageId = currentLanguage + '1';
		console.log("ID IS: " + errorMessageId);
		attachmentErrorNotification = setErrorMessage();
		attachmentErrorElt.text(attachmentErrorNotification);
		return true;
	}
	if($(formDropdownClass + ' a.nesty-input').attr('aria-expanded') &&
	($(formDropdownClass + ' a.nesty-input').text() === 'Ich habe ein falsches Produkt erhalten' || $(formDropdownClass + ' a.nesty-input').text() === "I’ve received the wrong product" || $(formDropdownClass + ' a.nesty-input').text() === "Ho ricevuto un prodotto sbagliato" || $(formDropdownClass + ' a.nesty-input').text() === "J'ai reçu le mauvais produit")){
		errorMessageId = currentLanguage + '2';
		console.log("ID IS: " + errorMessageId);
		attachmentErrorNotification = setErrorMessage();
		attachmentErrorElt.text(attachmentErrorNotification);
		return true;
	}
	return false;
}

// Select checkbox
function selectCheckbox(eltselector) {
	$(eltselector).prop('checked', true);
}

// Clear checkbox
function clearCheckbox(eltselector) {
	$(eltselector).prop('checked', false);
}
                                                                                              
// If attachment checkbox field exists, select it,
// and watch for changes to attachments and dropdown
if ($(attachmentCheckboxId).length) {
	selectCheckbox(attachmentCheckboxId);
	startObserveMutations('#request-attachments-pool', formObserveMutationOptions, mutationObservedForm);
	startObserveMutations(formDropdownClass, formObserveMutationOptions, mutationObservedForm);
}

// Adjust attachment error notification
if (true) {
	attachmentErrorNotification = setErrorMessage();
	attachmentErrorElt.text(attachmentErrorNotification);
}
  
function setErrorMessage() {
 	switch(errorMessageId) {
  	case 'de1':
    	return 'Um dein Anliegen schnellstmöglich zu lösen, ist ein Foto des Schadens erforderlich. Bitte füge deshalb eine entsprechende Datei hinzu.';
  	case 'fr1':
    	return 'Afin de résoudre votre demande le plus rapidement possible, une photo des dommages est nécessaire. Veuillez donc ajouter un fichier correspondant.';
  	case 'it1':
    	return 'Per risolvere la vostra richiesta nel più breve tempo possibile, è necessaria una foto del danno. Pertanto si prega di aggiungere un file corrispondente.';
  	case 'en-US1':
    	return 'In order to solve your request as quickly as possible, a photo of the damage is required. Therefore please add a corresponding file.';
		case 'de2':
			return 'Um dein Anliegen schnellstmöglich zu lösen, benötigen wir ein Foto des falsch erhaltenen Produkts. Bitte füge deshalb eine entsprechende Datei hinzu.';
		case 'fr2':
			return "Afin de résoudre votre problème le plus rapidement possible, nous avons besoin d'une photo du produit mal reçu. Veuillez donc joindre un fichier approprié.";
		case 'it2':
			return 'Al fine di risolvere il suo problema il più rapidamente possibile, abbiamo bisogno di una foto del prodotto ricevuto in modo errato. Pertanto, si prega di allegare un file appropriato.';
		case 'en-US2':
			return 'In order to resolve your issue as soon as possible, we need a photo of the incorrectly received product. Therefore, please attach an appropriate file.';
  	default:
      return 'Um dein Anliegen möglichst effizient bearbeiten zu können, benötigen wir ein Foto des betroffenen Produktes. Bitte füge deshalb eine entsprechende Datei hinzu.';
	}
}

setFormAttachmentCheckbox();
clearCheckbox(attachmentCheckboxId);

setTimeout(function() { setFormAttachmentCheckbox() }, 500);



//Downvote-button Formular Hide Funktion

  /*var session = sessionStorage.getItem('Feedback');*/
  /*var urlBackup = '';*/

  if(document.referrer.indexOf(window.location.hostname) !== -1 && sessionStorage.getItem('Feedback').includes('1')){
     var referrer =  document.referrer;
     /*urlBackup = document.referrer;*/
     console.log(referrer);
  }

  /*if (document.referrer.indexOf('articles') !== -1 && sessionStorage.getItem('Feedback').includes('1')) {
    //document.referrer.indexOf('articles') !== -1 && 
      console.log('Contains Test');
      $('#HeaderID').html("Vielen Dank für dein Feedback.<br><div id = 'FeedbackText'>Wir werden auf dieses nicht antworten. Sollten Sie ein offenes Anliegen haben, bitten wir Sie, das Kontaktformular zu benutzen.</div>");
      //document.getElementById('HeaderID').innerHTML = "Vielen Dank für dein Feedback.<br><div id = 'FeedbackText'>Wir werden auf dieses nicht antworten. Sollten Sie ein offenes Anliegen haben, bitten wir Sie, das Kontaktformular zu benutzen.</div>";
      //document.getElementById('request_anonymous_requester_email').value ='sipp.kopf@web.de';
      $('.contactFormInfoText2').hide(); //Unterueberschrift
      $('.form-field:not(.request_ticket_form_id)').show(); // SchreibUns-Feld mit beschreibung usw
      //$('.nesty-input').text() = 'Anderweitige Anfrage';

      $('.form-field.select.optional.request_ticket_form_id').hide(); //Kundengruppe Option
      //$('.form-field.string.required.request_custom_fields_360014169819').hide(); // Grund der Anfrage
  
      //$('a.nesty-input').val('Anderweitige Anfrage');
      $('.request_custom_fields_360007585419').hide(); // Auftragsnummer Feld

      $('label[for="request-attachments"]').hide(); //Anhang Drop Ueberschrift
      $('#upload-dropzone').hide(); //Anhang Drop 
      $('input[name ="commit"]').show(); // Einreiche Button anzeigen
      $('#request_subject').text('Feedback Helpcenter');

      $('input[name="request[subject]"]').val('Feedback Helpcenter'); //Betreff gesetzt
      $('input[name="request[subject]"]').prop("readonly",true); //Betreff nur lesbar nicht aenderbar


      $('.request_custom_fields_360007585419').hide(); // Auftragsnummer
      $('request_anonymous_requester_email').val('sipp.kopf@web.de');//test mail
    
      $('a[class="nesty-input"]').text('Anderweitige Anfrage');
      

      $('input[name ="commit"]').show();
      $('.request_custom_fields_360014169819').insertBefore('.request_anonymous_requester_email');
		  //$('.request_custom_fields_360014169819').hide()
      $('.contactDataTableContent').css({ "border-bottom": "0px solid #ddd" }); 


      /*$('#request_subject_label').addClass('no-after'); //Requierd entfernen roten Stern TEST/////////////////////////////////
      $('form-field.string.required.request_subject').removeAttr('required');
      $('.form-field.required>label::after').hide();*/

      /*$('label[for="request_anonymous_requester_email"]').show(); //Mail Ueberschrift
      $('input[name="request[anonymous_requester_email]"]').show();
      $('.request_anonymous_requester_email').show();
      $('.form-field.string.required.request_anonymous_requester_email').show();
      $('.request_anonymous_requester_email').insertBefore('.form-field.string.required.request_subject');*/
      /*$('.form-field.string.required.request_subject').hide(); //betreff*/
      
      
      /*document.getElementById('requestForm').innerHTML ='<div class="form-field string required request_anonymous_requester_email"><label for="request_anonymous_requester_email">E-Mail Adresse</label><input type="text" name="request[anonymous_requester_email]" id="request_anonymous_requester_email" aria-required="true" /></div>';
*/


      /*$('.request_anonymous_requester_email').insertAfter('.request_custom_fields_360007585419');
      $('form-field.string.required.request_anonymous_requester_email').show();*/

      /*$('form-field.string.optional.request_custom_fields_360007585419').hide();*/
      /*$('.request_custom_fields_360014169819').hide() // Grund des Auftrags*/
        /*document.getElementsByClassName('nesty-input').value = 'Feedback Helpcenter';*/

      

      /*$('#request_subject').hide();
  		$('#request_subject_label').hide();
      $('.form-field.select.optional.request_ticket_form_id').hide();
      $('.form-field.string.required.request_anonymous_requester_email').show();
      

		$('.request_ticket_form_id').hide();

	  //Hide Mail Subject Field

      /*$('.form-field:not(.request_ticket_form_id)').show();
      $('input[name ="commit"]').show();
      //$('.request_custom_fields_360014169819').insertBefore('.request_anonymous_requester_email');
      $('.contactDataTableContent').css({ "border-bottom": "0px solid #ddd" }); 

			$('.contactDataTable').hide();
			$('.contactFormTextNoBorder').hide();
			$('.contactFormText').hide();
			//$('.request_custom_fields_360014169819').hide();*/

      /*$('.contactFormInfoText2').hide();
      $('.request-form').show();
      $('.form-field string required request_anonymous_requester_email').show();
      $('.request-form .footer').hide();*/
      /*var infoText = $('.request_custom_fields_360014169819' + ' a.nesty-input').text('Privatkunden');
       		showContactInfo();
  		    contactInfo ++;
 
      $('.form-field string  optional  request_custom_fields_360007585419').css("display", "block");                                                                                
  	  setZopimTag(); 

      $('#request_subject').hide();
  		$('#request_subject_label').hide();
  
  }*//*else if( txtFeedback !== 0 && document.referrer.indexOf('requests') !== -1){
      console.log('Contains Test2');

      window.location.href = urlBackup;
      console.log(urlBackup);

  }*/
  /*else{
        $('.form').show();
        $('.Header').show();
        $('#FeedbackVote').hide();*/
        //sessionStorage.setItem('Feedback', 0);

        /*document.getElementById('HeaderID').innerHTML ="";

        // Ticket Form Changes

        $('.request_anonymous_requester_email').insertBefore('.request_custom_fields_360007585419');
        $('.contactFormNote').insertAfter('.request_custom_fields_360014169819');
        $('.form-field:not(.request_ticket_form_id)').hide();
        $('.request_custom_fields_360014169819').show();
        $('.request-form .footer').hide();
        $('input[name ="commit"]').hide();
        sessionStorage.setItem('Feedback', 0);

  }*/

  function saveFeedback() {
    var txtFeedback =  document.getElementById("FeedbackBox").value;

    console.log(txtFeedback);
  }

/*function goPreviousPage(){
  /*sessionStorage.setItem('lastPage', 0);
  sessionStorage.getItem('lastPage');
  console.log(referrer);
  window.location.href = referrer;
}*/

/*if(sessionStorage.getItem('lastPage').includes('2')){
      window.location.href = referrer;
      sessionStorage.setItem('lastPage', 0);
      console.log(referrer);
}*/


/*if($('#FeedbackBox').val() !== ''){}*/

  $('#FeedbackButton').on('click',function(){
    if($('#FeedbackBox').val() !== '' && sessionStorage.getItem('Feedback').includes('1')){
      console.log('IF');
      saveFeedback();
      window.location.href = referrer;
    } 
    else{
      console.log('ELSE');
      alert('Bitte geben Sie Ihr Feedback ein.');
      /*.log(referrer);
      console.log(urlBackup);
      window.location.href = urlBackup;*/
    
    }
  });


</script>